<%# TITLE %>
<% @title="Apprentissages et Neurosciences | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-singapour" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner-singapour.jfif' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">MÉTHODE DE SINGAPOUR</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 supers héros", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "méthode de singapour", apprentissages_boosters_methode_de_singapour_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>

<div class="container">
    <h2 style="font-weight: bold; text-align:center">Acquérir les fondamentaux grâce au meilleur enseignement du monde.</h2>
</div>


<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour ">
                <h2>La méthode de Singapour ?</h2>
                <p>
                • Une méthode pour enseigner les mathématiques du CP à la 6ème.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Origine</h2>
                <p>
                • Une méthode conçue au début des années 80 par une équipe de professeurs de mathématiques mandatée par
                 le Ministère de l'Éducation de Singapour, sur la base des recherches menées 
                par des pédagogues du monde entier (Jerome Bruner, Jean Piaget, George Pólya et Maria Montessori...).
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Pourquoi a-t-elle le vent en poupe ?</h2>
                <p>
                • La cité-État caracole en tête des palmarès internationaux en matière de mathématiques.
                </p>
                <p>
                • Sa réputation est devenue mondiale quand, en 1995, Singapour s'est classée, 
                pour la première fois, première aux évaluations TIMSS (Trends in International 
                Mathematics and Science Study) puis en 2008, aux évaluations PISA2. Depuis cette 
                date, Singapour s'est classée systématiquement première ou seconde à toutes les nouvelles évaluations.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Quels pays utlisent la méthode de Singapour</h2>
                <p>
                • En 2017, des écoles de plus de 60 pays dans le monde ont choisi la méthode de Singapour
                 pour enseigner les maths. Deux grands modèles d'adoption se distinguent. Dans les démocraties
                 , comme la France, le Chili, l'Espagne, la Grande-Bretagne, la Suède, les
                  États-Unis ou encore le Canada, des acteurs privés convainquent les autorités d'opérer des 
                  expérimentations, voire une transition partielle puis parfois complète. 
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>





<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>L'approche « concrète-imagée-abstraite » & verbalisation</h2>
                <%= image_tag("SSS-méthode.jpg", class: ".img-fluid img-motricite image-activite") %>
                <p style="text-align:center; font-size: 8px; margin-bottom:5px">Source: www.lasalledesmaitres.com</p>
                <p>
                • Le principal enjeu de l'enseignement de cette matière au primaire est d'aider les élèves
                 à passer du monde concret qui leur est familier à une vision abstraite,
                déterminée par des règles, des lois et des principes immuables. 
                </p>
                <p>• Pour ce faire, la méthode définit trois étapes:</p>
                <p><strong>Étape 1: "concrète"</strong></p>
                <p>
                • Les élèves commencent à découvrir les mathématiques en manipulant des objets, 
                comme des cubes ou des jetons.
                </p>
                <p><strong>Étape 2: "imagée"</strong></p>
                <p>
                • Dans un deuxième temps, les objets sont remplacés par des images qui les représentent.
                </p>
                <p>• Ainsi, par exemple, une pile de dix cubes représente le nombre 10: c'est "l'étape imagée".</p>
                <p><strong>Étape 3: "abstraite"</strong></p>
                <p>
                • Enfin, lorsque les élèves se sont familiarisés avec les concepts de la leçon, ils ne travaillent plus 
                qu'à l'aide de chiffres et de symboles: c'est l'étape abstraite.
                </p>
                <p style="text-align:center">......................</p>
                <p><strong>La verbalisation</strong> permet d’approfondir la compréhension du problème. Elle permet à l’enfant de 
                décrire et d’expliquer ce qui l’a aidé à aboutir à la résolution du problème.</p>
            </div>
        </div>
    </div>
</div>


<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Le principe de la méthode</h2>
                <p>
                • Le principe de la méthode de Singapour est simple: étudier en profondeur les notions de base
                (addition, multiplication, fractions, nombres décimaux, etc.) jusqu'à ce que les élèves les maîtrisent 
                complètement. 
                </p>
                <p>
                • Pour cela, les concepts sont expliqués clairement et brièvement, puis mis en application 
                dans la résolution de problèmes. En résolvant de nombreux énoncés différents, les élèves comprennent
                en profondeur les démarches mathématiques.
                </p>
                <p></p>
            </div>
        </div>
    </div>
</div>