<%# TITLE %>
<% @title="Apprentissages et Neurosciences | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-singapour" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>)">
    <div class="container">
        <h1>HELLO HOUSTON LEARNINGS</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 supers héros", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "neurosciences", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "activités recommandées", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>





<div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div style="text-align:center">
                <h1 style="font-weight:bold; margin-top:20px">ACTIVITÉS RECOMMANDÉES PAR 
                LES NEUROSCIENCES POUR BOOSTER L'ACQUISITION D'APPRENTISSAGES ET LE QI</h1>
            </div>
        </div>
    </div>
</div>


<div class="container" style="">
    <div class="row">
        <div class="col-12 neuro-p-valeur">
                <div class="pro-value neuro-citations-2">
                    <p>Plus le contrôle de soi, la concentration et la mémoire de travail sont performants,
                    plus il est aisé de faire l'acquisition de nouveaux apprentissages et plus le QI est
                    élevé. </p>
                    <p>Les neurosciences sont en capacité de prouver que certaines activités améliorent 
                    le contrôle de soi, la concentration et la mémoire de travail.</p>
                </div>
        </div>
    </div>
</div>


<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour ">
                <h2>Mission de la méthode de Singapour</h2>
                <p>
                • Une méthode pour enseigner les mathématiques du CP à la 6ème.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Mission de la méthode de Singapour</h2>
                <p>
                • Une méthode pour enseigner les mathématiques du CP à la 6ème.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Mission de la méthode de Singapour</h2>
                <p>
                • Une méthode pour enseigner les mathématiques du CP à la 6ème.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Mission de la méthode de Singapour</h2>
                <p>
                • Une méthode pour enseigner les mathématiques du CP à la 6ème.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>