
<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> </p>     
        </div>
    </div>
</div>

<%# INTRO %>
<div class="container">

    <div class="row dev-title">
            <div>
                <h2>"L'enfant n'est pas un vase qu'on remplit mais un feu qu'on allume" - <span class="citation">Montaigne...</span></h1>
            </div>
    </div>   
</div>

<%# BLOCKS %>
<div class="container">
    <div class="row">

<%# NATURE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissage_nature_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_nature.jpg' %>)">
                        <p>Nature</p>
                    </div>
                <% end %>
            </div>

<%# LECTURE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissage_lecture_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_reading.jpg' %>)">
                        <p>Lecture</p>
                    </div>
                <% end %>
            </div>
  
<%# TEMPS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissage_temps_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_time.jpg' %>)">
                        <p>Temps</p>
                    </div>
                <% end %>
            </div>  




<%# MATH   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissage_mathematiques_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_math.jpg' %>)">
                        <p>Mathématiques</p>
                    </div>
                <% end %>
            </div>



<%# MUSIQUE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to  apprentissages_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_music.jpg' %>)">
                        <p>Musique</p>
                        <p class="coming-soon-learnings">Coming soon!</p>
                    </div>
                <% end %>
            </div>


<%# CUISINER   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to  apprentissages_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_cooking.jpg' %>)">
                        <p>Cuisiner</p>
                        <p class="coming-soon-learnings">Coming soon!</p>
                    </div>
                <% end %>
            </div>

<%# PUZZLE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_puzzle_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_jigsaw.jpg' %>)">
                        <p>Puzzle</p>
                    </div>
                <% end %>
            </div>

<%# CALCUL MENTAL  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_calcul_mental.jpg' %>)">
                    <p>Calcul mental</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# SPORTS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_sports.jpg' %>)" >
                    <p>Sports</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>


            



            



<%# ROBOTICS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_robotics.jpg' %>)">
                    <p>Robotique</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>






            

<%# DISOVERING THE WORLD   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_world.jpg' %>)">
                    <p>Découverte du monde</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>

<%# RIGHT / LEFT   ********************************************* %>

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_right_left.jpg' %>)">
                    <p>Droite / gauche</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>



<%# TIDYING UP   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_tidy_up.jpg' %>)">
                    <p>Rangement</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# CODING   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_coding.jpg' %>)">
                    <p>Code</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# SCIENCE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Science</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# DRAWING   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_drawing.jpg' %>)">
                    <p>Dessin</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# DRAWING   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_strategy.jpg' %>)">
                    <p>Jeux de stratégie</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# CASSE-TÊTES   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_casse_tete.jpg' %>)">
                    <p>Casse-têtes</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>


<%# ÉMOTIONS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Émotions</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# PEINTURE  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_painting.jpg' %>)">
                    <p>Peinture</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# CRÉATIVITÉ  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_creativity.jpg' %>)">
                    <p>Creativité</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# LES 5 SENS  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_5_senses.jpg' %>)">
                    <p>Les 5 sens</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# MÉMOIRE ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_memory.jpg' %>)">
                    <p>Mémoire</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# AUTONOMIE ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_autonomie.jpg' %>)">
                    <p>Autonomie</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# LANGUE ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_langue.jpg' %>)">
                    <p>Langue</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>

<%# JEU DE CONSTRUCTION ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_construction.jpg' %>)">
                    <p>Jeu de construction</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>


<%# MÉDITATION EN PLAINE CONSCIENCE ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'AAA_CARD_5_meditation.jpg' %>)">
                    <p>Méditation</p>
                    <p class="coming-soon-learnings">Coming soon!</p>
                </div>
            </div>
           
            
        </div>
    </div>