
<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "3 alliés", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>

<%# INTRO %>
<div class="container">
    <div class="row ">
        <div class="col-12">
            <div dev-title>
                <h1 style="text-align:center; font-weight:bold">3 ALLIÉS POUR BOOSTER LES APPRENTISSAGES</h1>
                <p style="text-align:center; margin-bottom:8px; margin-top:20px">"La façon dont nous présentons la connaissance 
                à nos sens peut profondément modifier son acceptation." - Idriss ABERKANE</p>
                <p style="text-align:center;">"Notre cerveau peut soulever des concepts encombrants 
                s'ils lui sont présentés ergonomiquement !" - Idriss ABERKANE</p>
            </div>
        </div>
    </div>   
</div>


<%# BLOCKS %>
<div class="container" style="margin-top:30px">
        
        <div class="row">

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_neurosciences_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'HHH-neurosciences.jpg' %>)" >
                        <p>Les neurosciences</p>
                    </div>
                <% end %>
            </div>
            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_methode_de_singapour_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'HHH-singapour.jpg' %>)" >
                        <p>La méhode de Singapour</p>
                    </div>
                <% end %>
            </div>    
            
           
            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_de_montessori_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'MMM-montessori-banner.jpg' %>)" >
                        <p>L'approche Montessori</p>
                    </div>
                <% end %>
            </div>
    
        </div>
    </div>


<%# **************************************
LES 3 FANTASTIQUES
LES 3 FANTASTIQUES
LES 3 FANTASTIQUES
************************************** %>

<%= render 'shared/les_fantastiques'  %>