<% @title="Apprentissage musique - enfant de 2 à 6 ans | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-music-banner.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-bottom:0px">APRRENTISSAGE DE LA MUSIQUE PAR LE JEU POUR LES ENFANTS DE 2 À 6 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "musique", apprentissage_musique_jeu_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>







<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container">
    <div class="row">


<%# ************************************************************************************************************* %>



        <div class="col-lg-9" style="margin-bottom:40px">



<%# ************************************************************************************************************* %>


<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu-general">


                <div class="container">
                    <div class="row" >   


                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Bienfaits</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Comptines</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Instruments de musique</p>
                                </div>
                            </a>
                        </div>  

                        

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-7" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Réveil en musique</p>
                                </div>
                            </a>
                        </div>   

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Études sur la musique</p>
                                </div>
                            </a>
                        </div>   

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-6" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Aller plus loin...</p>
                                </div>
                            </a>
                        </div>  

                        <%= render 'shared/button_towards_learning'  %> 




                    </div>
                </div>


            </div>


        </div>
    </div>
</div>










<!-- Nature > intro -->
<!-- Nature > intro -->
<div class="container">
    <div class="row">
        <div class="col-12 musique-intro">
        
            <blockquote>
                <h2 class="learnings-introduction-citation" style="font-weight: normal !important">
                    <strong>Faire de la musique favorise les apprentissages scolaires</strong>. L’explication la plus probable 
                    est qu’apprendre la musique améliore les fonctions dites exécutives. Ces dernières regroupent 
                    un ensemble d’habiletés impliquées dans la planification, la mémoire de travail, l’inhibition
                    de réponses inappropriées et la concentration. Les fonctions exécutives sont dites transversales
                    parce qu’elles opèrent de la même façon en lecture, en mathématiques, dans l’apprentissage
                    d’une langue étrangère ou dans l’apprentissage de la musique. Le développement de ces 
                    fonctions exécutives serait favorisé par l’apprentissage de la musique, surtout durant 
                    le développement, y compris pendant l’adolescence.

                </h2>
            </blockquote>
            <cite>Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) (p. 37-38). Odile Jacob.</cite>

        </div>
    </div>
</div>
<!-- Nature > intro -->
<!-- Nature > intro -->



<strong></strong>



<%# **************************************
APPRTEMENT - MAISON
************************************** %>

<div class="container " style="margin-top: 10px">
    <div class="row">
        <div class="col-12">


            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les bienfaits de la musique pour les enfants</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                
                <div class="container">
                    <div class="row">


                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique améliore la capacité d’apprendre des enfants.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle permet de communiquer son amour.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Les chansons et les comptines développent le langage.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique favorise la créativité.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle permet à l’enfant de découvrir son corps.
                                    </li>
                                </ul>
                            </div>
                        </div>   

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Cela développe son sens musical.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Cela offre des occasions de socialiser.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique peut lui permettre de découvrir le monde.
                                    </li>
                                </ul>
                            </div>
                        </div>  


                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle aide à calmer et à gérer les émotions.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        
                        


                           



                            
                            



                    </div>
                </div> 

            </div>


        </div>
    </div>
</div>





<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




      <%= render 'shared/menu_all_learnings'  %>      




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>













<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>

        </div>

<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>








<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>



        <div class="col-12 col-lg-3 promo" >
            

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school)  au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3QzvU41rZrs" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) : camp de trappeurs de l'école Skoven au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jkiij9dJfcw" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) finlandaise</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HG1gQYeln8I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>






            
<%# VIDEO 1 > SINGAMPOUR    %>
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>



        </div>

    


<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>


<%# *************************************** %>

    </div>
</div>