<% @title="Apprentissage par le jeu de la Lecture pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>
<% content_for :head do %>

<%# *************************DESCRIPTION*************************************************** %>
    <meta name="description" content="L'apprentissage par le jeu de la lecture pour les enfants de 2 à 6 ans : 
donnez à votre enfant le goût de la lecture. Initiez votre enfant à la lecture à partir de 3 ans
 avec les lettres rugueuses.">
<% end %>
<%# *************************DESCRIPTION*************************************************** %>

<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-lecture-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>



<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'LLL_reading.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12 learning-banner-flex">
                <h3 class="learning-boite-idee">La boîte à idées !</h3>
                <h1 style="margin-bottom:0px">L'APPRENTISSAGE PAR LE JEU DE LA LECTURE POUR LES ENFANTS DE 2 À 6 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane",  data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "lecture", apprentissage_lecture_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>



<%= render 'shared/the_selection'  %>

<%# GOLAL > FIRST ***********************************************************************
GOLAL > FIRST ***********************************************************************
GOLAL > FIRST *********************************************************************** %>

<div class="container">
    <div class="row">


        <div class="col-lg-9">

<%# COLONNE DE DROITE ***********************************************************************
COLONNE DE DROITE ***********************************************************************
COLONNE DE DROITE *********************************************************************** %>



<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">



            <div class="box-AAA-menu-general">


                <div class="container">
                    <div class="row" >   


                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" >
                                    <p >Les bienfaits</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Susciter l'intérêt</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                        <p>Type de livres</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                        <p>Comment lire ?</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4 " style="margin-bottom:20px;">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                        <p>Apprendre à lire</p>
                                </div>
                            </a>
                        </div>    

                        <%= render 'shared/button_towards_learning'  %>  



                    </div>
                </div>


            </div>


        </div>
    </div>
</div>



<%# INTRO (LECTURE) > VIDEO   %>
            
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2 class="reclame-video-title intro-video-musique">Les lettres rugueuses (Montessori) et l'apprentissage de la lecture</h2>
                        <h2 class="reclame-video-title intro-video-musique" style="font-size:10px;">Les lois naturelles de l'enfant - Céline Alvarez</h2>
                        <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>










<%# **************************************
BIENFAITS
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 10px">
    <div class="row">
        <div class="col-12">


            <div class="box-AAA-menu">


                <div class="button-ancre">
                        <p id="ancre-1">Menu</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les bienfaits de la lecture pour votre enfant </h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                
                
                <div class="container">
                    <div class="row" > 


                        
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Favorise le développement de son langage.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Encourage les interactions entre vous et votre enfant 
                                    et favorise votre lien d'attachement.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Présenté tôt, le livre devient une source d’amusement et de plaisir. 
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Éveille son intérêt pour l'écrit.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Aide à developper l'imagination et la curiosité de votre enfant.
                                    </li>
                                </ul>
                            </div>
                        </div>   



                    </div>
                </div>


            </div>


        </div>
    </div>
</div>



<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>
<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>
<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>






<!-- Apprendre à lire-->
<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- Apprendre à lire-->


<%# **************************NIVEAU BORDER************************************ %>
            <div class="box-AAA-menu ">
<%# **************************NIVEAU BORDER************************************ %>


                <div class="button-ancre">
                        <p id="ancre-2">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Susciter l'intérêt de votre enfant pour la lecture</h2>



<%# *****************container*************** %>   
            <div class="container">
                    <div class="row">
<%# *****************container*************** %>   


                        


<%# **************************************
SUSCITER L'INTÉRÊT > CONTACTS
************************************** %>
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding ">
                                            <h3>Multipliez les points de contact avec le livre</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <ul>
                            <li>
                            Avant le coucher
                            </li>
                            <li>
                            Avant la sieste
                            </li>
                            <li>
                            Avant le dîner
                            </li>
                            <li>
                            Au moment du bain (livre en plastique)
                            </li>
                        </ul>
                                
                                    
<%# **************************************
SUSCITER L'INTÉRÊT > CHOIX DE SON LIVRE
************************************** %>
                        <div class="col-12 col-12-sous-rubrique">
                            <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                <h3>Laissez lui choisir son livre</h3>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                        C'est normal pour un tout-petit de vouloir souvent lire 
                                        le même livre. Cela le sécurise et lui permet de mieux comprendre
                                            l’histoire à chaque nouvelle lecture.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

<%# ***********************************************
SUSCITER L'INTÉRÊT > ENVIRONNEMENT MONTESSORI
*************************************************** %>

                        <div class="col-12 col-12-sous-rubrique">
                            <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                <h3>Environnement Montessori</h3>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10 img-chambre" >
                                    <%= image_tag("AAA-lecture-montessori.jpg", class: "img-fluid img-motricite img-nature") %>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>

                        <ul>
                            <li>
                            Faites en sorte qu’il puisse prendre ses livres seul.
                            </li>
                            <li>
                            Organisez un coin lecture.
                            </li>
                        </ul>
                            

<%# ***********************************************
NEUROSCIENCES (PLASTICITÉ CÉRÉBRALE) & EXEMPLARITÉ
*************************************************** %>

                            <div class="col-12 col-12-sous-rubrique">
                                <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                    <h3>Les neurosciences (plasticité cérébrale) & l'exemplarité</h3>
                                </div>
                            </div>

                            <ul>
                                <li>
                                Lisez vous-même des livres ou des magazines pour votre plaisir. 
                                </li>
                                <li>
                                <strong>L'enfant est programmé pour vous mimer, copier, imiter...</strong> 
                                C'est une véritable éponge. Les expériences quotidiennes de l'enfant s'encodent
                                    et structurent directement l'architecture de son cerveau.
                                </li>
                            </ul>
                        


<%# *****************container*************** %>   
                    </div>
                </div>
<%# *****************container*************** %>   

<%# **************************NIVEAU BORDER************************************ %>
            </div>
<%# **************************NIVEAU BORDER************************************ %>

<!-- Apprendre à lire-->
        </div>
    </div>
</div>
<!-- Apprendre à lire-->







<%# **************************************
TYPE DE LIVRES
************************************** %>
<%# **************************************
TYPE DE LIVRES
************************************** %>
<%# **************************************
TYPE DE LIVRES
************************************** %>






<!-- Apprendre à lire-->
<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- Apprendre à lire-->

<%# **************************NIVEAU BORDER************************************ %>
            <div class="box-AAA-menu ">
<%# **************************NIVEAU BORDER************************************ %>



                <div class="button-ancre">
                        <p id="ancre-3">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Quel type de livre choisir pour les enfants de 1 à 3 ans?</h2>

<%# *****************container*************** %>              
            <div class="container">
                    <div class="row">
<%# *****************container*************** %> 

                        


<%# **************************************
TYPE DE LIVRES > LIVRES COLORÉS
************************************** %>
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Des livres colorés</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                        Illustrations concrètes est facile à comprendre.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                                    
<%# **************************************
TYPE DE LIVRES > QUOTIDIEN
************************************** %>
                        <div class="col-12 col-12-sous-rubrique">
                            <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                <h3>Histoires simples - quotidien de votre enfant</h3>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-lecture-type-livre.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>

                                    <ul>
                                        <li>
                                        Les émotions, la garderie, le pot, l'arrivée d'une soeur ou d'un frère.
                                        </li>
                                        <li>
                                        En plus d'attirer l'attention, ces histoires pourraient servir de 
                                        <a href="https://fr.wikipedia.org/wiki/Biblioth%C3%A9rapie#:~:text=La%20biblioth%C3%A9rapie
                                        %20d%C3%A9signe%20en%20premier%20lieu%20les%20vertus%20th%C3%A9rapeutiques%20de%20la%20lecture."
                                            target="_blank" class="link-texte">bibliothérapie</a>.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

<%# ***********************************************
TYPE DE LIVRES > AIMER
*************************************************** %>

                        <div class="col-12 col-12-sous-rubrique">
                            <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                <h3>Des livres que votre enfant aime. (Thématique de prédilection)</h3>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                        Chaque enfant à un centre d'intérêt comme la nature,
                                            les voitures, les chevaux, les chiens, les dinosaures, un dessin animé...
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                                

<%# *****************container*************** %>                        
                    </div>
                </div>
<%# *****************container*************** %> 

<%# **************************NIVEAU BORDER************************************ %>
            </div>
<%# **************************NIVEAU BORDER************************************ %>

<!-- Apprendre à lire-->
        </div>
    </div>
</div>
<!-- Apprendre à lire-->


   

<%# **************************************
COMMENT LIRE?
************************************** %>
<%# **************************************
COMMENT LIRE?
************************************** %>
<%# **************************************
COMMENT LIRE?
************************************** %>

<%# **************************NIVEAU BORDER************************************ %>


<!-- Apprendre à lire-->
<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- Apprendre à lire-->

<%# **************************NIVEAU BORDER************************************ %>
            <div class="box-AAA-menu ">
<%# **************************NIVEAU BORDER************************************ %>
                
                <div class="button-ancre">
                        <p id="ancre-4">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Comment lire un livre à un tout-petit ?</h2>


<%# *****************container*************** %>
            <div class="container">
                    <div class="row">
<%# *****************container*************** %>

                        


<%# **************************************
COMMENT LIRE? > CHOIX DE L'ENFANT
************************************** %>
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Encouragez l'enfant à choisir son livre.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Vous boosterez ainsi son intérêt pour la lecture.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
<%# **************************************
COMMENT LIRE? > RYTHME + ATTENTION
************************************** %>
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Adaptez-vous à son rythme et à sa capacité d’attention.  </h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Un enfant à une attention limitée.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
COMMENT LIRE? > LIRE LE VRAI TEXTE
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Lisez le vrai texte, car cela permet à votre tout-petit de 
                                            découvrir un vocabulaire varié.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Aidez l'enfant à comprendre les mots en les expliquant.
                                                    </li>
                                                    <li>
                                                    Reformulez avec des mots simples le passage que vous venez de lire.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


<%# ***********************************************
COMMENT LIRE?> PARTICIPATION
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Faites-le participer activement à la lecture.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                     Posez-lui des questions sur l’histoire et les personnages.  
                                                    </li>
                                                    <li>
                                                    Reliez l’histoire à son quotidien (ex. : histoire d’un enfant 
                                                    qui ne veut pas dormir ou qui fête son anniversaire).
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
COMMENT LIRE? > PERSONALISER L'HISTOIRE
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Personnalisez l’histoire.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Faites de votre enfant le personnage principal de l’histoire
                                                     et remplacez le nom des autres personnages par le nom de ses
                                                      amis ou des membres de sa famille.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


<%# ***********************************************
COMMENT LIRE? > SUIVEZ DU DOIGT LES PHRASES
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Suivez du doigt les phrases. </h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Vous lui apprenez ainsi que vous vous fiez aux lettres, 
                                                    et non aux illustrations pour lire.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# *******************************************************
******************************************************* %>


                              




<%# *****************container*************** %>
                    </div>
                </div>
<%# *****************container*************** %>

<%# **************************NIVEAU BORDER************************************ %>
            </div>
<%# **************************NIVEAU BORDER************************************ %>


<!-- Apprendre à lire-->
        </div>
    </div>
</div>
<!-- Apprendre à lire-->




<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>
<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>
<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>

<!-- Apprendre à lire-->
<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- Apprendre à lire -->

            <%# **************************NIVEAU BORDER************************************ %>
            <div class="box-AAA-menu ">
            <%# **************************NIVEAU BORDER************************************ %>

                <div class="button-ancre">
                        <p id="ancre-5">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Apprendre à lire à partir de 3 ans avec l'approche Montessori</h2>

<%# *****************container*************** %>
                <div class="container">
                    <div class="row">
                        
<%# *****************container*************** %>



<%# **************************************
APPRENDRE À LIRE > LETTRES RUGUEUSES
************************************** %>
                                    <%# <div class="col-12 col-12-sous-rubrique"> %>
                                    <div class="col-12 col-12-sous-rubrique" style="margin-bottom: 10px">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Montessori & les lettres rugueuses</h3>
                                        </div>
                                    </div>

<%# ********************************************************
• VIDEO > CÉLINE ALVAREZ > ENFANT DE 3 ANS
******************************************************** %>
                                    
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-8">
                                                <h4 style="font-size:14px;text-align:center;font-weight:bold;">Vidéo réalisée par Céline Alvarez, la neuropédagogue qui fait 
                                                des miracles avec les enfants. 
                                                </h4>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                    

                                    <div class="container" style="margin-bottom: 30px">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                                <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>                                      
                                    
                                        <ul>
                                            
                                            <li>
                                            Les lettres rugueuses sont des lettres d'un relief rugueux 
                                            que l'on sent bien au toucher car cela contraste avec la surface lisse sur
                                                lesquelles elles sont en relief.
                                            </li>
                                            <li>
                                            Elles permettent d'aborder les lettres dans une expérience complète associant 
                                            plusieurs sens : la vue, le toucher et l'ouïe.
                                            </li>
                                            <li>
                                            La manipulation de ces lettres offre la possibilité à l’enfant d’apprendre le son 
                                            et la forme des lettres simultanément, et ce, indépendamment du nom des lettres qui peut 
                                            desservir la lecture. (exemple : si en voyant le mot FIL l’enfant prononce le nom des lettres F, I et L, 
                                            il n’entend pas le mot "fil" comme lorsqu’il prononce successivement "fff" , " iii", "lll".
                                            </li>
                                            <li>
                                            Cette approche des lettres prépare aussi à l’écriture des lettres cursives.
                                            </li>
                                            <li>
                                            ...
                                            </li>
                                        </ul>
                                    
                                        
                                   



                                    


            


<%# *****************container*************** %>                              
                            </div>
                        </div>
<%# *****************container*************** %>

<%# **************************NIVEAU BORDER************************************ %>
                    </div>
<%# **************************NIVEAU BORDER************************************ %>

<!-- Apprendre à lire -->                   
                </div>
            </div>
        </div>
<!-- Apprendre à lire -->




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




      <%= render 'shared/menu_all_learnings'  %>      




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>



<!-- col-lg-9 -->
</div>
<!-- col-lg-9 -->


<%# COLONNE DE DROITE ***********************************************************************
COLONNE DE DROITE ***********************************************************************
COLONNE DE DROITE *********************************************************************** %>

        
        <div class="col-12 col-lg-3 promo" >



<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            
<%# VIDEO 1 > SINGAPOUR    %>
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>




        </div>
        


<%# GOLAL > LAST ***********************************************************************
GOLAL > LAST ***********************************************************************
GOLAL > LAST *********************************************************************** %>

    </div>
</div>


