<%# TITLE %>
<% @title="Les 4 piliers de l'apprentissage (Stanislas Dehaene) | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 supers héros", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "neurosciences", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "les 4 piliers de l'apprentissage", apprentissages_boosters_neurosciences_4_piliers_apprentissage_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>


<%# BLOCKS %>
<div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_neuroergonomie.jpg' %>)" >
                        <p >Neuroergonomie</p>
                    </div>
                <% end %>
            </div>
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_4_piliers_apprentissage_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_piliers.jpg' %>)" >
                        <p style="color:#03bddf">4 piliers de l'apprentissage</p>
                    </div>
                <% end %>
            </div>    
            
           
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_activites_qi_concentration_controle_de_soi_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_learning.jpg' %>)" >
                        <p>Activités recommandées</p>
                    </div>
                <% end %>
            </div>
        </div>
</div>


<%# BANNER %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="banner-4-piliers" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
            url(<%= asset_path 'banner-4-piliers.jpg' %>)">
                <div>
                <h1 >LES 4 PILIERS DE L'APPRENTISSAGE</h1> 
                <h3 style="text-align: center">(Stanislas Dehaene)</h3>
                </div>
            </div>      
        </div>  
    </div>
</div>



<%# <div class="container">
    <div>
    <h1 style="text-align:center; font-weight:bold; margin-top:20px">LES 4 PILIERS DE L'APPRENTISSAGE</h1>
    <p style="text-align:center;">(Stanislas Dehaene)</p>
</div>
</div> %>




<div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div>
                <ul>
                    <li>Au fil de son évolution, notre cerveau s’est doté de <strong>quatre fonctions majeures</strong> qui maximisent la vitesse
                        avec laquelle nous parvenons à extraire des informations de notre environnement. </li>
                    <li style="margin-top:10px">Stanislas Dehaene les appelle <strong>les quatre piliers de l’apprentissage</strong>, parce que chacun d’eux est indispensable à nos 
                        constructions mentales : qu’un seul de ces piliers chancelle et c’est l’ensemble de l’édifice qui vacille.
                        Inversement, chaque fois que nous avons besoin d’apprendre, et d’apprendre vite, nous pouvons nous appuyer
                        sur eux pour optimiser nos efforts.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container box-container-singapour" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <h2>L'attention</h2>
                <ul>
                    <li>
                    Amplifie l’information sur laquelle nous nous concentrons
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <h2>L'engagement actif</h2>
                <ul>
                    <li>
                    Un algorithme qu’on appelle également « curiosité », et qui incite notre cerveau à évaluer
                 sans relâche de nouvelles hypothèses.
                    </li>
                    <li>
                    Être intéressé et actif.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <h2>Le Retour sur erreur</h2>
                <ul>
                    <li>
                    Compare nos prédictions avec la réalité et corrige nos modèles du monde.
                    </li>
                    <li>
                    Retour d'information rapide.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <h2>La consolidation</h2>
                <ul>
                    <li>
                    Automatise et fluidifie ce que nous avons appris, notamment pendant le sommeil.
                    </li>
                    <li>
                    Régularité et répétition.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>











<div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div>
            
            </div>
        </div>
    </div>
</div>
