<% @title="Apprentissage nature - enfant 2 à 6 ans | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-nature-banner.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">NATURE</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "nature", apprentissages_nature_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>



<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu-general">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p >Appartement / Maison</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p >Balcon / Jardin</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Activités en extérieur</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Pédagogies</p>
                                </div>
                            </a>
                        </div>   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside" style="background-color:#03bddf !important">
                                    <p>Aller plus loin...</p>
                                </div>
                            </a>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************
APPRTEMENT - MAISON
************************************** %>

<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Appartement - Maison</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Chambre de l'enfant</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="container cont-chambre">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-chambre-1.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                            <ul>
                                <li>
                                Créer un environnement où la nature est sublimée. (sens de la vue)
                                </li>
                                        <ul>
                                            <li>Des photos de jeunes animaux avec leurs parents</li>
                                            <li>Des photos de paysages magnifiques </li>
                                            <li>...</li>
                                        </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut jouer avec la nature (sens = vue + toucher)
                                </li>
                                    <ul>
                                        <li>Des figurines d'animaux</li>
                                        <li>Des peluches d'animaux</li>
                                        <li>Des peluches de végétaux</li>
                                        <li>...</li>
                                    </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut sentir la nature. (sens de l'odorat)
                                </li>
                                    <ul>
                                        <li>Le jeu des odeurs</li>
                                    </ul>
                            </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Salon</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-salon.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Présence de <strong>plantes</strong>
                                    </li>
                                    <li>
                                    <strong>Table des saisons (Pédagogie Steiner-Waldorf) ou table d'observation (Pédagogie Montessori)</strong>.
                                    Elle consiste à représenter, à l'intérieur de la maison, la nature 
                                    au fil des saisons (printemps, été, automne, hiver).
                                    Pour cela, l’enfant place, dans un espace dédié (table, étagère, meuble…), de petits trésors de la nature 
                                    (feuilles d’arbre, fruits, fleurs, bois, coquillages…) qu’il a collecté. Il peut y ajouter des réalisations 
                                    manuelles qui lui évoquent la saison en cours et même créer des scènes 
                                    en plaçant des figurines d’animaux. Des livres en lien avec la saison peuvent être en libre accès.
                                    L’objectif est de faire rentrer la nature à la maison, faire découvrir son
                                     infinie richesse et se connecter au rythme des saisons.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Vivarium</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-vivarium.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Un vivarium pour découvrir les sciences en s'amusant.
                                    </li>
                                    <li>
                                    Observer l'évolution des racines et des lombrics, idéal pour en apprendre plus sur la nature.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Dessins animés</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10 img-chambre" >
                                        <%= image_tag("AAA-Nature-Yakari.jpg", class: "img-fluid img-motricite img-nature") %>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                Yakari est un exemple de dessin animé qui sublime la nature.
                                </li>
                            </ul>


                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Reportages animaliers</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-reportage-animalier.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• BALCON / JARDIN
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Balcon - Jardin</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-jardin-balcon.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Plant de tomate
                        </li>
                        <li>
                        Potager composteur
                        </li>
                        <li>
                        Carré potager
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************************
• ACTIVITÉS EXTÉRIEURES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-3">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Activités en extérieur</h2>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-activités-exterieures.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Une balade en forêt
                        </li>
                        <li>
                        Une randonnée
                        </li>
                        <li>
                        Un séjour à la ferme
                        </li>
                        <li>
                        La cueillette aux champignons
                        </li>
                        <li>
                        Observation d'une nuit étoilée
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• 2 PÉDAGOGIES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-4">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  class="h2-pedagogie-size" >2 pédagogies alternatives populaires dont la nature est au coeur. 
                Il y en a d'autres (Steiner-Waldorf...) </h2>
                
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-pédagogie.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>


                    <div class="container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Pédagogie Montessori</h3>
                                            </div>
                                            <ul style="padding-top:15px">
                                                <li>
                                                La pédagogie Montessori est basée sur les observations et les découvertes de Maria Montessori, 
                                                médecin et pédagogue italienne, à la fin du XIXe et au début du XXe siècle. 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Pédagogie par la nature</h3>
                                        </div>
                                        <ul style="padding-top:15px">
                                            <li> La pédagogie par la nature, ou outdoor learning en anglais, est une méthode
                                                éducative basée sur l’apprentissage dans la nature. Concrètement, l’apprentissage
                                                se déroule hors de la classe, en plein air, dans une forêt ou un environnement naturel.
                                                La pédagogie par la nature est à la base du concept de <strong>Forest School</strong>, 
                                                que l’on retrouve dans les pays scandinaves, en Angleterre, en Allemagne, en Suisse, aux États-Unis, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    



<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-5">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Aller plus loin... </h2>

                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-livres.jpg", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>    



