<%# TITLE %>
<% @title="Méthode de Singapour | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-singapour" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'MMM-montessori-banner.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">L'APPROCHE MONTESSORI</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 alliés", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "pedagogie montessori", apprentissages_boosters_pedagogie_de_montessori_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>

<%# *********************************************
INTRODUCTION
********************************************* %>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h2 class="intro-montessori" style="color:#03bddf;">« La période la plus importante de la vie se situe entre 
                la naissance et six ans et non pas durant les études universitaires. » - Maria Montessori</h2>
            </div>
        </div>
    </div>
</div>


<%# *********************************************
VIDEO - CHARLOTT POUSSIN
********************************************* %>


<div class="container" style="margin-top: 30px">
    <div class="row" style="display:flex; justify-content; align-items:center">
        <div class="col-12">
            <h2 style="text-align:center;font-weight:bold;">L'approche Montessori présentée par Charlotte Poussin</h2>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 30px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bJ6wlIYLQxc" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>     



<%# *********************************************
VIDEO - CHARLOTT POUSSIN
********************************************* %> 


<%# *********************************************
ESPRIT ABSORBANT
********************************************* %>




<div class="container box-container-singapour" style="margin-top: 60px">
    <div class="row">
        <div class="col-12">
            <div class="box-montessori-intro ">
                <h2>L'esprit absorbant</h2>
                <ul>
                    <li>Maria Montessori utilise la métaphore
                 de l’éponge pour expliquer la manière dont l’enfant absorbe les informations relatives
                  à son environnement. </li>
                    <li>Par exemple, un jeune enfant apprend sa langue maternelle sans
                 règles formelles et sans effort conscient, utilisant tous ses sens pour étudier son
                 environnement et acquérir les informations dont il a besoin. </li>
                    <li>L’esprit absorbant est
                 au cœur de la pédagogie de Maria Montessori : il forme la propriété psychique qui
                 permet de faire la distinction entre l’intelligence de l’enfant au regard de
                 celle de l’adulte.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%# *********************************************
AIDE MOI À FAIRE TOUT SEUL
********************************************* %>

<div class="container" style="margin-top: 30px">
    <h2 style="font-weight: bold; text-align:center">« Aide moi à faire tout seul » - Maria Montessori</h2>
</div>

<%# *********************************************
LA MAIN DE L'ENFANT
********************************************* %>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>La main de l’enfant : élément principal d’apprentissage</h2>
                <ul>
                    <li>
                    Laisser les jeunes enfants toucher/manipuler le plus possible de choses 
                    autour d’eux et utiliser leurs mains pour acquérir des connaissances sur le 
                    milieu dans lequel ils évoluent.    
                    </li>
                    <li>
                    La main et le langage sont valorisés comme étant les deux outils de l’intelligence
                    de l’être humain : les deux voies par lesquelles nous sommes en contact avec
                    le monde qui nous entoure.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<%# *********************************************
LA STIMULATION ET L'APPRENTISSAGE PAR LES SENS
********************************************* %>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>La stimulation et l’apprentissage par les sens</h2>
                <ul>
                    <li>Un jeune enfant utilise tous ses sens pour apprendre. (Toucher, sentir, peser, lécher, secouer…)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%# *********************************************
L'ENFANT = ACTEUR PRINCIPAL 
********************************************* %>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>L’enfant : principal acteur de ses apprentissages</h2>
                <ul>
                    <li>
                    Dans la pédagogie Montessori, l’enfant occupe une place clé dans son 
                    propre apprentissage, l’adulte n’étant qu’un guide.
                    </li>
                </ul>
                <h3 style="text-align:center; font-size: 20px; margin-top: 10px; font-weight: 
                bold">"Aide moi à faire tout seul "</h3>
            </div>
        </div>
    </div>
</div>

<%# *********************************************
IMPORTANCE DU MOUVEMENT 
********************************************* %>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>L'importance du mouvement</h2>
                <ul>
                    <li>
                    L’enfant est en pleine phase de croissance, il a besoin de bouger, 
                    et le mouvement lui permet d’apprendre et de mémoriser plus facilement certains concepts.
                    </li>
                    <li>
                    L’activité physique et l’activité mentale sont intimement liées.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%# *********************************************
ENVIRONNEMENT PRÉPARÉ 
********************************************* %>


<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>L'environnement préparé </h2>
                <ul>
                    <li>
                    L’objectif de l’environnement préparé est de permettre aux enfants 
                de se mouvoir en totale liberté et de choisir leurs activités afin de 
                développer leur autonomie et le sens des responsabilités.
                    </li>
                    <li>
                    Liberté de choix et de mouvement en classe (appelée également ambiance). 
                    </li>
                    <li>
                    Au sein d’un environnement préparé, les enfants sont libres de choisir
                 l’activité qu’ils souhaitent faire, à condition qu’ils aient déjà bénéficié 
                 d’une première approche de cette activité avec l’éducateur(trice).
                    </li>
                    <li>
                    Les enfants sont libres d’y passer le temps qu’ils souhaitent, de parler à voix basse et de se déplacer
                 comme bon leur semble, tout en respectant l’ambiance de travail du groupe.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue ">
                <h2>Le matériel Montessori</h2>
                <ul>
                    <li>
                    Des outils de développement qui invitent les enfants à pratiquer des activités qui ont du sens.
                    </li>
                    <li>
                    Chaque outil, chaque équipement, chaque exercice et matériau est relatif à une compétence particulière
                 de manière à permettre à l’enfant d’apprendre « naturellement ».
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<%# *********************************************
SOURCES
********************************************* %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box-source">
                <p >Source(s) :</p> 
                    <ul>
                        <li>L'Enfant - Maria MONTESSORI</li>
            </div>
        </div>
    </div>
</div>

