<%# TITLE %>
<% @title="Apprentissages et Neurosciences | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 alliés", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "neurosciences", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "activités recommandées", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>


<%# BLOCKS %>
<div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_neuroergonomie.jpg' %>)" >
                        <p>Neuroergonomie</p>
                    </div>
                <% end %>
            </div>
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_4_piliers_apprentissage_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_piliers.jpg' %>)" >
                        <p>4 piliers de l'apprentissage</p>
                    </div>
                <% end %>
            </div>    
            
           
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_activites_qi_concentration_controle_de_soi_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_learning.jpg' %>)" >
                        <p style="color:#03bddf">Activités recommandées</p>
                    </div>
                <% end %>
            </div>
        </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="banner-activités" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
            url(<%= asset_path 'banner-activites.jpg' %>)">
                <div>
                <h1 >ACTIVITÉS RECOMMANDÉES PAR 
                LES NEUROSCIENCES POUR BOOSTER L'ACQUISITION D'APPRENTISSAGES</h1> 
                </div>
            </div>      
        </div>  
    </div>
</div>




<%# <div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div style="text-align:center">
                <h1 style="font-weight:bold; margin-top:20px">ACTIVITÉS RECOMMANDÉES PAR 
                LES NEUROSCIENCES POUR BOOSTER L'ACQUISITION D'APPRENTISSAGES</h1>
            </div>
        </div>
    </div>
</div> %>


<%# *********************************************
INRODUCTION
********************************************* %>

<div class="container" style="">
    <div class="row">
        <div class="col-12 neuro-p-valeur">
                <div class="pro-value neuro-citations-2">
                    <p>Plus le contrôle de soi, la concentration et la mémoire de travail sont performants,
                    plus il est aisé de faire l'acquisition de nouveaux apprentissages. </p>
                    <p>Les neurosciences sont en capacité de prouver que certaines activités améliorent 
                    le contrôle de soi, la concentration et la mémoire de travail.</p>
                </div>
        </div>
    </div>
</div>

<%# *********************************************
INTRODUCTION MUSIQUR + CALCUL MENTAL
********************************************* %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="intro-musique" >
            La musique et le calcul mental sont des activités vivement conseillées. Il y en a beaucoup d'autres...</h2>
        </div>
    </div>
</div>

<%# *********************************************
MUSIQUE
********************************************* %>

<div class="container box-activites-container">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <%= image_tag("AAA-musique.png", class: ".img-fluid img-motricite image-activite") %>
                <h2>Musique</h2>
                <p>• L’attention exécutive, c’est-à-dire la capacité de se concentrer et de se contrôler,
                 se développe avec l’âge et l’éducation. 
                </p>   
                <p>
                • La pratique d’un instrument de musique est l’une
                  des nombreuses manières d’apprendre à réguler, dès le plus jeune âge, la concentration et le contrôle de soi.
                </p> 
                <p>
                • Par rapport aux non-musiciens, toutes choses égales par ailleurs, les musiciens présentent des
                augmentations de l’épaisseur du cortex préfrontal dorso-latéral, qui joue un rôle important 
                dans le contrôle exécutif.
                </p> 
                <p class="activite-source">Source : Apprendres ! - Stanislas Dehaene</p>
            </div>
        </div>
    </div>        
</div>


<%# *********************************************
CALCUL MENTAL
********************************************* %>


<div class="container box-activites-container">
    <div class="row">
        <div class="col-12">
            <div class="box-border-title-blue">
                <%= image_tag("AAA-calcul.png", class: ".img-fluid img-motricite image-activite") %>
                <h2>Calcul mental</h2>
                <h2> (mémoire de travail)</h2>
                <p>
                • La mémoire de travail est utile pour prendre des notes, comprendre des textes,
                 résoudre des problèmes, calculer mentalement, écrire et même se concentrer.
                </p>
                <p>
                • La mémoire de travail correspond à la capacité de retenir momentanément l’information 
                et de la traiter dans le but d’accomplir une tâche en cours. On pourrait dire que la 
                mémoire de travail correspond à la mémoire à court terme. 
                </p>
                <p>
                • Imaginez que vous deviez calculer, mentalement, le produit de 23 par 8. 
                C’est votre système de contrôle exécutif qui assure le bon déroulement de toute la série
                 d’opérations mentales pertinentes, du début jusqu’à la fin : faire attention au chiffre de droite
                (3) et le multiplier par 8, puis stocker le résultat en mémoire (24), faire attention au chiffre
                de gauche (2), le multiplier aussi par 8 pour obtenir 16, se souvenir qu’il s’agit en réalité
                de la colonne des dizaines, donc de 160 et, enfin, additionner 160 et 24 pour obtenir le résultat final : 184.
                </p>    
                <p class="activite-source">Source : Apprendres ! - Stanislas Dehaene</p>
            </div>
        </div>
    </div>                
</div>


<%# *********************************************
SOURCES
********************************************* %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box-source">
                <p >Source(s) :</p> 
                    <ul>
                        <li>Apprendre ! - Stanislas DEHAENE</li>
            </div>
        </div>
    </div>
</div>


<%# *********************************************
LES FANTASTIQUES
********************************************* %>

<div class="container" style="margin-top: 20px; margin-bottom: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-reference">
                <h1>Notre sélection des "fantastiques" de l'apprentissage !</h1>
                <p class="ref-author">Céline Alvarez</p>
                <p>"la neuropédagogue qui fait des miracles avec les enfants." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Idriss Aberkane</p>
                <p>"La porte d'entrée des neurosciences. L'évangéliste de la neuroergonomie." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Stanislas Dehaene</p>
                <p>"La référence en matière de neurosciences." <span class="journalist">(Hello Houston Learnings)</span></p>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="image-book">
                <%= image_tag("books.png", class: ".img-fluid img-motricite") %>
            </div>
        </div>
    </div>
</div>
