<% @title="Apprentissage lecture - enfant de 2 à 6 ans | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'LLL_reading.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">LECTURE</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "lecture", apprentissages_lecture_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<%# **************************************
MENU
************************************** %>

<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu-general">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside" >
                                    <p >Les bienfaits</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Susciter l'intérêt</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                        <p>Type de livres</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                        <p>Comment lire ?</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside" style="background-color:#03bddf !important">
                                        <p>Apprendre à lire !</p>
                                </div>
                            </a>
                        </div>    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************
BIENFAITS
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu">
                <div class="button-ancre">
                        <p id="ancre-1">Menu</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les bienfaits de la lecture pour votre enfant </h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row" >   
                        
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Favorise le développement de son langage.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Encourage les interactions entre vous et votre enfant 
                                    et favorise votre lien d'attachement.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Présenté tôt, le livre devient une source d’amusement et de plaisir. 
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Éveille son intérêt pour l'écrit.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Aide à developper l'imagination et la curiosité de votre enfant.
                                    </li>
                                </ul>
                            </div>
                        </div>   

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>
<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>
<%# **************************************
SUSCITER L'INTÉRÊT 
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                
                <div class="button-ancre">
                        <p id="ancre-2">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Susciter l'intérêt de votre enfant pour la lecture</h2>
               
            <div class="container">
                    <div class="row">
                        <div class="col-12">


<%# **************************************
SUSCITER L'INTÉRÊT > CONTACTS
************************************** %>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding ">
                                            <h3>Multipliez les points de contact avec le livre</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Avant le coucher
                                                    </li>
                                                    <li>
                                                    Avant la sieste
                                                    </li>
                                                    <li>
                                                    Avant le dîner
                                                    </li>
                                                    <li>
                                                    Au moment du bain (livre en plastique)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
<%# **************************************
SUSCITER L'INTÉRÊT > CHOIX DE SON LIVRE
************************************** %>
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Laissez lui choisir son livre</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    C'est normal pour un tout-petit de vouloir souvent lire 
                                                    le même livre. Cela le sécurise et lui permet de mieux comprendre
                                                     l’histoire à chaque nouvelle lecture.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
SUSCITER L'INTÉRÊT > ENVIRONNEMENT MONTESSORI
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Environnement Montessori</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">

                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-10 img-chambre" >
                                                    <%= image_tag("AAA-lecture-montessori.jpg", class: "img-fluid img-motricite img-nature") %>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                                

                                       
                                                <ul>
                                                    <li>
                                                    Faites en sorte qu’il puisse prendre ses livres seul.
                                                    </li>
                                                    <li>
                                                    Organisez un coin lecture.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
NEUROSCIENCES (PLASTICITÉ CÉRÉBRALE) & EXEMPLARITÉ
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Les neurosciences (plasticité cérébrale) & l'exemplarité</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">

                                        
                                                

                                       
                                                <ul>
                                                    <li>
                                                    Lisez vous-même des livres ou des magazines pour votre plaisir. 
                                                    </li>
                                                    <li>
                                                    <strong>L'enfant est programmé pour vous mimer, copier, imiter...</strong> 
                                                    C'est une véritable éponge. Les expériences quotidiennes de l'enfant s'encodent
                                                     et structurent directement l'architecture de son cerveau.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<%# **************************************
TYPE DE LIVRES
************************************** %>
<%# **************************************
TYPE DE LIVRES
************************************** %>
<%# **************************************
TYPE DE LIVRES
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                
                <div class="button-ancre">
                        <p id="ancre-3">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Quel type de livre choisir pour les enfants de 1 à 3 ans?</h2>
               
            <div class="container">
                    <div class="row">
                        <div class="col-12">


<%# **************************************
TYPE DE LIVRES > LIVRES COLORÉS
************************************** %>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Des livres colorés</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    IIllustration concrètes est facile à comprendre.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
<%# **************************************
TYPE DE LIVRES > QUOTIDIEN
************************************** %>
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Histoires simples - quotidien de votre enfant</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="row">
                                                    <div class="col-1"></div>
                                                    <div class="col-10 img-chambre" >
                                                        <%= image_tag("AAA-lecture-type-livre.jpg", class: "img-fluid img-motricite img-nature") %>
                                                    </div>
                                                    <div class="col-1"></div>
                                                </div>

                                                <ul>
                                                    <li>
                                                    Les émotions, la garderie, le pot, l'arrivée d'une soeur ou d'un frère.
                                                    </li>
                                                    <li>
                                                    En plus d'attirer l'attention, ces histoires pourraient servir de 
                                                    <a href="https://fr.wikipedia.org/wiki/Biblioth%C3%A9rapie#:~:text=La%20biblioth%C3%A9rapie
                                                    %20d%C3%A9signe%20en%20premier%20lieu%20les%20vertus%20th%C3%A9rapeutiques%20de%20la%20lecture."
                                                     target="_blank" class="link-texte">bibliothérapie</a>.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
TYPE DE LIVRES > AIMER
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Des livres que votre enfant aime. (Thématique de prédilection)</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Chaque enfant à un centre d'intérêt comme la nature,
                                                     les voitures, les chevaux, les chiens, les dinosaures, un dessin animé...
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<%# **************************************
COMMENT LIRE?
************************************** %>
<%# **************************************
COMMENT LIRE?
************************************** %>
<%# **************************************
COMMENT LIRE?
************************************** %>


<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                
                <div class="button-ancre">
                        <p id="ancre-4">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Comment lire un livre à un tout-petit ?</h2>
               
            <div class="container">
                    <div class="row">
                        <div class="col-12">


<%# **************************************
COMMENT LIRE? > CHOIX DE L'ENFANT
************************************** %>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Encouragez l'enfant à choisir son livre</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Vous boosterez ainsi son intérêt pour la lecture.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
<%# **************************************
COMMENT LIRE? > RYTHME + ATTENTION
************************************** %>
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Adaptez-vous à son rythme et à sa capacité d’attention.  </h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Un enfant à une attention limitée.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
COMMENT LIRE? > LIRE LE VRAI TEXTE
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Lisez le vrai texte, car cela permet à votre tout-petit de 
                                            découvrir un vocabulaire varié.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Aidez l'enfant à comprendre les mots en les expliquant.
                                                    </li>
                                                    <li>
                                                    Reformulez avec des mots simples le passage que vous venez de lire.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


<%# ***********************************************
COMMENT LIRE?> PARTICIPATION
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Faites-le participer activement à la lecture.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                     Posez-lui des questions sur l’histoire et les personnages.  
                                                    </li>
                                                    <li>
                                                    Reliez l’histoire à son quotidien (ex. : histoire d’un enfant 
                                                    qui ne veut pas dormir ou qui fête son anniversaire).
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# ***********************************************
COMMENT LIRE? > PERSONALISER L'HISTOIRE
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Personnalisez l’histoire.</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Faites de votre enfant le personnage principal de l’histoire
                                                     et remplacez le nom des autres personnages par le nom de ses
                                                      amis ou des membres de sa famille.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


<%# ***********************************************
COMMENT LIRE? > SUIVEZ DU DOIGT LES PHRASES
*************************************************** %>

                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Suivez du doigt les phrases. </h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                    Vous lui apprenez ainsi que vous vous fiez aux lettres, 
                                                    et non aux illustrations pour lire.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

<%# *******************************************************
******************************************************* %>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>
<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>
<%# **************************************
APPRENDRE À LIRE ! 
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                
                <div class="button-ancre">
                        <p id="ancre-5">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Apprendre à lire ! </h2>
               
            <div class="container">
                    <div class="row">
                        <div class="col-12">



<%# **************************************
APPRENDRE À LIRE > LETTRES RUGUEUSES
************************************** %>
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique lecture-sous-titre-paddding">
                                            <h3>Montessori & les lettres rugueuses</h3>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="row">
                                                    <div class="col-1"></div>
                                                    <div class="col-10 img-chambre" >
                                                        <%= image_tag("AAA-lecture-lettres-rugueuses.jpg", class: "img-fluid img-motricite img-nature") %>
                                                    </div>
                                                    <div class="col-1"></div>
                                                </div>

                                                <ul>
                                                    <li>
                                                    Un matériel exceptionnel utilisé dans toutes les écoles Montessori du monde.
                                                    </li>
                                                    <li>
                                                    Ces lettres rugueuses sont des lettres d'un relief rugueux 
                                                    que l'on sent bien au toucher car cela contraste avec la surface lisse sur
                                                     lesquelles elles sont en relief.
                                                    </li>
                                                    <li>
                                                    Elles permettent d'aborder les lettres dans une expérience complète associant 
                                                    plusieurs sens : la vue, le toucher et l'ouïe.
                                                    </li>
                                                    <li>
                                                    La manipulation de ces lettres offre la possibilité à l’enfant d’apprendre le son 
                                                    et la forme des lettres simultanément, et ce, indépendamment du nom des lettres qui peut 
                                                    desservir la lecture. (exemple : si en voyant le mot FIL l’enfant prononce le nom des lettres F, I et L, 
                                                    il n’entend pas le mot "fil" comme lorsqu’il prononce successivement "fff" , " iii", "lll".
                                                    </li>
                                                    <li>
                                                    Cette approche des lettres prépare aussi à l’écriture des lettres cursives.
                                                    </li>
                                                    <li>
                                                    ...
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>


<%# ********************************************************
• VIDEO > BOUTONS "CHARLOTTE POUSSIN"
******************************************************** %>

                                    <div style="display:flex; justify-content:center; align-items:center; margin-bottom:30px">
                                        <%= link_to "Interview de Charlotte Poussin, une experte Montessori ", "https://www.femininbio.com/developpement-personnel/actualites-et-nouveautes/montessori-apprendre-a-lire-avec-les-lettres-rugueuses-52082",
                                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                    </div>

                                    <div style="display:flex; justify-content:center; align-items:center; margin-bottom:30px">
                                        <%= link_to "Charlotte Poussin - Les lettres rugueuses", "https://montessoricharlottepoussin.com/les-lettres-rugueuses-montessori.html",
                                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                    </div>

<%# ********************************************************
• VIDEO > CÉLINE ALVAREZ > ENFANT DE 3 ANS
******************************************************** %>
                                    <h4 class="h2-video-celine">Vidéo réalisée par Céline Alvarez, la neuropédagogue qui fait des miracles avec les enfants. </h4>

                                    <div class="container" style="margin-bottom: 30px">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                                <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>      
            


        
<%# ********************************************************
• VIDEO > CONTAINER...
******************************************************** %>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>