
<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> </p>     
        </div>
    </div>
</div>

<%# INTRO %>
<div class="container">

    <div class="row dev-title">
            <div>
                <h1>"L'enfant n'est pas un vase qu'on remplit mais un feu qu'on allume" - <span class="citation">Montaigne...</span></h1>
            </div>
    </div>   
</div>

<%# BLOCKS %>
<div class="container">
    <div class="row">

<%# NATURE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_nature_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_nature.jpg' %>)">
                        <p>Nature</p>
                    </div>
                <% end %>
            </div>
  
<%# TEMPS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_temps_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_time.jpg' %>)">
                        <p>Temps</p>
                    </div>
                <% end %>
            </div>  

<%# MATH   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_math_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_math.jpg' %>)">
                        <p>Mathématiques</p>
                    </div>
                <% end %>
            </div>

<%# LECTURE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_lecture_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_reading.jpg' %>)">
                        <p>Lecture</p>
                    </div>
                <% end %>
            </div>

<%# MUSIQUE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_musique_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_music.jpg' %>)">
                        <p>Musique</p>
                    </div>
                <% end %>
            </div>


<%# CUISINER   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_cuisiner_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_cooking.jpg' %>)">
                        <p>Cuisiner</p>
                    </div>
                <% end %>
            </div>

<%# PUZZLE   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_puzzle_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-learnings" style="background-image: 
                    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_jigsaw.jpg' %>)">
                        <p>Puzzle</p>
                    </div>
                <% end %>
            </div>

<%# CALCUL MENTAL  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Calcul mental</p>
                </div>
            </div>

<%# SPORTS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_sports.jpg' %>)" >
                    <p>Sports</p>
                </div>
            </div>


            



            



<%# ROBOTICS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_robotics.jpg' %>)">
                    <p>Robotics</p>
                </div>
            </div>






            

<%# DISOVERING THE WORLD   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_world.jpg' %>)">
                    <p>Discovering the world</p>
                </div>

<%# RIGHT / LEFT   ********************************************* %>

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_right_left.jpg' %>)">
                    <p>Right / Left</p>
                </div>
            </div>



<%# TIDYING UP   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_tidy_up.jpg' %>)">
                    <p>Tidying up</p>
                </div>
            </div>

<%# CODING   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_coding.jpg' %>)">
                    <p>Coding</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Science</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_drawing.jpg' %>)">
                    <p>Drawing</p>
                </div>
            </div>



            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_strategy.jpg' %>)">
                    <p>Jeux de stratégie</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_casse_tete.jpg' %>)">
                    <p>Casse-têtes</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Émotions</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Painting</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Creativity</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Les 5 sens</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Les 5 sens</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Mémoire</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Autonomie</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Langue</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Jeu de construction</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Jeu vidéos</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Méditation en pleine conscience</p>
                </div>
            </div>

            

            <%# HUIT INTELLIGENCES %>
           
            
        </div>
    </div>