<%# TITLE %>
<% @title="Les 4 piliers de l'apprentissage (Stanislas Dehaene) | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "3 supers héros", apprentissages_boosters_pedagogie_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "neurosciences", apprentissages_boosters_neurosciences_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "les 4 piliers de l'apprentissage", apprentissages_boosters_neurosciences_4_piliers_apprentissage_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>


<%# BLOCKS %>
<div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_neuroergonomie.jpg' %>)" >
                        <p >Neuroergonomie</p>
                    </div>
                <% end %>
            </div>
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_4_piliers_apprentissage_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_piliers.jpg' %>)" >
                        <p style="color:#03bddf">4 piliers de l'apprentissage</p>
                    </div>
                <% end %>
            </div>    
            
           
            <div class="col-4">
                <%= link_to apprentissages_boosters_neurosciences_activites_qi_concentration_controle_de_soi_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-neurosciences" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(<%= asset_path 'NNN_learning.jpg' %>)" >
                        <p>Activités recommandées</p>
                    </div>
                <% end %>
            </div>
        </div>
</div>


<div>
    <h1 style="text-align:center; font-weight:bold; margin-top:20px">LES 4 PILIERS DE L'APPRENTISSAGE</h1>
    <p style="text-align:center;">(Stanislas Dehaene)</p>
</div>


<div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div>
                <ul>
                    <li>Au fil de son évolution, notre cerveau s’est doté de quatre fonctions majeures qui maximisent la vitesse
                        avec laquelle nous parvenons à extraire des informations de notre environnement. </li>
                    <li>Je les appelle les quatre piliers de l’apprentissage, parce que chacun d’eux est indispensable à nos 
                        constructions mentales : qu’un seul de ces piliers chancelle et c’est l’ensemble de l’édifice qui vacille.
                        Inversement, chaque fois que nous avons besoin d’apprendre, et d’apprendre vite, nous pouvons nous appuyer
                        sur eux pour optimiser nos efforts. Ces piliers sont :</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h1>L'ATTENTION</h1>
                <p>Amplifie l’information sur laquelle nous nous concentrons </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h1>L'ENGAGEMENT ACTIF</h1>
                <p>Un algorithme qu’on appelle également « curiosité », et qui incite notre cerveau à évaluer
                 sans relâche de nouvelles hypothèses. </p>
                 <p>(être intéressé et actif)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h1>LE RETOUR SUR ERREUR</h1>
                <p>Compare nos prédictions avec la réalité et corrige nos modèles du monde </p>   
                <p>(retour d'information rapide)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h1>LA CONSOLIDATION</h1>
                <p>Automatise et fluidifie ce que nous avons appris, notamment pendant le sommeil.</p> 
                <p>(régularité et répétition)</p>  
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 70px; margin-bottom: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-reference" style="background-color:#11689e !important">
                <h1>Les "fantastiques" de l'apprentissage !</h1>
                <p><strong>"Céline Alvarez"</strong> : la neuropédagogues qui fait des miracles avec les enfants.</p>
                <p>"Idriss Aberkane" : la porte d'entrée des neurosciences. L'évangéliste de la neuroergonomie.</p>
                <p>"Stanislas Dehaene" : la référence en matière de neurosciences. </p>
            </div>
        </div>

    </div>
</div>


<div class="container" >
    <div class="row">
        <div class="col-12">
            <div class="image-book">
                <%= image_tag("books.png", class: ".img-fluid img-motricite") %>
            </div>
        </div>
    </div>
</div>









<div class="container" style="">
    <div class="row">
        <div class="col-12">
            <div>
            
            </div>
        </div>
    </div>
</div>
