<% @title="Apprentissage puzzle - enfant 2 à 6 ans | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-Puzzle-banner.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">PUZZLE</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "puzzle", apprentissages_puzzle_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<%# **************************************
MENU
************************************** %>

<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu-general">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside" style="background-color:#03bddf !important">
                                    <p >Supers pouvoirs</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Méthode</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                        <p>Progressivité</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                        <p>Pédagogie</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Motivation</p>
                                </div>
                            </a>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************
SUPERS POUVOIRS
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu">
                <div class="button-ancre">
                        <p id="ancre-1">Menu</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les supers pouvoirs du puzzle </h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row" >   
                        
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Améliore significativement la capacité à catégoriser, ranger, ordonner.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Améliore significativement la mémoire du travail.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Améliore significativement la flexibilité cognitive.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Améliore significativement la rotation mentale.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Améliore significativement la perception visio-spaciale.
                                    </li>
                                </ul>
                            </div>
                        </div>   

                        <div class="col-12 col-lg-6">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    À un effet apaisant. ("déconnexion" en concentrant son attention sur le puzzle)
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************
MÉTHODE
************************************** %>



<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">

                  
                <div class="button-ancre">
                        <p id="ancre-2">Menu</p>
                </div>
                

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 

               <h2 >Méthode</h2>
               <h3>Étape 1 : Mesurer le cadre</h3>
               <%# <ul>
                    <li>
                    yahoo
                    </li> 
               </ul> %>
               <h3>Étape 2 : Disposer l'image du puzzle de sorte qu'elle 
               soit visible tout au long de l'assemblage </h3>
               <%# <ul>
                    <li>
                    yahoo
                    </li> 
               </ul> %>
               <h3>Étape 3 : Mettre de côté les pièces qui ont un bord droit</h3>
               <%# <ul>
                    <li>
                    Mettre de côté les pièces qui ont un bord droit
                    </li> 
               </ul> %>
               <h3>Étape 4 : Faire le cadre</h3>
               <ul>
                    <li>
                    Isoler les coins et construire le cadre.
                    </li> 
               </ul>     
               <h3>Étape 5 : Attaquer le reste du puzzle</h3>
               <ul>
                    <li>
                    Découper le puzzle en zones :
                        <ul>
                            <li>
                            Levier 1 : par motif
                            </li>
                            <li>
                            Levier 2 : par couleur
                            </li>
                        </ul>
                    </li> 
                    
               </ul>   

               <h3>Étape 6 : À la fin !</h3>
               <ul>
                    <li>
                    Sur la fin, quand il ne reste plus beaucoup de pièces et que la fatigue 
                    commence à se faire sentir :
                        <ul>
                            <li>
                            Regrouper les pièces par formes, différentes pièces mâles et femelles.
                             Les pièces mâles sont incurvées vers l'extérieur alors que 
                             les pièces femelles sont incurvées vers l'intérieur. 
                            </li>
                            <li>
                            Vous verrez, votre enfant finira beaucoup plus vite son puzzle !
                            </li>
                        </ul>
                    </li>
               </ul>  

               <h3>Astuces</h3>
               <ul>
                    <li>
                    Ne pas bloquer ! Passer à un autre motif, une autre couleur et revenir
                     plus tard pour débloquer la situation.
                    </li>
                    <li>
                    En cas de doute sur l'assemblage de 2 pièces, retourner les pièces 
                    pour avoir un nouvel éclairage.
                    </li>
               </ul>
            </div>
        </div>
    </div>
</div>


<%# **************************************
PROGRESSIVIÉ
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                
                <div class="button-ancre">
                        <p id="ancre-3">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Progressivité</h2>
                    <ul>
                        <%# <li>
                        Ne jamais oublier que cela doit être un jeu pour l'enfant ! 
                        Si le puzzle devenait une contrainte, il en serait dégouté. (cf. motivation)
                        </li> %>
                        <li>
                        Quand la méthode est bien maîtrisée et que l'enfant a des facilités
                        avec des puzzles de moins de 100 pièces, vous pourrez augmenter
                        progressivement le nombre de pièces.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>


<%# **************************************
PÉDAGOGIE
************************************** %>


<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">

               <div class="button-ancre">
                        <p id="ancre-4">Menu</p>
                  </div>
                  
                  <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                  </a>  

               <h2 >Pédagogie</h2>
               <h3>L'environnement</h3>
                    <ul>
                        <li>Créer un environnement détendu, amusant, bienveillant.</li>
                        <li>Accompagner l'enfant dans la gestion de ses émotions. (cf.gestion des émotions)</li>
                        <li>Offrer lui un environnement calme et ordonné pour booster sa concentration.</li>
                            <ul>
                                <li>Limiter les distractions (écrans, bruits, jouets).</li>
                            </ul>
                    </ul>
               <h3>Au départ, accompagner l'enfant jusqu'à la maîtrise de la méthode (les roulettes de vélo)</h3>
                    <ul>
                        <li>Jouer en équipe ! Construire le puzzle à 4 mains permettra de :</li>
                            <ul>
                                <li>Transmettre et consolider la méthode (processus, stratégie, astuces).</li>
                                <li>Passer un moment avec un de ses parents. C'est toujours magique pour l'enfant.</li>
                            </ul>
                    </ul>
            </div>
        </div>
    </div>
</div>

<%# **************************************
MOTIVATION
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">

                <div class="button-ancre">
                        <p id="ancre-5">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Motivation</h2>

                <ul>
                    <li>L’enfant est d’emblée mimétique, guetteur/capteur, il fait feu de tout bois 
                    pour se découvrir tandis qu'il découvre les autres 
                    et le monde environnant. Spontanément, il mime et copie, puis profondément s’identifie. </li>
                        <ul>
                            <li><strong>L'exemplarité</strong> est toujours la clé, mais encore plus entre 0 et 6 ans.</li>
                                <ul>
                                    <li>Prenez du plaisir à faire des puzzles devant lui.</li>
                                    <li>Faites des puzzles avec lui. (chacun fait un puzzle ou vous réalisez un puzzle à 4 mains !)</li>
                                </ul>
                        </ul>
                    <li><strong>Une expérience amusante</strong> qui pourrait se transformer en expérience amoureuse.</li>
                        <ul>
                            <li>Proposer à votre enfant des puzzles dans l'univers qu'il adore 
                            (animaux préférés, ses héros de dessins animés...).</li>
                        </ul>
                    <li><strong>Une expérience magique !</strong></li>
                        <ul>
                            <li>Faire un puzzle avec un de ses parents est un moment unique, inoubliable,
                             tout simplement magique pour l'enfant.</li>
                        </ul>
                </ul>

            </div>
        </div>
    </div>
</div>

