<% @title="Apprentissage de la Musique par le Jeu pour les Enfants de 3 à 7 ans | Hello Houston Learnings" %>


<%# *************************DESCRIPTION*************************************************** %>
<% content_for :head do %>
    <meta name="description" content="Apprentissage de la musique par le jeu pour les enfants de 3 à 7 ans : 
apprendre à aimer la musique en chantant des comptines, en fabricant des instruments, en se réveillant en musique, 
en jouant de la musique sur de vrais instruments">
<% end %>
<%# *************************DESCRIPTION*************************************************** %>


<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-musique-jeu-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>











<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-music-banner.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12 learning-banner-flex">
                <h3 class="learning-boite-idee">La boîte à idées !</h3>
                <h1 style="margin-bottom:0px">APPRENTISSAGE DE LA MUSIQUE PAR LE JEU POUR LES ENFANTS DE 3 À 7 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "musique", apprentissage_musique_jeu_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>







<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container">
    <div class="row">


<%# ************************************************************************************************************* %>



        <div class="col-lg-9" style="margin-bottom:40px">



<%# ************************************************************************************************************* %>


<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu-general">


                <div class="container">
                    <div class="row" >   


                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Bienfaits</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Comptines</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Instruments de musique</p>
                                </div>
                            </a>
                        </div>  

                        

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Réveil en musique</p>
                                </div>
                            </a>
                        </div>   

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-7" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Méthode Yamaha</p>
                                </div>
                            </a>
                        </div>   

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Études sur la musique</p>
                                </div>
                            </a>
                        </div>   

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-6" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Aller plus loin...</p>
                                </div>
                            </a>
                        </div>  

                        <%= render 'shared/button_towards_learning'  %> 




                    </div>
                </div>


            </div>


        </div>
    </div>
</div>





<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2 class="reclame-video-title intro-video-musique">Les bienfaits de la musique</h2>
                        <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            
            




<!-- Nature > intro -->
<!-- Nature > intro -->
<div class="container">
    <div class="row">
        <div class="col-12 musique-intro">
        
            <blockquote>
                <h2 class="learnings-introduction-citation" style="font-weight: normal !important">
                    <strong>"Faire de la musique favorise les apprentissages scolaires</strong>. L’explication la plus probable 
                    est qu’apprendre la musique améliore les fonctions dites exécutives. Ces dernières regroupent 
                    un ensemble d’habiletés impliquées dans la planification, la mémoire de travail, l’inhibition
                    de réponses inappropriées et la concentration. Les fonctions exécutives sont dites transversales
                    parce qu’elles opèrent de la même façon en lecture, en mathématiques, dans l’apprentissage
                    d’une langue étrangère ou dans l’apprentissage de la musique. Le développement de ces 
                    fonctions exécutives serait favorisé par l’apprentissage de la musique, surtout durant 
                    le développement, y compris pendant l’adolescence."

                </h2>
            </blockquote>
            <cite style="margin-bottom:20px;">Peretz, Isabelle - Apprendre la musique</cite>

        </div>
    </div>
</div>
<!-- Nature > intro -->
<!-- Nature > intro -->



<strong></strong>



<%# **************************************
MUSIQUE > BIENFAITS
************************************** %>

<div class="container " style="margin-top: 10px">
    <div class="row">
        <div class="col-12">


            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les bienfaits de la musique pour les enfants</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                
                <div class="container">
                    <div class="row">


                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique améliore la capacité d’apprendre des enfants.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle permet de communiquer son amour.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Les chansons et les comptines développent le langage.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique favorise la créativité.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle permet à l’enfant de découvrir son corps.
                                    </li>
                                </ul>
                            </div>
                        </div>   

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Cela développe son sens musical.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Cela offre des occasions de socialiser.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    La musique peut lui permettre de découvrir le monde.
                                    </li>
                                </ul>
                            </div>
                        </div>  


                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Elle aide à calmer et à gérer les émotions.
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        
                        


                           



                            
                            



                    </div>
                </div> 

            </div>


        </div>
    </div>
</div>


<%# **************************************************
MUSIQUE > COMPTINES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Les comptines pour les enfants</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">

                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Les bienfaits des comptines pour l'enfant</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<strong></strong>
                            <ul>
                                <li>
                                    <strong>Le développement cognitif de l’enfant</strong>
                                        <ul>
                                            <li>
                                                Les comptines enseignent à l’enfant le fonctionnement du langage et permet de développer sa mémoire. Cela l’aide aussi à développer 
                                                ses compétences d’inférence (c’est-à-dire le fait de raisonner et de prévoir les suites logiques de mots), à la fois en 
                                                découvrant de nouveaux mots et par l’amélioration de la compréhension des phrases et des textes.
                                            </li>
                                        </ul>
                                </li>
                                <li>
                                    <strong>La parole chez le tout-petit</strong>
                                    <ul>
                                        <li>
                                        Les comptines aident les 
                                        enfants à développer des aptitudes auditives telle que la distinction des sons ou le développement de l’oreille à travers 
                                        la musique des mots. Ce qui fait une bonne comptine, c’est la rime. 
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Une aide à la lecture</strong>
                                    <ul>
                                        <li>
                                            Chanter des comptines dès le plus jeune âge constitue une très bonne base pour appréhender des récits 
                                            plus complexes comme les histoires du soir dont la construction est la même que les chansons. 
                                            Il y a un début, un milieu et une fin. C’est le séquençage. 
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Les comptines et le langage</strong>
                                    <ul>
                                        <li>
                                            Sans surprise, les comptines sont très intéressantes pour la structuration du langage, car elles permettent d’augmenter
                                             sa connaissance des mots, son vocabulaire. L’enfant assimile ainsi le langage de manière implicite.
                                             Elles permettent aussi d’apprendre l’orthographe. Et les versets d’une comptine introduisent des principes 
                                             littéraires de l’allitération, l’onomatopée et l’imagerie.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Développer la créativité de l’enfant</strong>
                                    <ul>
                                        <li>
                                            Les comptines élargissent l’imaginaire de l’enfant. Cela l’encourage à la dramatisation créative quand il joue et 
                                            s’imagine des histoires incroyables.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Découvrir les chiffres</strong>
                                    <ul>
                                        <li>
                                            Les comptines abordent les bases des mathématiques. Elles sont remplies de schémas, de séquences, de nombres et de comptages.
                                            Elles évoquent le vocabulaire propre aux maths en parlant de la taille, du poids ou des distances.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>L’orientation dans l’espace et motricité</strong>
                                    <ul>
                                        <li>
                                            De nombreuses comptines évoquent le mouvement et la coordination. Le mouvement est donc intégré à la lecture.
                                            Les comptines s’accompagnent souvent de jeux avec les mains et les doigts, ce qui est favorable pour le développement de la motricité des petits.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Sociabilité et comportement</strong>
                                    <ul>
                                        <li>
                                            Les chansons pour les jeunes enfants sont très utiles pour apprendre l’humour, car la morale est souvent amusante. 
                                            C’est également rigolo et bénéfique de chanter des comptines en groupe.
                                             L’enfant apprend la vie sociale en partageant des moments avec les autres. Cela aide à développer ses sociabilités.
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Les comptines indémodables</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    A la claire fontaine
                                </li>
                                <li>
                                    Ainsi font, font
                                </li>
                                <li>
                                    Ah, les crocodiles
                                </li>
                                <li>
                                    Alouette
                                </li>
                                <li>
                                    Au clair de la lune
                                </li>
                                <li>
                                    Bateau sur l’eau
                                </li>
                                <li>
                                    Coucou hibou
                                </li>
                                <li>
                                    Dodo, l’enfant Do
                                </li>
                                <li>
                                    Frère Jacques
                                </li>
                                <li>
                                    La mère Michel
                                </li>
                                 <li>
                                    Maman les p’tits bateaux
                                </li>
                                 <li>
                                    Pirouette, cacahuète
                                </li>
                                <li>
                                    Une souris verte
                                </li>
                                <li>
                                    Vive le vent
                                </li>

                            </ul>

                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Chaînes de comptines youtube</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container " style="margin-top:10px">
                                <div class="row" style="display:flex; justify-content; align-items:center">
                                    <div class="col-6">
                                        <h2 class="reclame-video-title version-mobile">Youtube Kids</h2>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="reclame-video-title version-mobile">Monde des Titounis</h2> 
                                    </div>
                                </div>
                            </div>




                            <div class="col-6">                   
                                <div class="embed-responsive embed-responsive-16by9 reclame" >
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2rt2g_afiAg" 
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                            gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>



                            <div class="col-6">
                                
                                <div class="embed-responsive embed-responsive-16by9 reclame" >
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WjhQvv9kexk" 
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                            gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>



                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>




<%# **************************************************
MUSIQUE > INSTRUMENTS DE MUSIQUE
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-3">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Instruments de musique</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">

                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Des instruments de musique à fabriquer avec des enfants</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <p style="background-color: white; color:#224358; text-align:center;">
                                        Les instruments de musique sont essentiels pour les petits : ils éveillent l’oreille,
                                        travaillent la motricité fine et permettent de rythmer les jeux. Si en plus on peut les 
                                        fabriquer soi-même, on fait d’une pierre deux coups. La plupart des instruments ci-dessous 
                                        sont réalisables avec des enfants de maternelle, les plus jeunes pourront s’occuper uniquement de la déco.
                                        </p>
                                    
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>



                            <div class="container" style="margin-top:20px">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="https://www.lacourdespetits.com/instruments-musique-fabriquer/#:~:text=Le%20num%C3%A9ro%201%20des%20instruments,reste%20bien%20entendu%20le%20maracas.&text=Nos%20maracas%20en%20rouleau%20de%20papier%20toilette." class="box-link">  
                                            <div class="box-link">
                                                    <h3 style="text-align:center"> La cours des petits (www.lacourdespetits.com)</h3>
                                            </div>
                                        </a> 
                                    </div>
                                </div>
                            </div>

                    

                            <div class="container">
                                <div class="row">
                                    <div class="col-1"></div>
                                    
                                        <div class="col-10 " >
                                            <%= link_to "https://www.lacourdespetits.com/instruments-musique-fabriquer/#:~:text=Le%20num%C3%A9ro%201%20des%20instrumentsreste%20
                                            bien%20entendu%20le%20maracas.&text=Nos%20maracas%20en%20rouleau%20de%20papier%20toilette.", class: "box-link", target: "_blank", data: { turbolinks: false } , :action => 'go' do %>
                                                <%= image_tag("AAA-instruments-musique.jpg", class: "img-fluid mx-auto d-block" ) %> 
                                            <% end %>
                                        </div>
                                    
                                    <div class="col-1"></div>
                                </div>
                            </div>

                            <div class="col-12" style="margin-top:20px">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>De vrais instruments</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container" >
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <p style="background-color: white; color:#224358; text-align:center;">
                                        Il est aussi important que l'enfant puisse jouer avec de vrais instruments.
                                        </p>
                                    
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                        


                            <div class="container">
                                <div class="row">
                                    <div class="col-1"></div>
                                    
                                        <div class="col-10 " >
                                                <%= image_tag("AAA-instrument-1.jpg", class: "img-fluid mx-auto d-block" ) %> 
                                        </div>
                        
                                    <div class="col-1"></div>
                                </div>
                            </div>

                            <div class="container" style="margin-top:20px">
                                <div class="row">
                                    <div class="col-1"></div>
                                    
                                        <div class="col-10 " >
                                                <%= image_tag("AAA-instrument-2.jpg", class: "img-fluid mx-auto d-block" ) %> 
                                        </div>
                        
                                    <div class="col-1"></div>
                                </div>
                            </div>
 
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>








<%# **************************************************
MUSIQUE > RÉVEIL
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-4">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Se réveiller en musique !</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


                            <ul>
                                <li>
                                    Se réveiller sur ses musiques préférées, quoi de mieux pour démarrer sa journée !
                                </li>
                                <li>
                                    Le réveil est un moment idéal pour mettre l'enfant en contact avec la musique.
                                    Celui-ci devient quotidien et créé une association positive.
                                    Le réveil de l'enfant se fait ainsi en douceur.
                                </li>
                                <li>
                                    Accompagner l'enfant dans la création de sa playlist enrichira
                                    son expérience musicale.
                                </li>
                            </ul>

                          
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>








<%# **************************************************
MUSIQUE > MÉTHODE YAMAHA
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-7">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Méthode Yamaha - L'apprentissage de la musique par le jeu à partir de 3 ans</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


                            <ul>
                                <li>
                                    La méthode Yamaha est fondée sur l’accompagnement, les variations, pour parvenir peu à peu à l’improvisation,
                                     l’arrangement et la composition. L’axe est donné à la création et au développement de l’oreille.


                                </li>
                                <li>
                                    Les cours sont collectifs (plusieurs pianos) basés sur la convivialité, la détente et le plaisir de jouer.
                                </li>
                                <li>
                                    Les centres Yamaha sont ouverts aux enfants (<strong>dès l’âge de 3 ans</strong>) et aux adultes (un quart des effectifs).
                                </li>
                                <li>
                                    <strong>La volonté est de démocratiser la musique au plus grand nombre en formant des amateurs.</strong>
                                </li>
                            </ul>


                            <div class="container " style="margin-top:10px">
                                <div class="row" style="display:flex; justify-content; align-items:center">
                                    <div class="col-6">
                                        <h2 class="reclame-video-title version-mobile">European Junior Original Concert 2016 Monaco</h2>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="reclame-video-title version-mobile">Swap your air-guitar for the real thing now and become a Rock legend with Guitar Encounters!</h2> 
                                    </div>
                                </div>
                            </div>




                            <div class="col-6">                   
                                <div class="embed-responsive embed-responsive-16by9 reclame" >
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YnnNj0p_Vi4" 
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                            gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>



                            <div class="col-6">
                                
                                <div class="embed-responsive embed-responsive-16by9 reclame" >
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xJ3tzSleXLU" 
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                            gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>




                            <div style="display:flex; justify-content:center; align-items:center; margin-top:20px">
                                <%= link_to "Les Ecoles de Musique Yamaha", 
                                "https://fr.yamaha.com/fr/education/yms/index.html",
                                target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                            </div>

                            
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>












<%# **************************************************
MUSIQUE > ÉTUDE
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-5">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Étude - La Musique rend plus intelligent</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


<%# ***************************MOINS SOUVENT MALADE************************************ %>
<%# ***************************MOINS SOUVENT MALAD************************************ %>

                            <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                                <div class="nature-sous-rubrique" Style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
                                    <h3>Introduction d'Isabelle Peretz, l'auteur du livre "Apprendre la musique - Nouvelles des neurosciences"</h3>
                                    <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>
                                </div>
                            </div>

           

                            <ul>
                                <li>
                                    "Faut-il rendre l’apprentissage de la musique obligatoire à l’école ? 
                                    Les responsables des systèmes scolaires s’interrogent, et interrogent les experts, 
                                    sur les bénéfices de l’enseignement de la musique pour le développement de l’enfant en 
                                    général et pour l’acquisition des habiletés scolaires élémentaires, comme lire et compter.
                                     Tout récemment, la Suisse a misé sur l’éducation musicale de qualité en l’inscrivant dans 
                                     sa Constitution. Et d’autres pays européens, dont la France, lui emboîtent le pas. Tous sont 
                                     convaincus que la musique est essentielle au développement intellectuel de l’enfant. Ont-ils raison 
                                     ? Est-ce que cet engouement populaire pour l’éducation musicale a un fondement scientifique ?
                                </li>
                                <li>
                                La musique rend-il plus intelligent ? On doit cette croyance à la large diffusion de l’« effet Mozart », 
                                suivant lequel la simple écoute de la musique de Mozart améliorerait l’intellect. Cet effet Mozart renvoie
                                 à une étude controversée menée en 1993 qui montrait que l’écoute de Mozart pendant 10 minutes augmentait
                                  la performance à un test de rotation mentale. Ce test fait partie des échelles classiques de la mesure 
                                  de l’intelligence. Cet effet est difficile à reproduire, cependant, et surtout l’effet dit de Mozart 
                                  n’en est pas vraiment un : l’amélioration dépend de la musique qu’on aime ; j’y reviendrai plus loin
                                   en parlant du travail en musique
                                </li>
                                <li>
                                    <strong>En revanche, faire de la musique s’accompagne effectivement d’un rendement intellectuel accru chez l’enfant.</strong> 
                                    Il ne suffit donc pas d’écouter de la musique, il faut en faire, et ce, dès l’âge de 6 mois."
                                </li>
                                    
                            </ul>

                            <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>


<%# ************************ ÉTUDE 1 **************************************************************** %>
<%# ************************ ÉTUDE 1 **************************************************************** %>
<%# ************************ ÉTUDE 1 **************************************************************** %>
                         
                            <div class="col-12 col-12-sous-rubrique" style="margin:20px 0px">
                                <div class="nature-sous-rubrique" Style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
                                    <h3>L’activité musicale précoce semble propice à l’assimilation de la culture musicale et au développement social.</h3>
                                    <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>
                                </div>
                            </div>

                            <ul>
                                <li>
                                "Dans une rare étude en milieu naturel [1], Laurel Trainor, professeure à l’Université McMaster en Ontario (Canada),
                                 et son équipe ont testé des bébés avant et après la participation hebdomadaire à des classes inspirées de la méthode
                                  Suzuki. Durant ces classes, les bébés et leurs parents apprennent un répertoire de chansons en battant la mesure,
                                   en bougeant et en chantant. Les parents sont encouragés à répéter chez eux quotidiennement. 
                                   Pour s’assurer que les effets étudiés sont dus à la participation active, des parents et bébés 
                                   témoins entendent des musiques (synthétisées) reprises de la trame sonore de la série télévisée 
                                   Baby Einstein. Un troisième groupe ne participe à aucune activité particulière. L’attribution aux 
                                   groupes actif, passif ou contrôle est aléatoire. Après six mois, en laboratoire, les habiletés musicales 
                                   du bébé sont testées en mesurant la durée de son regard (attention) sur un haut-parleur qui diffuse une musique 
                                   dans laquelle on a inséré des violations de l’harmonie. Les résultats de cette étude montrent que seuls les bébés 
                                   qui ont participé activement aux classes Suzuki dirigent plus leur attention vers la musique qui suit les règles 
                                   de notre système musical tonal. Cette préférence pour la musique tonale après six mois d’activités musicales, 
                                   ce qui, notez bien, correspond à la moitié de la vie du bébé, est saisissante. Il est remarquable de constater
                                    que l’assimilation des règles de l’harmonie tonale s’améliore. De plus, les réponses électriques cérébrales
                                     sont plus amples, signe d’une activité corticale plus synchrone, la communication parents-enfant est plus 
                                     intense et le développement socio-émotif (exploration, sourires) s’améliore davantage chez les bébés « Suzuki » 
                                     que chez les bébés abreuvés de Baby Einstein. L’activité musicale précoce semble donc propice à l’assimilation 
                                     de la culture musicale et au développement social. J’y vois les prémices de l’intelligence."
                                </li>
                                
                            </ul>

                            <p>[1] Gerry, D., Unrau, A., et Trainor, L. J. (2012), « Active music classes in infancy enhance musical, 
                            communicative and social development »,
                             Developmental Science, 15, p. 398-407. </p>
                            
                            <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>
                            


<%# ************************ ÉTUDE 2 **************************************************************** %>
<%# ************************ ÉTUDE 2 **************************************************************** %>
<%# ************************ ÉTUDE 2 **************************************************************** %>


                            <div class="col-12 col-12-sous-rubrique" style="margin:20px 0px">
                                <div class="nature-sous-rubrique" Style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
                                    <h3>Le gain en QI résulte des leçons de musique</h3>
                                    <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    "Vers l’âge de 6 ans, on retrouve des effets apparentés. Les enfants de 6 ans qui reçoivent des cours de piano ou de
                                 chant pendant un an prennent quelques points de plus à l’échelle de mesure de l’intelligence (QI) [2]. 
                                 Les cours de théâtre ou l’absence de leçon, pendant la même période, ne donnent pas un tel avantage. 
                                 Les résultats de cette étude, qui a eu un impact retentissant en 2004, sont repris ci-dessous. Ils ont été reproduits 
                                 à l’âge de 4 ans et à l’âge de 8 ans au Canada et en Europe. Étant donné que la répartition des enfants aux différentes
                                  classes était aléatoire, le gain en QI résulte bien des leçons de musique, et non de la motivation des parents, par exemple.
                                </li>
                            </ul>



                            <ul>
                                <li>
                                Il est utile de mentionner ici que l’échelle de mesure de l’intelligence la plus utilisée (celle de Wechsler) 
                                est standardisée. Elle permet donc la comparaison entre études. Cependant, le QI n’est pas une mesure « pure »
                                 ou directe de l’intelligence. Je doute fort qu’une telle mesure existe d’ailleurs. Le QI reflète la performance
                                  à une variété de tests, dont la mémoire de travail qui est fort sensible à l’éducation musicale."
                                </li>
                            </ul>

                            <p>[2] Schellenberg, E. G. (2004), « Music lessons enhance IQ », Psychological Science, 15, p. 511-514. </p>
                            
                            <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>



<%# ************************ ÉTUDE 3 **************************************************************** %>
<%# ************************ ÉTUDE 3 **************************************************************** %>
<%# ************************ ÉTUDE 3 **************************************************************** %>

                            <div class="col-12 col-12-sous-rubrique" style="margin:20px 0px">
                                <div class="nature-sous-rubrique" Style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
                                    <h3> Apprendre la musique au secondaire améliore les apprentissages scolaires.</h3>
                                    <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    "L’avantage intellectuel du jeune musicien, qui s’exprime par des résultats académiques supérieurs, 
                                    semble se maintenir durant toute la scolarité. Une enquête récente [3] à grande échelle (auprès de 180 000 élèves),
                                     menée sur trois cohortes consécutives, confirme qu’en fin de secondaire (entre 16 et 17 ans), les élèves canadiens 
                                     qui participent à un orchestre à vent (appelé harmonie au Québec), une chorale ou un ensemble à cordes (n = 2 300)
                                      ont un taux moyen de réussite plus élevé dans toutes les matières évaluées : en mathématiques, en biologie et,
                                       à un moindre degré, en anglais. Ceux qui ont suivi des cours d’arts plastiques ne montrent pas un tel avantage. 
                                       Ainsi, apprendre la musique au secondaire améliore les apprentissages scolaires."
                                </li>
                            </ul>

                            <p>[3] Gouzouasis, P., Guhn, M., et Kishor, N. (2007), « The predictive relationship between achievement and participation in music and achievement 
                            in core Grade 12 academic subjects », Music Education Research, 9, p. 81-92.  </p>
                            
                            <cite style="text-align: center !important;">Peretz, Isabelle. Apprendre la musique (OJ.SCIENCES) </cite>

<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>








<%# **************************************************
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-6">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Aller plus loin...</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


<%# ***************************MOINS SOUVENT MALADE************************************ %>
<%# ***************************MOINS SOUVENT MALAD************************************ %>

                            <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                                <div class="nature-sous-rubrique" Style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
                                    <h3>Livre - Apprendre la musique: Nouvelles des neurosciences (OJ.SCIENCES)</h3>
                                    
                                </div>
                            </div>

           

                            <div class="container" style="margin: 20px 0px">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10" >
                                        <%= image_tag("AAA-livre-apprendre-la-musique.jpg", class: "img-fluid mx-auto d-block ") %>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>


                            

                                        <ul>
                                            <li>
                                                Comment l’apprentissage de la musique agit-il sur notre cerveau ? Quels effets a-t-il sur la curiosité, 
                                            l’attention et la mémorisation ? Quel impact sur la lecture ou le raisonnement mathématique ? Faut-il, 
                                            pour apprendre et faire des progrès, qu’un enfant ait l’oreille musicale ? Et s’il chante faux ? Que penser 
                                            par ailleurs des adultes qui décident de s’y mettre sur le tard ? Y a-t-il un âge pour apprendre la musique ?
                                            </li>
                                            <li>
                                                Aujourd’hui, les enseignants et les responsables des systèmes scolaires s’interrogent, et interrogent les 
                                            experts. Encore tout récemment, la Suisse misait sur une éducation musicale de qualité en l’inscrivant dans
                                             sa Constitution. Quels sont les fondements neuroscientifiques de cet intérêt pour l’éducation musicale ?
                                            </li>
                                            <li>
                                                Fruit de plus de trente ans de recherches neurobiologiques sur la musique en lien avec l’éducation, le livre
                                             qui nous dit tout sur la manière dont la musique transforme notre cerveau… pour notre plus grand bien !
                                            </li>
                                            <li>
                                                Par l’une des plus grandes spécialistes, les neurosciences de la musique à la portée de tous, parents comme 
                                            enseignants !
                                            </li>
                                        </ul>

                                        
                                  


<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>




<%# **************************************************
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
MUSIQUE > ALLER PLUS LOIN
************************************************** %>











<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




      <%= render 'shared/menu_all_learnings'  %>      




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>













<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>

        </div>

<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>








<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>






        <div class="col-12 col-lg-3 promo" >
            



<%# VIDEO 1 > YAMAHA > CONCERT   %>
            <h2 class="reclame-video-title">Concert junior 2015 - Athènes  </h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YnnNj0p_Vi4" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > YAMAHA > COURS DE GUITAR    %>
            <h2 class="reclame-video-title">Méthode Yamaha - Cours de guitare</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xJ3tzSleXLU" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school)  au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3QzvU41rZrs" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) : camp de trappeurs de l'école Skoven au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jkiij9dJfcw" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) finlandaise</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HG1gQYeln8I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


            
<%# VIDEO 1 > SINGAMPOUR    %>
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>



<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>



        </div>




<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>


<%# *************************************** %>

    </div>
</div>