<%# *************************TITLE*************************************************** %>
<% @title="Apprentissage par le Jeu de la Nature pour les Enfants 2 à 6 ans | Hello Houston Learnings" %>
<%# *************************TITLE*************************************************** %>






<%# *************************DESCRIPTION*************************************************** %>
<% content_for :head do %>
    <meta name="description" content="L'apprentissage par le jeu de la nature pour les enfants de 2 à 6 ans : 
apprendre à aimer la nature est un des plus beaux cadeaux qu'on puisse faire à un enfant.">
<% end %>
<%# *************************DESCRIPTION*************************************************** %>


<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-nature-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>


<%# ************************* FACEBOOK *************************************************** %>
<% content_for :head do %>
<meta property="og:url"                content="https://www.hello-houston-learnings.com/apprentissage-nature-enfant-2-a-6-ans" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Apprentissage par le Jeu de la Nature pour les Enfants 2 à 6 ans | Hello Houston Learnings" />
<meta property="og:description"        content="Apprendre à aimer la nature est un des plus beaux cadeaux qu'on puisse faire à un enfant." />
<meta property="og:image"              content="https://www.hello-houston-learnings.com/assets/AAA-nature-banner-c6540af6af40d8c51327ab77a4ba770a795a30b88fc1c0a02d55c5d5936aba6b.jpg" />
<% end %>
<%# ************************* FACEBOOK *************************************************** %>




<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-nature-banner.jpg' %>); position: relative;">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.hello-houston-learnings.com/apprentissage-nature-enfant-2-a-6-ans" 
                class="btn-facebook" target="_blank"><i class="fab fa-facebook"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-12 learning-banner-flex">
                <h3 class="learning-boite-idee">La boîte à idées !</h3>
                <h1 style="margin-bottom:0px">L'APPRENTISSAGE PAR LE JEU DE LA NATURE POUR LES ENFANTS DE 2 À 6 ANS</h1> 
                
            </div>
        </div>
    </div>  
</div>



<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "nature", apprentissage_nature_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>



<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container">
    <div class="row">
        <div class="col-lg-9" style="margin-bottom:40px">
            <div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu-general">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Appartement / Maison</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Balcon / Jardin</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Activités en extérieur</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Pédagogie</p>
                                </div>
                            </a>
                        </div>   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-7" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Forest school</p>
                                </div>
                            </a>
                        </div>   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Études sur la nature</p>
                                </div>
                            </a>
                        </div>   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-6" class="box-link">
                                <div class="box-AAA-menu-general-inside-math" style="background-color:#03bddf !important">
                                    <p>Aller plus loin...</p>
                                </div>
                            </a>
                        </div>  

                        <%= render 'shared/button_towards_learning'  %> 




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%# ********************************PROMO**********************************************
********************************PROMO********************************************** %>



<div class="container" style="margin-bottom: 30px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
            <h3 style="text-align:center; font-weight:bold;">L'école de la forêt (forest school) finlandaise</h3>
            <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HG1gQYeln8I" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div> 





<%# ********************************IMAGE INTRO**********************************************
********************************IMAGE INTRO********************************************** %>
<div class="container" style="margin: 30px 0px 20px 0px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" >
            <%= image_tag("AAA-nature-page-intro.jpg", class: "img-fluid img-motricite img-nature") %>
        </div>
        <div class="col-1"></div>
    </div>
</div>



<%# ********************************IMAGE INTRO**********************************************
********************************IMAGE INTRO********************************************** %>






<!-- Nature > intro -->
<!-- Nature > intro -->
<div class="container">
    <div class="row">
        <div >
            <div >
                <blockquote>
                    <h2 class="learnings-introduction-citation">
                    
                    La nature a des effets positifs sur le stress, le sommeil, la concentration 
                    ou encore la santé mentale dès le plus jeune âge. De récentes recherches en neurosciences 
                    montrent que la nature aurait des effets protecteurs contre l’apparition et le développement
                    de troubles neurologiques ou psychiatriques.
                    
                    </h2>
                </blockquote>
                
                    <%# <hr>
                
                <blockquote>
                    <h2 class="learnings-introduction-citation">
                    
                    Dès les années 1990, Rachel Kaplan, de l’université du Michigan, aux États-Unis,
                 avait montré que des scènes de nature (comme le vent dans un feuillage ou l’eau 
                 d’un torrent qui s’écoule) attirent notre attention d’une façon douce et discrète, 
                 permettant un repos et un rétablissement cognitif. Dans une meilleure disposition, 
                 le cerveau génère alors davantage d’idées nouvelles : dans une expérience menée en 
                 2012 par Ruth Atchley, de l’université du Kansas, et ses collègues, les performances 
                 des participants à un test de créativité ont augmenté de 50 % après quatre jours de 
                 randonnée dans les grands parcs américains. <cite style="font-size:10px">Cerveau & Psycho</cite>
                    
                    </h2>
                </blockquote> %>


                
            </div>
        </div>
    </div>
</div>
<!-- Nature > intro -->
<!-- Nature > intro -->







<%# **************************************
APPRTEMENT - MAISON
************************************** %>

<div class="container " style="margin-top: 10px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">La nature pour les enfants au sein de l'appartement - la Maison</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row">


                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Chambre de l'enfant</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            



                            <div class="container cont-chambre">
                                <div class="row">
                                    <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-chambre-1.png", class: "img-fluid img-motricite img-nature photo-zoom") %>
                                        </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>

                
                           



                            <ul>
                                <li>
                                Créer un environnement où la nature est sublimée. (sens de la vue)
                                </li>
                                        <ul>
                                            <li>Des photos de jeunes animaux avec leurs parents</li>
                                            <li>Des photos de paysages magnifiques </li>
                                            <li>...</li>
                                        </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut jouer avec la nature (sens = vue + toucher)
                                </li>
                                    <ul>
                                        <li>Des figurines d'animaux</li>
                                        <li>Des peluches d'animaux</li>
                                        <li>Des peluches de végétaux</li>
                                        <li>...</li>
                                    </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut sentir la nature. (sens de l'odorat)
                                </li>
                                    <ul>
                                        <li>Le jeu des odeurs</li>
                                    </ul>
                            </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Salon</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-salon.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Présence de <strong>plantes</strong>
                                    </li>
                                    <li>
                                    <strong>Table des saisons (Pédagogie Steiner-Waldorf) ou table d'observation (Pédagogie Montessori)</strong>.
                                    Elle consiste à représenter, à l'intérieur de la maison, la nature 
                                    au fil des saisons (printemps, été, automne, hiver).
                                    Pour cela, l’enfant place, dans un espace dédié (table, étagère, meuble…), de petits trésors de la nature 
                                    (feuilles d’arbre, fruits, fleurs, bois, coquillages…) qu’il a collecté. Il peut y ajouter des réalisations 
                                    manuelles qui lui évoquent la saison en cours et même créer des scènes 
                                    en plaçant des figurines d’animaux. Des livres en lien avec la saison peuvent être en libre accès.
                                    L’objectif est de faire rentrer la nature à la maison, faire découvrir son
                                     infinie richesse et se connecter au rythme des saisons.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Vivarium</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-vivarium.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Un vivarium pour découvrir les sciences en s'amusant.
                                    </li>
                                    <li>
                                    Observer l'évolution des racines et des lombrics, idéal pour en apprendre plus sur la nature.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Dessins animés</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10 img-chambre" >
                                        <%= image_tag("AAA-Nature-Yakari.jpg", class: "img-fluid img-motricite img-nature") %>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                Yakari est un exemple de dessin animé qui sublime la nature.
                                </li>
                            </ul>


                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Reportages animaliers</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-reportage-animalier.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• BALCON / JARDIN
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">La nature pour les enfants sur le balcon - dans le jardin</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-jardin-balcon.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Plant de tomate
                        </li>
                        <li>
                        Potager composteur
                        </li>
                        <li>
                        Carré potager
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************************
• ACTIVITÉS EXTÉRIEURES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-3">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Nature pour les enfants- Activités en extérieur</h2>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-activités-exterieures.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Balade en forêt
                        </li>
                        <li>
                        Randonnée
                        </li>
                        <li>
                        Séjour à la ferme
                        </li>
                        <li>
                        Jardiner (s'occuper d'un potager)
                        </li>
                        <li>
                        Cueillette aux champignons
                        </li>
                        <li>
                        Observation d'une nuit étoilée
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• 2 PÉDAGOGIES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-4">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  class="h2-pedagogie-size" >La pédagogie par la nature </h2>
                
                <div class="container cont-chambre cont-img-salon" style="margin-bottom:30px">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-pédagogie.jpg", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>L'école à ciel ouvert</h3>
                                        </div>
                                        <ul style="padding-top:15px">
                                            <li> La pédagogie par la nature, ou outdoor learning en anglais, est une méthode
                                                éducative basée sur l’apprentissage dans la nature. Concrètement, l’apprentissage
                                                se déroule hors de la classe, en plein air, dans une forêt ou un environnement naturel.
                                                La pédagogie par la nature est à la base du concept de <strong>Forest School</strong>, 
                                                que l’on retrouve dans les pays scandinaves, en Angleterre, en Allemagne, en Suisse, aux États-Unis, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>L'enfant dans la nature</h3>
                                        </div>
                                        <ul style="padding-top:15px">
                                            <li> L’enfant dans la nature : un livre pour mettre la nature au centre du développement 
                                                  de l’apprentissage des enfants
                                            </li>
                                            <li>
                                            Les enfants vivent aujourd’hui entre quatre murs, coupés de la nature. Ils souffrent d’obésité,
                                             d’hypertension, de dépression, de troubles du comportement, etc. Quelle est la responsabilité
                                            du modèle éducatif ? Couper la jeunesse d’un monde extérieur qui pourtant l’aide à grandir
                                            n’est-il pas inadapté et dangereux ?
                                            </li>
                                            <li>
                                            Pour accompagner les enfants dehors, des initiatives fleurissent. Matthieu Chéreau et Moïna 
                                            Fauchier-Delavigne ont voulu en savoir plus et ont rencontré des chercheurs, des éducateurs, 
                                            des enseignants, ces pionniers qui se penchent sur l’importance des milieux naturels, des arbres,
                                             de la terre et de l’eau dans le bien-être de l’enfant. Ils se sont aussi rendus dans ces écoles 
                                             en Europe où la classe se fait à ciel ouvert. Où l’enfant fait l’expérience de la nature.
                                            </li>
                                            <li>
                                            Cette formidable enquête nous révèle qu’un mouvement qui met la nature au centre du développement
                                             et de l’apprentissage de l’enfant croît rapidement dans le monde, et prend forme en France. 
                                             Les résultats sont là : les enfants qui bénéficient de cette approche acquièrent des compétences 
                                             solides – d’un point de vue physique, mais aussi cognitif et social – et une appétence indéniable à la joie.
                                            </li>
                                            <li>Une autre éducation est possible, grâce à laquelle l’enfant redécouvre la richesse du monde dans lequel il vit.</li>
                                            <li>
                                            Les auteurs : Matthieu Chéreau est auteur de livres sur l’éducation (Préparons nos enfants à demain.
                                             Ces compétences qu’ils ne trouveront pas à l’école, Eyrolles, 2018) et consultant ;
                                              Moïna Fauchier-Delavigne est journaliste au Monde, où elle traite les questions d’éducation. 
                                              Elle a notamment publié de nombreux articles sur la pédagogie par la nature et les écoles en 
                                              forêt. Ils se sont rencontrés en devenant parents à Paris, ayant tous deux l’intuition qu’il 
                                              manquait à leurs enfants un lien avec la nature. Ils partagent leurs travaux sur lenfantdanslanature.org.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>    









<%# *******************************************À L'ÉTRANGER ******************************************************
*******************************************À L'ÉTRANGER   ******************************************************
*******************************************À L'ÉTRANGER   ****************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">



            <div class="box-AAA-menu ">



                <div class="button-ancre">
                        <p id="ancre-7">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  class="h2-pedagogie-size" style="margin:0px !important;" >Nature et enfants - Tour du monde </h2>
                <h2  class="h2-pedagogie-size" >L'école de la forêt (Forest school) </h2>
                
                




<%# *******************************************ECOLE DE LA FORET DANEMARK   ******************************************************
*******************************************ECOLE DE LA FORET DANEMARK   ****************************************************** %>
                    <div class="container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>[École de la forêt]</h3>
                                                <h3>Au Danemark, les forêts sont des salles de classe</h3>
                                            </div>
                                            <ul style="padding-top:15px">
                                                <li>
                                                Environ 20 % des classes maternelles y sont établies en pleine nature. Santé, sociabilité, concentration...
                                                 les avantages pour le développement des élèves sont nombreux.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <h3 style="text-align:center;">L'école de la forêt au Danemark </h3>

                    <div class="container" style="margin-bottom: 30px">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3QzvU41rZrs" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div> 


                          

                    <h3 style="text-align:center;">Le camp de trappeurs de l'école maternelle Skoven </h3>

                    <div class="container" style="margin-bottom: 30px">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jkiij9dJfcw" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div> 


                        <ul>
                            <li>La bâtisse principale est un maison jaune à colombages et en toit de chaume</li>
                            <li>Un atelier de bricolage</li>
                            <li>Des bancs</li>
                            <li>Un foyer</li>
                            <li>Un four à pain</li>
                            <li>Des totems sculptés</li>
                            <li>Une cabane pour la sieste des plus jeunes</li>
                            <li>Un mini-terrain de foot</li>
                            <li>Des balançoires</li>
                            <li>Une piste pour des tracteurs en plastique</li>
                            <li>Une botte de foin</li>
                            <li>Crânes d'animaux qui font office de décoration</li>
                            <li>Un abri : une bibliothèque fournie et des étagères remplies de boîtes contenant du matériel 
                            pour les mathématiques et d’autres choses propres à une classe de maternelle…</li>
                        </ul>

                    <h3 style="text-align:center;">Une journée de mars... </h3>
                            <li>
                            En cette journée de début mars, le ciel est dégagé, la température dépasse à peine zéro degré et le sol 
                            tourne à la gadoue. L’endroit est parsemé de jeunes pousses d’ail des ours à l’odeur entêtante. 
                            D’ici peu, leurs fleurs blanches vont éclore. Tous les enfants sont équipés d’une combinaison d’hiver
                            , de bottes fourrées, d’une cagoule et de moufles. « Il n’y a pas de mauvais temps, il n’y a 
                            que des mauvais vêtements », dit le dicton. C’est uniquement en cas de tempête ou d’intense brouillard 
                            que le groupe se replie à l’intérieur. A l’heure du déjeuner, tous s’asseyent dans la véranda attenante
                             à la maison : ils gardent leurs combinaisons et retirent juste leurs gants pour pique-niquer.
                            </li>
                            <li>
                            Selon les études d’un biologiste suédois, les enfants en contact quotidien avec la nature sont moins malades, 
                            plus sociables et ont une meilleure concentration.
                            </li>
                            <li>
                            « Cet hiver, on a passé cinq jours dedans, bien plus que l’an dernier », regrette Ragna, l’enseignante qui a créé Skoven 
                            (« forêt », en danois) il y a vingt-six ans. Elle travaillait alors à la maternelle de Holeby, dirigée par Jesper
                             Lund. Tous deux ont voulu ouvrir une classe supplémentaire, dans la forêt. Pour eux, une salle de classe 
                             fermée ne pouvait être le lieu le plus adapté à l’épanouissement des enfants.
                            </li>
                            <hr>
                            <li>
                            Pour Lone Svinth, chercheuse en psychologie de l’éducation à l’université d’Aarhus, ces écoles offrent quelque chose de très précieux 
                            : « Non seulement une connexion au quotidien avec la nature, mais aussi la possibilité d’être un enfant de façon différente. 
                            Dans une classe à l’intérieur, les enfants sont toujours en conflit avec leur environnement. Ils manquent de place. 
                            Les adultes interfèrent beaucoup plus et leur interdisent de crier, de courir… Alors que dehors, ils peuvent avoir 
                            des interactions plus riches avec les enfants, qui ont l’espace et le temps pour pouvoir se concentrer. »
                            </li>


                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8" style="text-align:center; font-size:15px; font-weight:bold;">
                                <h3 class="video-nature-x">Comprendre l'approche danoise de la forest school</h3>
                            </div>
                            <div class="col-2" ></div>
                            <div class="col-1"></div>
                            <div class="col-10 img-chambre" >
                                <%= image_tag("AAA-understanding-the -danish-forest-school-approach.jpg", class: "img-fluid img-motricite img-nature") %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                           
                    
                


                    <cite>Source : Au Danemark, les forêts sont des salles de classe - Moïna Fauchier-Delavigne - Le monde - 3 septembre 2018</cite>






<%# ******************************************* ECOLE DE LA FORET FINLANDE ******************************************************
******************************************* ECOLE DE LA FORET FINLANDE  ****************************************************** %>

                    <div class="container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>[École de la forêt]</h3>
                                                <h3>L'école de la forêt finlandaise</h3>
                                            </div>
                                            <ul style="padding-top:15px">
                                                <li>
                                                Au cœur de la forêt finlandaise, des enfants de 6 ans vivent l'expérience unique d'une éducation hors les murs. 
                                                Ce documentaire montre une autre façon de vivre l’école en connexion à la nature qui apporte de multiples bienfaits
                                                au développement de l’enfant et l’engage dans un processus d’apprentissage actif.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="container" style="margin-bottom: 30px">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HG1gQYeln8I" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>      








<%# ************************************************************************ %>
                        
                    </div>

<%# ************************************************************************ %>
        </div>
    </div>
</div>    









<%# *******************************************À L'ÉTRANGER ******************************************************
*******************************************À L'ÉTRANGER   ******************************************************
*******************************************À L'ÉTRANGER   ****************************************************** %>



















<%# *******************************************ÉTUDES ******************************************************
*******************************************ÉTUDES  ******************************************************
*******************************************ÉTUDES  ****************************************************** %>



<%# *************************************START******************************************* %>
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<%# *************************************START******************************************* %>



<%# *************************************BORDER******************************************* %>
            <div class="box-AAA-menu ">
<%# *************************************BORDER******************************************* %>



<%# ************************************ANCRE************************************* %>
                <div class="button-ancre">
                        <p id="ancre-5">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
<%# ************************************ANCRE************************************* %>



                <h2  style="margin-bottom: 15px">Études internationales sur les bienfaits de la nature pour les enfants </h2>

                

                <div class="container">
                    <div class="row">
                        



<%# ***************************MOINS SOUVENT MALADE************************************ %>
<%# ***************************MOINS SOUVENT MALAD************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Les enfants en contact quotidien avec la nature sont moins malades, plus sociables et ont une meilleure concentration</h3>
                            </div>
                        </div>

                        

                        <ul>
                            <li>
                                Les recherches du biologiste suédois Patrik Grahn, qui a étudié les bénéfices d’un contact quotidien avec la nature sur les enfants
                                 – ils sont moins souvent malades, plus sociables et ont une meilleure concentration –
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Les recherches du bilogiste suédois Patrick Grahn
                        </cite>

<%# ***************************CURIOSITÉ - MOTIVATION************************************ %>
<%# ***************************CURIOSITÉ - MOTIVATION************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>La nature stimule la curiosité, la motivation et la confiance en soi des enfants.</h3>
                            </div>
                        </div>

                        

                        <ul>
                            <li>
                                Au cours de cette enquête menée par la University College London (UCL), 451 enfants, dont la plupart avaient 7 ou 8 ans, 
                                ont répondu à une série de questions permettant de déterminer le niveau de 
                                leur bien-être, de leur connexion à la nature et de leurs valeurs pro-environnement,
                                avant et après leur participation à des activités en nature organisées par Wildlife Trusts.
                            </li>

                            <li>
                                Dans l’ensemble, les chercheurs ont constaté une amélioration de ces trois aspects, 
                                mais ce sont les enfants dont les niveaux initiaux étaient les plus faibles qui ont
                                rapporté les changements les plus importants.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Cette étude a été menée par des chercheurs de l’Institute 
                        of Education – University College London (UCL), à la demande de Wildlife Trusts, 
                        un OBNL qui compte 46 antennes locales offrant des activités dans de très nombreuses réserves naturelles du Royaume-Uni.
                        </cite>
                    

                        <div style="display:flex; justify-content:center; align-items:center;margin-bottom:20px;">
                            <%= link_to "Nature - University College London (UCL)", "https://www.wildlifetrusts.org/sites/default/files/2019-11/Children%20and%20Nature%20-%20UCL%20and%20The%20Wildlife%20Trusts%20Full%20Report.pdf",
                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                        </div>

<%# ***************************BAIN DE FORÊT************************************ %>
<%# ***************************BAIN DE FORÊT************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Bains de forêt ou shinrin yoku</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Passer du temps entouré d’arbres abaisserait le rythme cardiaque, la pression artérielle
                                et le taux d’hormones liées au stress, le cortisol et l’adrénaline. Les chercheurs
                                ont même constaté que ces sorties « attentives » en forêt, ici limitées à 2h,
                                diminuaient de manière significative l’anxiété, la dépression, la colère
                                et la fatigue et améliorait l’humeur des participants, âgés ici de 45 à 86 ans.

                            </li>

<hr>

                            <li>
                                 <strong>Bains de forêt ou "shinrin yoku"</strong> est une pratique médicale très populaire au Japon. 
                                 Cette médecine de la forêt nous invite à nous rapprocher de la nature, de son harmonie, 
                                 afin de nous reconnecter avec notre capacité innée à guérir. L’art des bains de forêt 
                                 consiste à se relier aux arbres, végétaux, d'embrasser la nature par l’intermédiaire de nos 5 sens. 
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Effects of Short Forest Bathing Program on Autonomic Nervous System Activity and 
                        Mood States in Middle-Aged and Elderly Individuals. Yu et al., International
                         Journal of Environmental Research and Public Health, Août 2017.
                        </cite>

                        <div style="display:flex; justify-content:center; align-items:center;margin-bottom:20px;">
                            <%= link_to "Bain de forêt ou shinrin yoku", apprentissages_boosters_methode_de_singapour_path,
                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                        </div>

<hr>

                        <ul>
                            <li>
                                Les bienfaits des <strong>bains de nature</strong> ne sont pas seulement psychiques, 
                                ils sont aussi physiques. Plusieurs études ont montré qu’ils réduisent
                                la douleur et accélèrent la guérison de certains patients, ou encore
                                préviennent certaines maladies. En 2006, Qing Li, de l’École de médecine
                                japonaise, à Tokyo et ses collègues ont ainsi découvert que les phytoncides, 
                                des huiles essentielles émises par les arbres, favorisent l’activité des « cellules NK »
                                 – qui, chez l’homme, traquent et tuent les cellules infectées par des virus.
                            </li>      
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">École de médecine
                                japonaise, à Tokyo
                        </cite>

<%# ***************************ÉTUDE DANOISE************************************ %>
<%# ***************************ÉTUDE DANOISE************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Exposition à la nature durant l'enfance</h3>
                            </div>
                        </div>

                        

                        <ul>
                            <li>
                                Les bienfaits de la nature sont également reconnus dès l’enfance. 
                                Une étude danoise menée sur près d’1 million d’individus a comparé l’exposition 
                                à la nature durant l’enfance et l’apparition chez certains, de troubles psychiatriques.
                                Résultat : les enfants qui grandissent en milieu urbain auraient 55 % plus de risques
                                de développer de tels troubles. Et en effet, les médecins ont pu constater qu’il 
                                existe une proportion plus élevée de maladies psychiatriques (dépressions, troubles
                                anxieux, schizophrénie) en milieu urbain. Vivre en ville permet généralement
                                 un meilleur accès aux soins et à l’éducation mais son environnement est 
                                composé de facteurs de stress importants : pollutions, nuisances visuelles 
                                et auditives… le cerveau est agressé et se repose peu.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Residential green space in childhood is associated with lower 
                        risk of psychiatric disorders from adolescence into adulthood. Engemann et al., PNAS, 25 février 2019
                        </cite>
                    



<%# *************************** ESAPCE VERT ************************************ %>
<%# *************************** ESPACE VERT ************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Se promener dans un espace vert = un moment de repos pour notre cerveau</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Se promener dans un espace vert apporterait justement un moment de repos pour notre cerveau. 
                                Des chercheurs américains ont découvert chez des participants en bonne santé qu’une brève 
                                expérience avec la nature, à savoir une marche de 90 minutes dans un cadre naturel, 
                                diminuerait la rumination (la pensée répétitive axée sur les aspects négatifs du soi), 
                                une manifestation connue de certaines affections mentales, notamment la dépression. 
                                Ils ont également mis en évidence une diminution de l’activité neuronale d’une partie 
                                précise du cerveau, le gyrus cingulaire antérieur, suractivé chez les personnes ayant 
                                tendance à la rumination mentale. Une autre bonne raison de se mettre au vert régulièrement !
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Nature experience reduces rumination and subgenual prefrontal cortex activation. 
                        Gross et al., PNAS, 29 juin 2015.
                        </cite>


<%# *************************** CONVENTRATION & CONCENTRATION ************************************ %>
<%# *************************** CONVENTRATION & CONCENTRATION ************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>La nature est un booster de l'attention et de la concentration</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Selon la Haute Autorité de Santé, 3,5 à 5,6 % des enfants scolarisés souffriraient de troubles 
                                de l’attention/hyperactivité (TDAH) en France. Des chercheurs de l’Université de l’Illinois
                                ont montré que passer du temps dans la nature serait bénéfique aux enfants atteints de TDAH. 
                                En effet, favoriser des activités dans un cadre de verdure en plein air réduirait de manière 
                                plus significative les symptômes des enfants TDAH (inattention, manque de concentration, impulsivité), 
                                que des activités menées à l’intérieur ou dans des espaces extérieurs urbains.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">A potential natural treatment for Attention-Deficit/Hyperactivity 
                        Disorder: evidence from a national study. Kuo & Taylor, American Journal of Public Health, Septembre 2004.
                        </cite>


<%# *************************** NATURE & CRÉATIVITÉ ************************************ %>
<%# *************************** NATURE & CRÉATIVITÉ ************************************ %>


                        
                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Nature et créativité</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Dans une meilleure disposition, 
                                le cerveau génère alors davantage d’idées nouvelles : dans une expérience menée en 
                                2012 par Ruth Atchley, de l’université du Kansas, et ses collègues, les performances 
                                des participants à un test de créativité ont augmenté de 50 % après quatre jours de 
                                randonnée dans les grands parcs américains.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Cerveau & Psycho -Les bonnes ondes de la Nature 2019
                        </cite>

                


<%# *************************** SCÈNES DE NATURE > CONVENTRATION & CONCENTRATION ************************************ %>
<%# *************************** SCÈNES DE NATURE > CONVENTRATION & CONCENTRATION ************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Les scènes de nature sont des boosters de l'attention et de la concentration</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Plus étonnant encore, une étude australienne réalisée par des chercheurs de l’Université de 
                                Melbourne a observé que le simple fait de regarder des scènes de nature améliore l’attention
                                et la concentration. 150 étudiants universitaires ont eu pour consigne d’accomplir une tâche
                                avant et après avoir regardé durant 40 secondes une scène urbaine avec un toit verdoyant et 
                                fleuri, ou bien avec un toit banal en béton nu. Après cette pause, les participants ayant vu
                                la scène de nature ont fait beaucoup moins d’erreurs que ceux ayant vu la scène bétonnée et
                                leur niveau de concentration a augmenté de 6%. 
                                Ces résultats confirment les bienfaits d’une exposition à la nature, même juste imagée, sur le cerveau.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">40-second green roof views sustain attention: 
                        The role of micro-breaks in attention restoration. 
                        Lee et al., Journal of Environmental Psychology, Juin 2015.
                        </cite>

                        <hr>
                        
                        <ul>
                            <li>
                            Dès les années 1990, Rachel Kaplan, de l’université du Michigan, aux États-Unis,
                            avait montré que des scènes de nature (comme le vent dans un feuillage ou l’eau 
                            d’un torrent qui s’écoule) attirent notre attention d’une façon douce et discrète, 
                            permettant un repos et un rétablissement cognitif.
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Cerveau & Psycho -Les bonnes ondes de la Nature 2019
                        </cite>

                        
<%# *************************** BÉNÉFICES SOCIAUX ************************************ %>
<%# *************************** BÉNÉFICES SOCIAUX ************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Bénéfices sociaux de la nature</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Des bénéfices sociaux ont aussi été observés. Richard Mitchell, de l’université de Glasgow,
                                a par exemple montré que l’accès à des espaces verts atténue les inégalités en termes
                                de santé causées par la disparité des revenus ; c’est en quelque sorte un « soin gratuit pour tous ».
                                En outre, les environnements naturels favorisent le calme, la maîtrise de soi et réduisent
                                les sentiments de frustration et de colère. Ce faisant, ils contribuent au développement 
                                de comportements prosociaux et à une atmosphère de coopération.


                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:20px">Richard Mitchell, de l’université de Glasgow
                        </cite>


<%# *************************** JARDINS À VISÉE THÉRAPEUTIQUE ************************************ %>
<%# *************************** JARDINS À VISÉE THÉRAPEUTIQUE ************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>Des jardins à visée thérapeutique</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Dès 1984, un chercheur américain, Robert Ulrich, montra que bénéficier de chambres 
                                avec vue sur parc diminuait la consommation d’antidouleurs et accélérait la convalescence
                                 des patients hospitalisés après une intervention chirurgicale. Grâce à toutes les 
                                 données accumulées par la suite par les chercheurs, des jardins à visée spécialement 
                                 thérapeutique ont vu le jour dans de nombreux pays.
                            </li>

                            <li>
                            En France, ces jardins continuent de se multiplier en milieu hospitalier et en EHPAD, 
                            et montrent de réels bénéfices pour de nombreuses pathologies, aussi bien neurodéveloppementales
                             (autisme) que psychiatriques (dépression, addiction) et neurologiques (Parkinson, Alzheimer, 
                             épilepsie, sclérose en plaques…). Par exemple, des projets de recherche menés au jardin 
                             thérapeutique du CHRU de Nancy ont permis de démontrer plusieurs effets bénéfiques pour 
                             les patients atteints de maladie d’Alzheimer : meilleure autonomie, amélioration des 
                             capacités cognitives, de l’appétit et du sommeil, réduction des troubles du comportement,
                              de l’agressivité et de l’agitation.
                            </li>
                                
                        </ul>

                        <cite style="font-size: 10px; margin-bottom:5px">View through a window may influence recovery from surgery. 
                        Ulrich R., Science, Mai 1984.
                        </cite>
                        <cite style="font-size: 10px; margin-bottom:20px">Dossier de presse « Jardin Art, mémoire et vie du CHRU de Nancy », 
                        Site internet du CHRU de Nancy
                        </cite>


<%# *************************** JARDINS À VISÉE THÉRAPEUTIQUE ************************************ %>
<%# *************************** JARDINS À VISÉE THÉRAPEUTIQUE ************************************ %>




<%# *************************** LA COUPURE AVEC LA NATURE ************************************ %>
<%# *************************** LA COUPURE AVEC LA NATURE  ************************************ %>


                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>[Étude sur les bienfaits de la nature]</h3>
                                <h3>L'enfant coupé de la nature</h3>

                                    <p style="text-align: center; font-size:10px; color: #224358! important;">Fauchier Delavigne, Moïna; Matthieu Chéreau. L'enfant dans la nature 
                                    (Documents) (French Edition) (p. 22). Fayard. Édition du Kindle. </p>

                                
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                            Une matinée d’été non loin de Grenoble, dans un centre de vacances, une éducatrice entame un atelier de relaxation dans la nature
                             avec un petit groupe de filles de 11 ans. Elle leur demande pour commencer de se déchausser dans l’herbe. La réaction est unanime
                              : « Quoi ? Pieds nus ? Ça ne va pas la tête ! C’est dégoûtant. Il y a des bêtes. » Une seule fillette ose finalement tenter l’expérience. 
                             « Elle n’avait jamais marché pieds nus dans l’herbe et a trouvé ça génial », raconte l’éducatrice trois ans plus tard, encore marquée 
                             par cette expérience. « Dans un monde normal, on découvre ça dès qu’on commence à marcher, vers 1 an. » Julie Delalande, 
                             anthropologue de l’enfance, résume ainsi ce que nous vivons, ou plutôt ce que nous faisons vivre à nos enfants aujourd’hui 
                             : « Le jeu en plein air a été éliminé de leur emploi du temps. » C’est pourtant ce que préfèrent les jeunes et ce dont 
                             ils ont le plus besoin. Pour eux, rester immobiles à l’intérieur est difficile, le besoin de bouger librement et de se dépenser 
                             étant puissant, tout comme celui d’explorer et d’expérimenter par leurs sens.

                            <cite>Fauchier Delavigne, Moïna; Matthieu Chéreau. L'enfant dans la nature (Documents) (French Edition) (p. 22). Fayard. Édition du Kindle. </cite>



                            </li>
                            <hr>
                            <li>
                                Dans une étude de 2004, un groupe de mères américaines a comparé le jeu de leurs enfants avec le leur au même âge. Parmi elles,
                                 70 % ont assuré qu’elles s’amusaient à l’extérieur tous les jours. Leurs petits sortent deux fois moins fréquemment et seuls 31 %
                                  le font quotidiennement1. Selon la chercheuse Rhonda Clements du Manhattanville College de New York : 
                                  « Étonnamment, les réponses étaient assez similaires pour les mères vivant en ville ou à la campagne. »
                            
                            </li>
                            <li>
                            Une étude britannique donne les mêmes résultats. La cause de tous les maux ne résiderait pas simplement dans le fait d’habiter en ville,
                             mais plutôt dans la façon d’y habiter (même si l’aménagement du territoire a des répercussions importantes sur les possibilités de sortie des enfants).
                            <cite>Fauchier Delavigne, Moïna; Matthieu Chéreau. L'enfant dans la nature (Documents) (French Edition) (p. 22). Fayard. Édition du Kindle. </cite>

                            </li>
                            <hr>

                            <li>
                            Selon une autre étude américaine menée par Sandra Hoffert à l’université du Maryland, la proportion des enfants
                             âgés de 9 à 12 ans passant du temps dehors, à marcher, jouer, pêcher, jardiner, etc., a baissé de moitié entre 
                             1997 et 2003. Ils n’ont plus le temps ou l’accès pour mener ces activités. Il semble aussi que la notion même de 
                             jeu ait évolué, passant d’une activité extérieure à un temps qui se déroule surtout à l’intérieur.
                            <cite>Fauchier Delavigne, Moïna; Matthieu Chéreau. L'enfant dans la nature (Documents) (French Edition) (p. 22). Fayard. Édition du Kindle. </cite>

                            </li>
                            
                            <hr>
                            <li>
                            Nous savons aussi que, pour une grande partie d’entre eux, nos enfants ne savent plus différencier les légumes des fruits. Une courgette ? 
                            Un poireau ? Une figue ? Selon une étude menée en 20139 sur des enfants de 8 à 12 ans, ils sont un tiers à ne pas être capables de les 
                            reconnaître. Quand un quart ne savent pas que les frites sont faites à partir de pommes de terre. Sans surprise d’ailleurs, 
                            ce déclin des connaissances suit la même courbe que celle du déclin plus général des espèces.
                            <cite>Fauchier Delavigne, Moïna; Matthieu Chéreau. L'enfant dans la nature (Documents) (French Edition) (p. 22). Fayard. Édition du Kindle. </cite>
                            
                            </li>
                        </ul>

                     



<%# *************************** LA COUPURE AVEC LA NATURE ************************************ %>
<%# *************************** LA COUPURE AVEC LA NATURE  ************************************ %>



<%# ********************************************************************* %>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>    




<%# *******************************************ÉTUDES ******************************************************
*******************************************ÉTUDES  ******************************************************
*******************************************ÉTUDES  ****************************************************** %>









<%# *******************************************ALLER + LOIN ******************************************************
*******************************************ALLER + LOIN ******************************************************
*******************************************ALLER + LOIN ****************************************************** %>







<%# *************************************START******************************************* %>
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<%# *************************************START******************************************* %>



<%# *************************************BORDER******************************************* %>
            <div class="box-AAA-menu ">
<%# *************************************BORDER******************************************* %>



<%# ************************************ANCRE************************************* %>
                <div class="button-ancre">
                        <p id="ancre-6">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
<%# ************************************ANCRE************************************* %>



                <h2  style="margin-bottom: 15px">Aller plus loin pour l'apprentissage de la nature des enfants... </h2>

                <div class="container cont-chambre cont-img-salon" style="margin-bottom:20px">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("enfant-dans-la-nature-ecole-à-cien-ouvert-passeur-de-nature-100-activités-montessori.jpg", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        



 <%# ***********************************L'ENFANT DANS LA NATURE************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - L'enfant dans la nature</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Tour du monde dans ces écoles au cœur de la forêt, où se mène à bas bruit une véritable révolution verte. 
                                Une autre éducation est possible, où l’enfance redécouvre le monde tout entier, à la fois 
                                terre des hommes et terre de tous les êtres vivants.
                            </li>
                         
                        </ul>

                        <div class="container" style="margin-bottom: 30px">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <h3 class="video-nature-x" >Conférence OASIS - Le besoin de nature chez l'enfant - Moïna Fauchier-Delavigne</h3>
                                </div>
                                <div class="col-2"></div>


                                <div class="col-1"></div>
                                <div class="col-10">
                                    <div class="embed-responsive embed-responsive-16by9" style="padding: 5px">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pE8XWJEXBhA" 
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>       

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                
                                    <p>Est-ce qu'il ya urgence à emmener les enfants dehors ?</p>

                                    <ul>
                                        <li>
                                        <strong>Moïna Fauchier Delavigne </strong>: Il y a urgence à se rendre compte que les enfants ont 
                                        vraiment besoin de nature pour grandir, c’est essentiel. Un enfant qui ne touche pas 
                                        la terre ne va pas développer ses cinq sens. Aujourd’hui, ils sont beaucoup trop à 
                                        l’intérieur et le confinement n’a pas arrangé les choses.
                                        </li>
                                    </ul>

                                    <p>Que trouve-t-on dans la nature qui n’est pas transmis à l’école ?</p>

                                    <ul>
                                        <li>
                                        <strong>Moïna Fauchier Delavigne </strong>: C’est le contact avec le vivant. Dans une salle de classe, 
                                        on aura des phasmes et quelques plantes vertes, mais on est coupé du vivant. Il ne suffit pas d’être 
                                        en contact avec la nature, on en fait partie. Nous sommes, nous aussi, de la nature. Il faut se demander – 
                                        pour les enfants comme pour les adultes – si cela nous fait du bien d’être tout le temps à l’intérieur, assis, 
                                        statiques ? On sent bien, quand on est dehors, que cela nous apaise. Ce contact comporte de multiples bénéfices 
                                        quant à la santé, aux compétences cognitives, sur le plan psychique, sur la réussite scolaire, contre le stress… 
                                        Cela a été largement prouvé depuis des décennies. Plusieurs pays prennent désormais en compte ce besoin de nature
                                         dans le développement de l’enfant au niveau des politiques publiques, de l’éducation, mais aussi en termes
                                          de santé publique.
                                        </li>
                                    </ul>
                                
                                    
                                </div>
                            </div>
                        </div>

                        <cite style="margin-bottom:20px">Source : parismomes.fr - Entretien avec Moïna Fauchier-Delavigne</cite>
                        

                        




 <%# ***********************************ÉCOLE À CIEL OUVERT************************************ %>

                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - L'école à ciel ouvert (Couverture)</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Repousser les murs de la classe pour enseigner en pleine <strong>nature</strong> :
                                folie ? Utopie ? 
                            </li>
                            <li>
                                Pour combler le déficit de nature des enfants citadins,
                                contextualiser les apprentissages et développer les compétences
                                transversales, cet ouvrage est une véritable boussole et ces
                                activités de précieux outils pour tous les enseignants prêts à tenter l'aventure pédagogique hors des murs de l'école
                                Une partie théorique rappelle en introduction les bienfaits de la nature
                                pour les enfants tout en donnant toutes les recommandations pratiques
                                pour organiser les sorties de sa classe en toute sécurité.
                                Classées par matières (français, maths, arts, histoire et géographie,
                                éducation physique et sportive) et organisées en 40 séquences, ces
                                200 activités pédagogiques proposent de mettre en scène les apprentissages
                                du programme scolaire dans des situations concrètes
                                en extérieur.
                            </li>
                            <li>
                                Exigeant peu de matériel, toutes se servent de la nature
                                comme cadre et source d'inspiration.
                                Testées par plus de 170 enseignant(e)s, elles favorisent et encouragent
                                l'interdisciplinarité, la collaboration, la communication et la
                                créativité.
                                Un ouvrage conforme au programme scolaire français.
                            </li>
                                
                        </ul>


<%# ***********************************PASSEUR DE NATURE************************************ %>
                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - Passeur de nature (Couverture)</h3>
                            </div>
                        </div>

                        <ul>
                        <li>
                        Aujourd'hui, les enfants ne passent pas assez de temps dans la <strong>nature</strong>, quatre enfants sur dix
                        ne jouent même jamais dehors... Il est donc urgent de les reconnecter à leur environnement ! Surtout
                        que la nature est sans doute l'un des meilleurs coach de développement personnel !
                        </li>
                        <li>
                        Ce guide pratique vous apprendra d'abord à mieux connaître la nature vous-même, pour pouvoir ensuite 
                        l'enseigner aux enfants. Une véritable boîte à outils pour avancer pas à pas, à l'échelle de la journée, 
                        puis de la semaine, du mois et enfin de l'année entière. Vous apprendrez comment pister des animaux, 
                        passer une nuit à la belle étoile, dénicher des terrains d'aventures... toujours dans l'échange avec l'enfant.
                        </li>
                        </ul>

<%# ***********************************PASSEUR DE NATURE************************************ %>



<%# ***********************************ACTIVITÉS MONTESSORI************************************ %>
                        <div class="col-12 col-12-sous-rubrique" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - 100 activités Montessori (Couverture)</h3>
                            </div>
                        </div>

                        <ul>
                            <li>
                            La pédagogie Montessori fait la part belle aux disciplines qui connectent
                             l'enfant avec le monde dans lequel il vit, et qui répondent à sa curiosité naturelle.
                             (géographie, nature et botanique, monde animal, monde physique et temps)
                            </li>
                            <li>
                            Cet ouvrage propose 100 activités qui invitent l'enfant à observer, à manipuler, 
                            et à expérimenter, pour découvrir le monde par lui-même.
                            </li>
                            <li>
                            Ève Hermann a créé un espace de découverte de la pédagogie Montessori pour les parents
                             et leurs enfants à Angers. Elle participe aussi à la diffusion de cette pédagogie par 
                             ses ouvrages, ses photographies et son blog.
                            </li>
                        </ul>
<%# ***********************************ACTIVITÉS MONTESSORI************************************ %>



                    </div>
                </div>


            </div>


        </div>
    </div>
</div>    



<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




      <%= render 'shared/menu_all_learnings'  %>      




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>













<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>

        </div>

<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>








<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>



        <div class="col-12 col-lg-3 promo" >
            








<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) finlandaise</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HG1gQYeln8I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school)  au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3QzvU41rZrs" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# FOREST SCHOOL   %>
            <h2 class="reclame-video-title">L'école de la forêt (forest school) : camp de trappeurs de l'école Skoven au Danemark</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jkiij9dJfcw" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>







<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            
<%# VIDEO 1 > SINGAMPOUR    %>
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

        </div>

    


<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>


<%# *************************************** %>

    </div>
</div>






