<% @title="Apprentissage des Mathématiques pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>

<% content_for :head do %>
    <meta name="description" content="L'apprentissage des mathématiques pour les enfants de 2 à 6 ans : 
apprendre à compter devient un jeu d'enfant avec la méthode de Singapour et la pédagogie Montessori.">
<% end %>

<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-mathematiques-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>





<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'banner-singapour.jfif' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-bottom:0px">L'APPRENTISSAGE DES MATHÉMATIQUES POUR LES ENFANTS DE 2 À 6 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "mathématiques", apprentissage_mathematiques_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>


<%= render 'shared/the_selection'  %>


<!-- 2 colonnes -->
<!-- 2 colonnes  -->

<div class="container" style="padding:0px;">
    <div class="row" >
    

<!-- Colonne 1 -->
<!-- Colonne 1 -->
        <!-- Colonne col-lg-9 -->
        <div class="col-12 col-lg-9 math" >
            <!-- Colonne col-lg-9 > body -->



<%# **************************MENU************************************ %>
<%# **************************MENU************************************ %>
<%# **************************MENU************************************ %>


                <!-- container menu -->
                <div class="container box-container-AAA-jeu">
                    <div class="row">
                        <div class="col-12">
                <!-- container menu -->
                        
                            <%# **************************NIVEAU BORDER************************************ %>
                            <div class="box-AAA-menu-general">     
                            <%# **************************NIVEAU BORDER************************************ %>

                                <%# *****************container*************** %>
                                <div class="container">
                                    <div class="row" >   
                                <%# *****************container*************** %>

                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-1" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" ">
                                                    <p >À partir de 3 ans</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-2" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" >
                                                    <p >À partir de 4 ans</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <a href="#ancre-3" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" >
                                                    <p>À partir de 5 ans</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-4" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" >
                                                    <p>À partir de 6 ans</p>
                                                </div>
                                            </a>
                                        </div>   
                                        <div class="col-6 col-lg-4 ">
                                                <%= link_to apprentissages_boosters_methode_de_singapour_path, class: "box-link",target: "_blank", 
                                                data: { turbolinks: false } , :action => 'go' do %>
                                                    <div class="box-AAA-menu-general-inside-math" style="background-color:#0596de !important">
                                                        <p>La méthode de Singapour</p>
                                                    </div>
                                                <% end %>
                                        </div>
                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-5" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" style="background-color:#0596de !important" >
                                                    <p>Les fantastiques</p>
                                                </div>
                                            </a>
                                        </div>  
                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-6" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" style="background-color:#0596de !important" >
                                                    <p>Le meilleur de la presse</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6 col-lg-4 ">
                                            <a href="#ancre-7" class="box-link">
                                                <div class="box-AAA-menu-general-inside-math" style="background-color:#0596de !important" >
                                                    <p>Tests internationaux</p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-6 col-lg-4 " >
                                            <%# <a href="#ancre-5" class="box-link"> %>
                                                <div class="box-AAA-menu-general-inside" style="margin-bottom:20px;background-color:#ccecfa !important;">
                                                        <p class="learning-menu-all"><%= link_to "Tous les apprentissages", apprentissages_path, class: " box-link",
                                                        data: { turbolinks: false }, style: "color:#224358 !important" %></p>
                                                        <%# <p style="color:#224358 !important;">Tous les apprentissages Hello Houston Learnings !</p> %>
                                                </div>
                                            <%# </a> %>
                                        </div>    


                                <%# *****************container*************** %>
                                    </div>
                                </div>
                                <%# *****************container*************** %>

                            <%# **************************NIVEAU BORDER************************************ %>    
                            </div>
                            <%# **************************NIVEAU BORDER************************************ %>
                
                <!-- container menu -->
                        </div>
                    </div>
                </div>
                <!-- container menu -->


<%# **************************MENU************************************ %>
<%# **************************MENU************************************ %>
<%# **************************MENU************************************ %>






<%# **************************CITATION************************************ %>
<%# **************************CITATION************************************ %>
<%# **************************CITATION************************************ %>

                <!-- container citation -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                <!-- container citation -->
                        
                            <div >
                                <div >
                                    <blockquote>
                                        <h2 class="learnings-introduction-citation">
                                        "La méthode de Singapour aide les enfants à réfléchir, à raisonner. Elle les incite à voir la présence
                                            des mathématiques dans leur vie, leurs applications et même leur beauté. La manipulation et la 
                                            résolution de problèmes mettant en scène des situations concrètes mènent progressivement à 
                                            l'abstraction, ce qui permet d'assoir des connaissances approfondies qui peuvent aider à 
                                            la compréhension de notions plus avancées, introduites au collège, au lycée, et même à l'université."
                                        </h2>
                                        <cite class="learnings-introduction-citation-cite">
                                        Monica Neagoy - didacticienne qui a traduit et adapté la méthode Singapour en France.
                                        </cite>
                                    </blockquote>
                                </div>
                            </div>



                <!-- container citation -->
                        </div>
                    </div>
                </div>
                <!-- container citation -->

<%# **************************CITATION************************************ %>
<%# **************************CITATION************************************ %>
<%# **************************CITATION************************************ %>






<%# **************************À PARTIR DE 3 ANS************************************ %>
<%# **************************À PARTIR DE 3 ANS************************************ %>
<%# **************************À PARTIR DE 3 ANS************************************ %>

                <!-- container 3 ans -->
                <div class="container " style="margin-top: 10px">
                    <div class="row">
                        <div class="col-12">
                <!-- container 3 ans -->

                            <%# **************************NIVEAU BORDER************************************ %>
                            <div class="box-AAA-menu "> 
                            <%# **************************NIVEAU BORDER************************************ %>    

                            
                                <div class="button-ancre">
                                        <p id="ancre-1">M</p>
                                </div>
                                <a href="#menu-start" class="box-link">  
                                    <div class="button-menu">
                                            <p>Menu</p>
                                    </div>
                                </a> 



                                
                                <h2 style="margin-bottom: 15px">Apprentissage des mathématiques pour les enfants à partir de 3 ans</h2>
                                
               
            
                                      

                <%# *************************************************** %>
                <%# COMPTER %>
                <%# *************************************************** %>

                                <%# *****************container*************** %>
                                <div class="container cont-chambre cont-img-salon">  
                                    <div class="row">  
                                <%# *****************container*************** %>

                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Compter jusqu'à 10 !</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-3ans-compter.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>

                                
                                        <ul>
                                            <li style="margin-top:10px"> <strong>Matériel Montessori</strong></li>
                                                <ul>
                                                    <li>Chiffres rugueux associés à des images</li>
                                                    <li>Chiffres associés à des jetons, dés, cartes à points...</li>
                                                </ul>
                                            <li style="margin-bottom:10px"> <strong>Le boulier</strong></li> 
                                        </ul>
                                        

                                        <div class="container " style="margin-top:0px">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Les chiffres rugueux (Montessori) </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Les chiffres rugueux (Montessori - Céline Alvarez)</h2> 
                                                </div>
                                            </div>
                                        </div>

            

                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ttG7b9VEOEU" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UGFDOK-4dCo" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                                            <%= link_to "Mathématiques - Les lois naturelles de l'enfant (Céline Alvarez)", 
                                            "https://www.celinealvarez.org/mathematiques/videos-et-fiches",
                                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                        </div>

                <%# *************************************************** %>
                <%# SIGNE + et - %>
                <%# *************************************************** %>                    
                                        
                                        <div class="col-12" style="margin-top: 20px">
                                            <div class="container container-sous-rubrique"> 

                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Les signes "+" et "="</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-couleurs.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    
                                        <ul style="margin-top:20px">
                                            <li>
                                            Le tableau de création de couleurs par mélange et le moyen idéal pour introduire
                                            les signes "<strong>+</strong>" et "<strong>=</strong>" à votre enfant.
                                            </li>
                                            <li>
                                            Lors de ses ateliers peintures, votre enfant pourra se référer au tableau des mélanges pour créer des couleurs. 
                                            Succès garanti !
                                            </li>
                                        </ul>

                <%# *************************************************** %>
                <%# ORDRE CROISSANT - DÉCROISSANT %>
                <%# *************************************************** %>         


                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Les ordres croissant et décroissant</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-plus grand-au-plus-petit.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>


                                        <ul style="margin-top:20px">
                                            <li>
                                            Les peluches sont idéales pour enseigner à votre enfant la différence entre 
                                            l'ordre croissant et décroissant.
                                            </li>
                                        </ul>

                <%# *************************************************** %>
                <%# POIDS %>
                <%# *************************************************** %>   

                                    

                                    <div class="col-12" >
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Poids</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-balance.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    

                                    <ul style="margin-top:20px">
                                        <li>
                                        <strong>Cas pratique</strong>
                                        </li>
                                            <ul>
                                                <li>
                                                Vous pouvez par exemple proposer à votre enfant de peser 
                                                ses figurines préférées en prenant comme unité de mesure des billes et de les classer 
                                                par ordre croissant ou décroissant. 
                                                <span style="font-style:italic">(Pour des raisons de sécurité, la manipulation des billes doit 
                                                se faire sous la supervision d'un adulte.)</span>
                                                </li>
                                            </ul>
                                    </ul>

                            <%# *****************container*************** %>        
                                </div>
                            </div>
                            <%# *****************container*************** %>


            <!-- niveau "border" -->                
                        </div>
            <!-- niveau "border" -->

            <!-- container 3 ans -->            
                    </div>
                </div>
            </div>
            <!-- container 3 ans -->

         

                <%# **************************************
                À PARTIR DE 4 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 4 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 4 ANS %>
                <%# ************************************** %> 


                <!-- container 4 ans -->
                <div class="container " style="margin-top: 30px">
                    <div class="row">
                        <div class="col-12">
                <!-- container 4 ans -->
                        
                            <!-- niveau "border" -->       
                            <div class="box-AAA-menu ">
                            <!-- niveau "border" -->       



                                <div class="button-ancre">
                                        <p id="ancre-2">M</p>
                                </div>
                                <a href="#menu-start" class="box-link">  
                                    <div class="button-menu">
                                            <p>Menu</p>
                                    </div>
                                </a> 
                                <h2  style="margin-bottom: 15px">Apprentissage des mathématiques pour les enfants à partir de 4 ans</h2>
                                

                <%# *************************************************** %>
                <%# COMPTER %>
                <%# *************************************************** %>
                                
                                <%# *****************container*************** %>
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                <%# *****************container*************** %>

                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Compter</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-4ans-compter.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>

                                    

                                    <ul>
                                        <li style="margin-top:10px"> Matériel Montessori</li>
                                        <li style="margin-bottom:10px"> Le boulier</li>
                                    </ul>
                                        
                                            

                <%# *************************************************** %>
                <%# DECOMPOSER - RECOMPOSER %>
                <%# *************************************************** %>                    
                                    

                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Décomposer, recomposer le nombre 10</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-4ans-décomposer-recomposer.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    

                                        <ul style="margin-top:20px">
                                            <li>
                                            Le matériel de la méthode de Singapour est idéal pour introduire la notion " décomposer - recomposer".
                                            </li>
                                            <li>
                                            <strong>Cas pratique :</strong> 
                                                <ul>
                                                    <li>Demander à l'enfant de trouver toutes les combinaisons pour trouver le chiffre "10".</li>
                                                    <li>Combinaisons possibles : 9 +1, 8 + 2...</li>
                                                </ul>
                                            </li>
                                        </ul>

                <%# *************************************************** %>
                <%# ADDITIONNER - MULTIPLIER - DIVISER (Démontration par Céline Alvarez) %>
                <%# *************************************************** %>      
                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Système décimal par Céline Alvarez - Les lois naturelles de l'enfant</h3>
                                                            <h4 style="text-align:left; font-size:15px;">(Additionner - Multiplier - Diviser)</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul>
                                            <li>
                                            Voici les activités à offrir aux enfants lorsqu'ils savent dénombrer jusqu'à 10.
                                            </li>
                                        </ul>

<%# ********************************QUANTITÉ + SYMBOLES***********************************
********************************QUANTITÉ + SYMBOLES*********************************** %>

                                        <div class="container " style="margin-top:10px">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - 
                                                    Quantités du Système décimal (Céline Alvarez) </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - 
                                                    Symboles du Système décimal (Céline Alvarez)</h2> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OtCf2Qd5zL4" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oOORtnQUdYo" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

<%# ********************************SYMBOLES/QUANTITÉS + MULTIPLIER***********************************
********************************SYMBOLES/QUANTITÉS + MULTIPLIER*********************************** %>

                                        <div class="container " style="margin-top:30px">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Symboles & Quantités du Système décimal (Céline Alvarez)</h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Addition et Multiplications (Céline Alvarez)</h2> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kwQlR9j9MMQ" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>


                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iUqspYaAfZ0" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

<%# ********************************DIVISER***********************************
********************************TIMBRES*********************************** %>

                                        <div class="container " style="margin-top:30px">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Division (Céline Alvarez)</h2> 
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Timbres (Céline Alvarez) </h2>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XWQ36TfdL8A" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GIL8WqLjCv4" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>


                                        <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                                            <%= link_to "Mathématiques - Les lois naturelles de l'enfant (Céline Alvarez)", 
                                            "https://www.celinealvarez.org/mathematiques/videos-et-fiches",
                                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                        </div>

                <%# *************************************************** %>
                <%# MÉTHODE DE SINGAPOUR %>
                <%# *************************************************** %>   


                                    

                                        <div class="col-12" style="margin-top:20px">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">La méthode de Singapour !</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-4ans-methode-de-singapour.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    

                                    <ul style="margin-top:20px">
                                        <li>
                                        La méthode de Singapour est l'état de l'art de l'enseignement des mathématiques dans le monde.
                                        </li>
                                    </ul>
                                    <div style="display:flex; justify-content:center; align-items:center">
                                        <%= link_to "En savoir plus sur la méthode de Singapour", apprentissages_boosters_methode_de_singapour_path,
                                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                    </div>
                        

                            <%# *****************container*************** %>        
                                </div>
                            </div>
                            <%# *****************container*************** %>

                         <!-- niveau "border" -->                
                            </div>
                        <!-- niveau "border" -->

                <!-- container 4 ans -->            
                        </div>
                    </div>
                </div>
                <!-- container 4 ans -->




                <%# **************************************
                À PARTIR DE 5 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 5 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 5 ANS %>
                <%# ************************************** %> 


                <!-- container 5 ans -->
                <div class="container " style="margin-top: 30px">
                    <div class="row">
                        <div class="col-12">
                <!-- container 5 ans -->

                            <!-- niveau "border" -->
                            <div class="box-AAA-menu ">
                            <!-- niveau "border" -->


                                <div class="button-ancre">
                                        <p id="ancre-3">M</p>
                                </div>
                                <a href="#menu-start" class="box-link">  
                                    <div class="button-menu">
                                            <p>Menu</p>
                                    </div>
                                </a> 
                                <h2  style="margin-bottom: 15px">Apprentissage des mathématiques pour les enfants à partir de 5 ans</h2>


                                

                <%# *************************************************** %>
                <%# MÉTHODE DE SINGAPOUR %>
                <%# *************************************************** %> 
                                <%# *****************container*************** %>
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                <%# *****************container*************** %>

                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">La méthode de Singapour !</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-5ans-singapour.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>

                                    

                                    <ul style="margin-top:20px">
                                        <li>
                                        La méthode de Singapour est l'état de l'art de l'enseignement des mathématiques dans le monde.
                                        </li>
                                    </ul>
                                    <div style="display:flex; justify-content:center; align-items:center">
                                        <%= link_to "En savoir plus sur la méthode de Singapour", apprentissages_boosters_methode_de_singapour_path,
                                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                    </div>
                                    
                                    
                            <%# *****************container*************** %>    
                                </div>
                            </div>
                            <%# *****************container*************** %>   
                        
                        <!-- niveau "border" -->
                        </div>
                        <!-- niveau "border" -->
                    
            <!-- container 5 ans -->       
                    </div>
                </div>
            </div>
            <!-- container 5 ans -->






                <%# **************************************
                À PARTIR DE 6 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 6 ANS %>
                <%# ************************************** %>
                <%# **************************************
                À PARTIR DE 6 ANS %>
                <%# ************************************** %> 


                <!-- container 6 ans -->
                <div class="container " style="margin-top: 30px">
                    <div class="row">
                        <div class="col-12">
                <!-- container 6 ans -->

                            <!-- niveau "border" -->
                            <div class="box-AAA-menu ">
                            <!-- niveau "border" -->

                                <%# Ancre %>
                                <div class="button-ancre">
                                        <p id="ancre-4">M</p>
                                </div>
                                <%# menu %>
                                <a href="#menu-start" class="box-link">  
                                    <div class="button-menu">
                                            <p>Menu</p>
                                    </div>
                                </a> 

                                <h2  style="margin-bottom: 15px">Apprentissage des mathématiques pour les enfants à partir de 6 ans</h2>
                                
                                


                <%# *************************************************** %>
                <%# MATHADOR %>
                <%# *************************************************** %>

                                <%# *****************container*************** %>
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                <%# *****************container*************** %>
                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">"Mathador", pour devenir un as en calcul mental !</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-6-ans-calcul-mental.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    
                                
                                

                                <ul style="margin-top:20px">
                                    <li>
                                    "Mathador", le jeu qui fait aimer le calcul mental aux enfants.
                                    </li>
                                    <li>
                                    Le jeu fonctionne sur le principe du "compte est bon". Du calcul mental à l'envers, qui repose sur un
                                    triptyque : manipuler, verbaliser et abstraire.
                                    </li>
                                    <li>
                                    <strong>Numéro 1 en maths avec Mathador CP - Éditions Larousse</strong>
                                    </li>
                                </ul>

                                <div style="display:flex; justify-content:center; align-items:center; margin-bottom:30px">
                                    <%= link_to "En savoir plus sur Mathador", "https://www.mathador.fr/",
                                        target: "_blank", class: " btn btn-hello mathador", data: { turbolinks: false } %> 
                                </div>

                <%# *************************************************** %>
                <%# MÉTHODE SINGAPOUR %>
                <%# *************************************************** %>

                            
                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">La méthode de Singapour !</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-math-6-ans-methode-de-singapour.jpg", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                              

                                    <ul style="margin-top:20px">
                                        <li>
                                        La méthode de Singapour est l'état de l'art de l'enseignement des mathématiques dans le monde.
                                        </li>
                                        
                                    </ul>

                                    <div style="display:flex; justify-content:center; align-items:center; margin-bottom:30px">
                                        <%= link_to "En savoir plus sur la méthode de Singapour", apprentissages_boosters_methode_de_singapour_path,
                                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                    </div>


                            <%# *****************container*************** %>  
                                </div>    
                            </div>
                            <%# *****************container*************** %>  
                        
                        
                        <!-- niveau "border" -->
                        </div>
                        <!-- niveau "border" -->

            <!-- container 6 ans -->
                    </div>
                </div>
            </div>
            <!-- container 6 ans -->


<%# ********************LES FANTASTIQUES****************************** %>
<%# ********************LES FANTASTIQUES****************************** %>
<%# ********************LES FANTASTIQUES****************************** %>

<!-- container LES FANTASTIQUES -->
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- container LES FANTASTIQUES -->


            <!-- niveau "border" -->
            <div class="box-AAA-menu ">
            <!-- niveau "border" -->

                <%# Ancre %>
                <div class="button-ancre">
                        <p id="ancre-5">M</p>
                </div>
                <%# menu %>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 

                <h2  style="margin-bottom: 15px">Les fantastiques des apprentissages des mathématiques pour les enfants</h2>


                <%# *****************container*************** %>
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                <%# *****************container*************** %>



<%# ****************************************MONICA NEAGOY*********************************************** %>
<%# ****************************************MONICA NEAGOY*********************************************** %>

                                        <div class="col-12">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Monica Neagoy & la méthode de Singapour</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul>
                                            <li>
                                            Monica Neagoy est docteure en didactique des mathématiques. Elle assure depuis plus
                                            de vingt ans des formations d'enseignants de formateur en Europe et aux États-Unis.
                                            Elle dirige la nouvelle édition de la méthode de Singapour de la Librairie des Écoles.
                                            Elle n'a pas seulement traduit la méthode, elle l'a véritablement adaptée pour la France.
                                            </li>
                                        </ul>

                                        <div class="container">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - La méthode de Singapour </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Comment faire aimer les mathématiques ?</h2> 
                                                </div>
                                            </div>
                                        </div>
                                            
                                            
                                        


                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i9FUyQu2BVc" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>
                                            
                                        <div class="col-12">
                                            <hr>
                                        </div>


                                        <ul>
                                            <li>
                                            Méthode de Singapour – Édition 2019 – Fichier de l’élève 1 – CP – Pratique guidée - 
                                            Sous la direction de Monica Neagoy - la librairie des écoles
                                            </li>
                                            <li>
                                            Méthode de Singapour CE1 – Fichier de l’élève 2 – Edition 2016 - 
                                            Sous la direction de Monica Neagoy - la librairie des écoles
                                            </li>
                                            <li>
                                            Méthode de Singapour – Édition 2018 – Pack de 10 cahiers d’exercices 2 – CE2
                                             – Pratique autonome - Sous la direction de Monica Neagoy - la librairie des écoles
                                            </li>
                                        </ul>
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("méthode-singapour-monica-neagoy.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>

<%# ****************************************ERIC TROUILLOT*********************************************** %>
<%# ****************************************ERIC TROUILLOT*********************************************** %>

                                        <div class="col-12" style="margin-top:30px">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Éric Trouillot & le calcul mental</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul>
                                            <li>
                                            Éric Trouillot, professeur de mathématiques au collège Victor Hugo de Besançon, 
                                            où Louis Pasteur a lui-même étudié, est un fervent défenseur du calcul mental. 
                                            Avec Mathador, le jeu qu'il a créé en 1999, il tente de transmettre le virus à ses élèves.
                                            </li>
                                        </ul>

                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        
                                        <h3 style="text-align:center;">Le jeu "Mathador !</h3>

                                        
                                        <ul>
                                            <li>
                                            Le jeu, désormais géré par Canopé, l'éditeur de l'éducation nationale, fonctionne sur le principe
                                             du "compte est bon". Du calcul mental à l'envers, qui repose sur un triptyque aujourd'hui en 
                                             vogue : manipuler, verbaliser puis abstraire. "Dans cet exercice, on pratique le calcul
                                              automatisé, le calcul réfléchi, les tests et le tâtonnement pour atteindre la cible,
                                               les ordres de grandeur et la décomposition des nombres", explique-t-il. Toute une
                                                gymnastique mentale : en jonglant avec des dés, on apprend à faire pareil avec les chiffres. 
                                            </li>
                                            <li>
                                            "Quand on fait du calcul mental, on applique en fait la plupart des recommandations que nous 
                                            font les neurosciences, à savoir un travail dans la régularité avec de la répétition,
                                             de l'attention, un engagement actif et un retour d'information rapide. Tout y est", insiste Éric.
                                            </li>
                                            <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                                                <%= link_to "Le Point - Calcul Mental : le guide pour tous les âges", 
                                                "https://boutique.lepoint.fr/calcul-mental-le-guide-pour-tous-les-ages-1149",
                                                target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                            </div>
                                        </ul>
                                        
                                        <div class="container">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques (calcul mental) - Éric Trouillot et le jeu Mathador  </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques (calcul mental) - L’univers Mathador par Eric Trouillot</h2> 
                                                </div>
                                            </div>
                                        </div>
                                            
                                            
                                        


                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yWpXRz1rRiQ" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oUSElzUL4rs" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>
                                            

                                        


<%# ****************************************MONTESSORI*********************************************** %>
<%# ****************************************MONTESSORI*********************************************** %>
                                        <div class="col-12" style="margin-top:30px">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">La pédagogie Montessori pour apprendre les mathématiques</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul>
                                            <li>
                                            La pédagogie Montessori favorise la manipulation des objets par les enfants,
                                             ce qui offre un support concret que l'élève peut manipuler à son aise.
                                            </li>
                                            <li>
                                            Comme la méthode de Singapour, la pédagogie Montessori va permettre de passer du 
                                            concret à l'abstrait.
                                            </li>
                                        </ul>
                                        <div class="col-12">
                                            <hr>
                                        </div>

                                        <h3 style="text-align:center;">Présentation du matériel mathématique conçu par Maria Montessori (les chiffres rugueux)</h3>
                                        <h4 style="font-size:16px;font-weight:bold;">Montessori et les chiffres rugueux</h4>

                                        <ul>
                                            <li>
                                                
                                                "Les enfants nomment le chiffre et le tracent en même temps. Cette démarche multisensorielle
                                                facilite l'apprentissage des chiffres : notre cerveau retient mieux une information lorsque
                                                celle-ci lui parvient, dans le même temps, par l'intermédiaire de différents sens - visuel,
                                                tactile, auditif. La recherche indique que ce type d'approche est hautement bénéfique pour
                                                tous les enfants, et qu’elle aide particulièrement ceux qui présentent des troubles spécifiques de l'apprentissage."
                                                <cite>(Céline Alvarez - Les lois naturelles de l'enfant)</cite>
                                                    
                                            </li>
                                        </ul>

                                        <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                                                <%= link_to "Mathématiques - Les lois naturelles de l'enfant", 
                                                "https://www.celinealvarez.org/mathematiques/videos-et-fiches",
                                                target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                            </div>
                                        

                                        <div class="container " style="margin-top:30px">
                                            <div class="row" style="display:flex; justify-content; align-items:center">
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Montessori et les chiffres rugueux </h2>
                                                </div>
                                                <div class="col-6">
                                                    <h2 class="reclame-video-title version-mobile">Mathématiques - Céline Alvarez et les chiffres rugueux</h2> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-6">
                                                   
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ttG7b9VEOEU" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            
                                            <div class="embed-responsive embed-responsive-16by9 reclame" >
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UGFDOK-4dCo" 
                                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                                        gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>
                                            
                                       
<%# ****************************************CÉLINE ALVAREZ - MATHÉMATIQUES - LES LOIS NATURELLES DE L'ENFANT*********************************************** %>
<%# ****************************************CÉLINE ALVAREZ - MATHÉMATIQUES - LES LOIS NATURELLES DE L'ENFANT*********************************************** %>

                                        <div class="col-12" style="margin-top:30px">
                                            <div class="container container-sous-rubrique"> 
                                                <div class="row">
                                                    <div class="col-12 col-12-sous-rubrique">
                                                        <div class="nature-sous-rubrique">
                                                            <h3 style="text-align:left">Céline Alvarez : Mathématiques - Les lois naturelles de l'enfant</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul>
                                            <li>
                                            Céline Alvarez est l'auteure de l'essai captivant intitulé Les lois naturelles de l’enfant où elle fait part 
                                            de sa démarche visant à repenser un enseignement en fonction des aptitudes
                                             naturelles des enfants. 
                                            </li>
                                            <li>
                                            Céline Alvarez a mené une expérience dans une maternelle en " zone d'éducation prioritaire " 
                                            et " plan violence ", à Gennevilliers. Elle a respecté les " lois naturelles de l'enfant " 
                                            et les résultats ont été exceptionnels. A la fin de la deuxième année, tous les enfants de 
                                            grande section et 90% de moyenne section, étaient lecteurs et affichaient d'<strong>excellentes 
                                            compétences en arithmétique</strong>. Ils avaient par ailleurs développé de grandes qualités morales 
                                            et sociales.
                                            Les lois naturelles de l'enfant, ce livre fondateur révèle une autre façon de voir l'enfant et de concevoir son éducation à la maison et à l'école. Céline Alvarez explique de manière limpide les grands principes scientifiques qui sous-tendent l'apprentissage et l'épanouissement. Elle partage son
                                            expérience, les activités qui peuvent aider les enfants à développer leur potentiel, ainsi que la posture appropriée de l'adulte.
                                            </li>
                                            <li>Nous vous conseillons vivement son site Internet : www.celinealvarez.org</li>
                                        </ul>

                                        <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                                            <%= link_to "Mathématiques - Les lois naturelles de l'enfant", 
                                            "https://www.celinealvarez.org/mathematiques/videos-et-fiches",
                                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                                        </div>



                <%# *****************container*************** %>  
                </div>    
                </div>
                <%# *****************container*************** %>  
                        
            <!-- niveau "border" -->
            </div>
            <!-- niveau "border" -->
<!-- container LES FANTASTIQUES -->
        </div>
    </div>
</div>
<!-- container LES FANTASTIQUES -->





<%# ********************LE MEILLEUR DE LA PRESSE****************************** %>
<%# ********************LE MEILLEUR DE LA PRESSE****************************** %>
<%# ********************LE MEILLEUR DE LA PRESSE****************************** %>


<!-- container LES FANTASTIQUES -->
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- container LES FANTASTIQUES -->


            <!-- niveau "border" -->
            <div class="box-AAA-menu ">
            <!-- niveau "border" -->

                <%# Ancre %>
                <div class="button-ancre">
                        <p id="ancre-6">M</p>
                </div>
                <%# menu %>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 

                <h2  style="margin-bottom: 15px">Le meilleur de la presse pour l'apprentissage des mathématiques pour les enfants</h2>


                <%# *****************container*************** %>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                <%# *****************container*************** %>



<%# ********************************MÉTHODE DE SINGAPOUR************************************************** %>



                    <div class="col-12" style="margin-top:15px">
                        <div class="container container-sous-rubrique"> 
                            <div class="row">
                                <div class="col-12 col-12-sous-rubrique">
                                    <div class="nature-sous-rubrique">
                                        <h3 style="text-align:left">Hors Série "Le Point" : maths, la méthode de Singapour</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 img-chambre" >
                        <%= image_tag("maths-methode-singapore.jpg", class: "img-fluid img-motricite img-nature") %>
                    </div>    


                    <ul style="margin-top:20px">
                        <li>
                        Les secrets d'une méthode qui fonctionne
                        </li>
                        <li>
                        Monica Neagoy : "Les mathématiques sont magiques"
                        </li>
                        <li>
                        Voyage au coeur du miracle singapourien
                        </li>
                        <li>
                        Le monde entier l'adopte
                        </li>
                        <li>
                        Ce qu'en pensent les spécialistes
                        </li>
                        <li>
                        Des écoliers français à l'heure de Singapour
                        </li>
                        
                        <li>
                        "Je ne regrette pas un instant mon choix"
                        </li>
                        <li>
                        Le pays où le professeur est roi
                        </li>
                    </ul>

                    <div style="display:flex; justify-content:center; align-items:center; margin-top:10px; margin-bottom:20px;">
                        <%= link_to "Le Point - Maths : la méthode de Singapour", 
                        "https://www.lepoint.fr/dossiers/sciences/maths-methode-singapour/",
                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                    </div>




 <%# ********************************CALCUL MENTAL************************************************** %>


                    <div class="col-12" style="margin-top:15px">
                        <div class="container container-sous-rubrique"> 
                            <div class="row">
                                <div class="col-12 col-12-sous-rubrique">
                                    <div class="nature-sous-rubrique">
                                        <h3 style="text-align:left">Hors Série "Le Point" : calcul mental, le guide pour tous les âges</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 img-chambre" >
                        <%= image_tag("le-point-calcul-mental-le-guide-pour-tous-les-ages.jpg", 
                        class: "img-fluid img-motricite img-nature", 
                        :style => "width:301px") %>
                    </div>    

                    <ul style="margin-top:20px">
                        <li>Pourquoi le calcul mental est notre meilleur ami</li>
                        <li>Compter avant l'ère des calculatrices</li>
                        <li>École : la France revoit ses méthodes</li>
                        <li>Records et prodiges</li>
                        <li>Un surdoué made in France</li>
                        <li>L'algèbre est la clé du succès</li>
                        <li>Amusez-vous bien !</li>
                        <li>Mathador, conquistador !</li>
                        <li>Les astuces pour devenir un as</li>
                        <li>Les fondamentaux pour bien calculer</li>
                        <li>Calculs magiques</li>
                    </ul>


                    <div style="display:flex; justify-content:center; align-items:center; margin-top:10px">
                        <%= link_to "Le Point - Calcul Mental : le guide pour tous les âges", 
                        "https://boutique.lepoint.fr/calcul-mental-le-guide-pour-tous-les-ages-1149",
                        target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                    </div>

                    





                <%# *****************container*************** %>  
                    </div>    
                </div>
                <%# *****************container*************** %>  
                        
            <!-- niveau "border" -->
            </div>
            <!-- niveau "border" -->


<!-- container LES FANTASTIQUES -->
        </div>
    </div>
</div>
<!-- container LES FANTASTIQUES -->



<%# ********************TIMSS & PISA****************************** %>
<%# ********************TIMSS & PISA****************************** %>
<%# ********************TIMSS & PISA****************************** %>

<!-- container LES FANTASTIQUES -->
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<!-- container LES FANTASTIQUES -->


            <!-- niveau "border" -->
            <div class="box-AAA-menu ">
            <!-- niveau "border" -->

                <%# Ancre %>
                <div class="button-ancre">
                        <p id="ancre-7">M</p>
                </div>
                <%# menu %>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 

                <h2  style="margin-bottom: 15px">Tests internationaux pour l'apprentissage des mathématiques des enfants</h2>


                
                <ul>
                    <li>
                    Cette rubrique met en relief les vertus de la méthode de Singapour
                        pour l'enseignement des <strong>mathématiques</strong> au primaire.
                    </li>
                </ul>
                        


                <%# *****************container*************** %>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                <%# *****************container*************** %>


 <%# ********************************tIMSS************************************************** %>

                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3 style="text-align:left">TIMSS (Trends in International Mathematics and Science Study) - Mathématiques</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                            <li>
                            TIMSS (Trends in Mathematics and Science Study) est une étude comparative qui mesure
                            le niveau des connaissances scolaires des élèves de CM1 et de 4e en <strong>mathématiques</strong>
                            et en sciences. Son objectif ? Interpréter les différences entre les systèmes éducatifs 
                            pour améliorer l’enseignement et l’apprentissage. TIMSS est organisée tous les quatre ans.
                            L'étude 2019 s'est déroulé au mois de mai : du 6 au 29 pour les CM1 et du 13 au 24 pour les
                            élèves de quatrième.
                            </li>
                        </ul>


                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("TIMSS-International-Mathematics-Achievements.jpg", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>

                        
                        <div style="display:flex; justify-content:center; align-items:center; margin-top:20px">
                            <%= link_to "TIMSS", 
                            "https://timssandpirls.bc.edu/timss-landing.html",
                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                        </div>



<%# ********************************PISA************************************************** %>

                        <div class="col-12" style="margin-top:20px">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3 style="text-align:left">PISA (Programme for International Student Assessment) - Mathématiques</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                            <li>
                            Le Programme international pour le suivi des acquis des élèves, souvent désigné 
                            par l'acronymie Pisa (de l'anglais Programme for International Student Assessment),
                            est un ensemble d'études menées par l'Organisation de coopération et de développement
                            économiques (OCDE), et visant à mesurer les performances des systèmes éducatifs des
                            pays membres et non membres. Les enquêtes sont menées tous les trois ans auprès de 
                            jeunes de 15 ans dans les 36 pays membres de l'OCDE ainsi que dans de nombreux pays
                            partenaires et aboutissent à un classement dit « classement Pisa ».
                            </li>
                            <li>
                            Vous trouverez ci-dessous la comparaison de la performance des pays et économies en <strong>mathématiques</strong>.
                            </li>
                        </ul>

                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("Pisa-2018-programme-for-international-student-assessment-mathematics.jpg", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>



                        <div style="display:flex; justify-content:center; align-items:center; margin-top:20px">
                            <%= link_to "PISA", 
                            "https://www.oecd.org/pisa/publications/pisa-2018-results.htm",
                            target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
                        </div>






<%# *****************container*************** %>  
                    </div>    
                </div>
                <%# *****************container*************** %>  
                        
            <!-- niveau "border" -->
            </div>
            <!-- niveau "border" -->


<!-- container LES FANTASTIQUES -->
        </div>
    </div>
</div>
<!-- container LES FANTASTIQUES -->





<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




      <%= render 'shared/menu_all_learnings'  %>      




<%# ******************************************* MENU ******************************************************
******************************************* MENU ******************************************************
******************************************* MENU ****************************************************** %>




<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>
        
            <!-- Colonne col-lg-9 > body -->
        <!-- Colonne col-lg-9 -->
        </div>


<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>








<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>

        <!-- Colonne col-lg-3 -->
        <div class="col-lg-3 promo">
            <!-- Colonne col-lg-3 > body -->

<%# LA MÉTHODE DE SINGAPOUR   %>  
            <h2 class="reclame-video-title">La méthode de Singapour par Monica Neagoy </h2>         
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i9FUyQu2BVc" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        
<%# COMMENT FAIRE AIMER LES MATHÉMATIQUES   %>     
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>



<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

            <!-- Colonne col-lg-3 > body -->
        <!-- Colonne col-lg-3 -->
        </div>
    
    

<!-- 2 colonnes -->
<!-- 2 colonnes  -->
    
    </div>
</div>



