<%# TITLE %>
<% @title=" Apprentissages et l'environnement |Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# BANNER %>
<div class="banner-montessori" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
 url(<%= asset_path 'EEE-banner-montessori.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">MA CHAMBRE MONTESSORI</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters apprentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "environnement", apprentissages_boosters_environnement_montessori_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "chambre montessori", apprentissages_boosters_environnement_enfant_chambre_montessori_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>





<%# <div class="container">
    <div class="row">
        <div class="col-12" style="margin-top:20px">
            <h1 style="text-align: center"><strong>MA CHAMBRE MONTESSORI</strong></h1>
        </div>
    </div>
</div> %>

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu-leitmotiv">
                <h3>Leitmotiv de la pédagogie Montessori</h3>
                <p>"Aide moi à faire tout seul"</p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top:40px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Objectifs recherchés</h2>
                
                <ul>
                    <li>
                    Permettre à l'enfant d'acquérir de l'autonomie et de l'indépendance.
                    </li>
                    <li>
                    L'accompagner au mieux dans ses apprentissages.
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top:40px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Les 2 préalables</h2>
                
                <ul>
                    <li>
                    <strong>Se mettre à la place, dans la peau, dans la tête, dans les chaussures de votre enfant</strong>
                    </li>
                        <ul style=margin-top:10px>
                            <li>Est-ce que tout est ma taille ?</li>
                            <li>Le mobilier a-t-il été pensé pour moi ?</li>
                            <li>Ma chambre est-elle agréable ?</li>
                            <li>Suis-je en sécurité ?</li>
                        </ul>
                    <li style=margin-top:10px>
                    <strong>Comprendre la philosophie d'une chambre Montessori</strong>
                    </li>
                        <ul style=margin-top:10px>
                            <li>Chambre = espace de liberté + espace de confort + espace de sécurité</li>
                            <li>Un des objectifs recherchés est de réduire au maximum le "non" ou encore "ne touche pas ça !".</li>
                            <li>Les couleurs, les formes et les matériaux permettront à l'enfant de se sentir bien chez lui. </li>
                        </ul>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>


<%# <div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div>
                <p><strong>Objectifs recherchés lorsqu'on veut réaliser une chambre Montessori : </strong></p>
                <ul>
                    <li>Permettre à l'enfant d'acquérir de l'autonomie et de l'indépendance.</li>
                    <li>L'accompagner au mieux dans ses apprentissages.</li>
                </ul>
                <p><strong>2 préalables avant de commencer la mise en oeuvre de la chambre Montessori de mon enfant :</strong></p
                <ul>
                    <li style="color:#03bddf"><strong>Se mettre à la place, dans la peau, dans la tête, dans les chaussures de votre enfant</strong></li>
                        <ul>
                            <li>Est-ce que tout est ma taille ?</li>
                            <li>Le mobilier a-t-il été pensé pour moi ?</li>
                            <li>Ma chambre est-elle agréable ?</li>
                            <li>Suis-je en sécurité ?</li>
                        </ul>
                    <li style="color:#03bddf"><strong>Comprendre la philosophie d'une chambre Montessori </strong></li>
                        <ul>
                            <li>Chambre = espace de liberté + espace de confort + espace de sécurité</li>
                            <li>Un des objectifs recherchés est de réduire au maximum le "non" ou encore "ne touche pas ça !".</li>
                            <li>Les couleurs, les formes et les matériaux permettront à l'enfant de se sentir bien chez lui. </li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</div> %>


<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div>
                <p style="text-align:center; font-size:40px"><strong>Conseils pratiques</strong></p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>LE COUCHER ET LE LEVER</h3>
                <p>• un lit au sol pour commencer</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>UN MOBILIER ADAPTÉ</h3>
                <p>• un petit bureau et une petite chaise</p>
                <p></p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>S'HABILLER ET SE CHAUSSER SEUL</h3>
                <p style="padding: 2px">• des meubles à sa taille avec de jolies étiquettes</p>
                <p style="padding: 2px">• un panier pour les chaussures</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>OBJETS FACILITANT LE QUOTIDIEN</h3>
                <p>• un marche pied pour avoir accès à l'interrupteur pour allumer et éteindre la lumière</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>LES STIMULIS VISUELS</h3>
                <p style="padding: 2px">• des objets synonyme de serénité et de calme</p>
                <p style="padding: 2px">• des matières naturelles ou nobles</p>
                <p style="padding: 2px">• objets agréables à regarder et à toucher</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>AGANCEMENT DE LA CHAMBRE</h3>
                <p style="padding: 2px">• espace jeu = tout à sa hauteur + étagères sur lesquelles il peut prendre son matériel.</p>
                <p style="padding: 2px">• l'espace jeu permettra à l'enfant d'apprendre l'ordre et le rangement de manière instinctive.</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box-jeu-points">
                <h3>UNE PLACE IMPORTANTE AUX LIVRES</h3>
                <p style="padding: 2px">• Le livre est primordial dans le développement de l'enfant. 
                Il doit pouvoir selectionner son livre tout seul.</p>
                <p style="padding: 2px">• L'album de famille pour évoquer les souvenirs</p>
            </div>
        </div>



    </div>
</div>


<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div>
            
            </div>
        </div>
    </div>
</div>