<% @title="Méthode de Singapour | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-Puzzle-banner.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">PUZZLE</h1> 
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "puzzle", apprentissages_puzzle_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<%# **************************************
MENU
************************************** %>

<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-jeu-menu">
                                    <p id="menu-start">Intelligence</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-jeu-menu">
                                    <p>Méthode</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-jeu-menu">
                                        <p>Progressivité</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-jeu-menu">
                                        <p>Pédagogie</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-jeu-menu">
                                    <p>Motivation</p>
                                </div>
                            </a>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************
INTELLIGENCE
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu-2 ">
                <div class="button-ancre">
                        <p id="ancre-1">Menu</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Intelligence logico-mathématique:</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row" >   
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Capacité à résoudre des problèmes de nature
                                    logique ou abstraite
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Analyser les causes et les conséquences d'un phénomène
                                     et expliquer le pourquoi des choses
                                    </li>
                                </ul>
                            </div>
                        </div>  
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    S'organiser
                                    </li>
                                </ul>
                            </div>
                        </div>  
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Prendre des bonnes décisions
                                    </li>
                                </ul>
                            </div>
                        </div>  
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Anlayser
                                    </li>
                                </ul>
                            </div>
                        </div>    
                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Résoudre des problème que l'on rencontre
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Capacité à mesurer
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Capacité à calculer
                                    </li>
                                </ul>
                            </div>
                        </div>  

                        <div class="col-12 col-lg-6 ">
                            <div class="box-AAA-jeu-intel ">
                                <ul>
                                    <li>
                                    Capacité à catégoriser, ranger, ordonner
                                    </li>
                                </ul>
                            </div>
                        </div>  




                        <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Jeux associés à cette intelligence:</strong></p>  
                        <ul>
                            <li>Puzzles</li>
                            <li>Casse-têtes</li>
                            <li>Jeu de stratégie</li>
                            <li>Calcul mental</li>
                        </ul>         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************
MÉTHODE
************************************** %>



<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu-2 ">

                  
                <div class="button-ancre">
                        <p id="ancre-2">Menu</p>
                </div>
                

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 

               <h2 >Méthode</h2>
               <h3>Étape 1: Mesurer le cadre</h3>
               <ul>
                    <li>
                    yahoo
                    </li> 
               </ul>
               <h3>Étape 2: Disposer l'image du puzzle de sorte qu'elle 
               soit visible tout au long de l'assemblage </h3>
               <ul>
                    <li>
                    yahoo
                    </li> 
               </ul>
               <h3>Étape 2: Mettre de côté les pièces qui ont un bord droit</h3>
               <ul>
                    <li>
                    Mettre de côté les pièces qui ont un bord droit
                    </li> 
               </ul>
               <h3>Étape 3: Faire le cadre</h3>
               <ul>
                    <li>
                    Faire le cadre
                    </li> 
               </ul>     
               <h3>Étape 4: Attaquer le reste du puzzle</h3>
               <ul>
                    <li>
                    Découper le puzzle en zones :
                        <ul>
                            <li>
                            Levier 1: par motif
                            </li>
                            <li>
                            Levier 2: par couleur
                            </li>
                        </ul>
                    </li> 
                    <li>
                    Sur la fin (quand il ne reste plus beaucoup de pièces) :
                        <ul>
                            <li>
                            Regroupe les pièces par formes, pièces mâles et femelles.
                             Les pièces mâles sont incurvées vers l'extérieur alors que 
                             les pièces femelles sont incurvées vers l'intérieur. 
                            </li>
                            <li>
                            Tu verras, tu finiras beaucoup plus vite ton puzzle !
                            </li>
                        </ul>
                    </li>
               </ul>   
               <p></p>
               <h3>Astuces</h3>
               <ul>
                    <li>
                    Ne pas bloquer. Passer à un autre motif, une autre couleur et revenir plus tard.
                    </li>
                    <li>
                    En cas de doute sur l'assemblage de 2 pièces, retourner les pièces 
                    pour avoir un nouveau éclairage.
                    </li>
               </ul>
            </div>
        </div>
    </div>
</div>


<%# **************************************
PROGRESSIVIÉ
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu-2 ">
                
                <div class="button-ancre">
                        <p id="ancre-3">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Progressivité</h2>
                    <ul>
                        <li>
                        Ne jamais oublié que cela doit être un jeu pour l'enfant ! 
                        Si cela devenait une contrainte, il en serai dégouté. (cf. motivation)
                        </li>
                        <li>
                        Quand la méthode est bien maîtrisée et que l'enfant a des facilités
                         avec des puzzles de moins de 100 pièces, vous pourrez augmenté progressivement le nombre de pièces.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>


<%# **************************************
PÉDAGOGIE
************************************** %>


<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu-2 ">

               <div class="button-ancre">
                        <p id="ancre-4">Menu</p>
                  </div>
                  
                  <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                  </a>  

               <h2 >Pédagogie</h2>
               <h3>L'environnement</h3>
                    <ul>
                        <li>Créer un environnement détendu, amusant, bienveillant</li>
                        <li>Accompagner l'enfant dans la gestion de ses émotions</li>
                        <li>Offrer lui un environnement calme et ordonné pour booster sa concentration.</li>
                            <ul>
                                <li>Limiter les distractions (écrans, bruits, jouets)</li>
                            </ul>
                    </ul>
               <h3>Au départ, accompagner l'enfant jusqu'à la maîtrise de la méthode (les roulettes de vélo)</h3>
                    <ul>
                        <li>Jouer en équipe ! Construire le puzzle à 4 mains permetrra de:</li>
                            <ul>
                                <li>passer un moment avec un de ses parents. C'est toujours magique pour l'enfant.</li>
                                <li>transmettre et consolider la méthode (processus, stratégie, astuces)</li>
                            </ul>
                    </ul>
            </div>
        </div>
    </div>
</div>

<%# **************************************
MOTIVATION
************************************** %>

<div class="container box-container-AAA-jeu" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-jeu-2 ">

                <div class="button-ancre">
                        <p id="ancre-5">Menu</p>
                </div>

                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
               <h2 >Motivation</h2>

                <ul>
                    <li>L’enfant est d’emblée mimétique, guetteur/capteur, il fait feu de tout bois 
                    pour se découvrir tandis qu'il découvre les autres 
                    et le monde environnant. Spontanément, il mime et copie, puis profondément s’identifie. </li>
                        <ul>
                            <li>L'exemplarité est toujours la clé, mais encore beaucoup plus entre 0 et 6 ans.</li>
                                <ul>
                                    <li>Faites des puzzles devant lui.</li>
                                    <li>Faites des puzzles avec lui. (chacun fait un puzzle ou un puzzle à 4 mains !)</li>
                                </ul>
                        </ul>
                    <li>Une expérience amusante qui pourrait se transformer en expérience amoureuse.</li>
                        <ul>
                            <li>Proposer à votre enfant des puzzles dans l'univers qu'il adore 
                            (animaux préférés, ses héros de dessins animés...).</li>
                        </ul>
                    <li>Une expérience magique !</li>
                        <ul>
                            <li>Faire avec un puzzle avec un de ses parents est un moment unique, inoubliable,
                             tout simplement magique pour l'enfant.</li>
                        </ul>
                </ul>

            </div>
        </div>
    </div>
</div>

