<%# *************************TITLE*************************************************** %>
<% @title="L'Apprentissage de la Nature pour les Enfants 2 à 6 ans | Hello Houston Learnings" %>
<%# *************************TITLE*************************************************** %>



<%# *************************DESCRIPTION*************************************************** %>
<% content_for :head do %>
    <meta name="description" content="L'apprentissage de la nature pour les enfants de 2 à 6 ans : 
apprendre à aimer la nature est un des plus beaux cadeaux qu'on puisse faire à un enfant.">
<% end %>
<%# *************************DESCRIPTION*************************************************** %>


<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-nature-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'AAA-nature-banner.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-bottom:0px">L'APPRENTISSAGE DE LA NATURE POUR LES ENFANTS DE 2 À 6 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "nature", apprentissage_nature_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>



<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container">
    <div class="row">
        <div class="col-lg-9" style="margin-bottom:40px">
            <div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu-general">
                <div class="container">
                    <div class="row" >   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p >Appartement / Maison</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p >Balcon / Jardin</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Activités en extérieur</p>
                                </div>
                            </a>
                        </div>  
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-4" class="box-link">
                                <div class="box-AAA-menu-general-inside">
                                    <p>Pédagogies</p>
                                </div>
                            </a>
                        </div>   
                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-5" class="box-link">
                                <div class="box-AAA-menu-general-inside" style="background-color:#03bddf !important">
                                    <p>Aller plus loin...</p>
                                </div>
                            </a>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nature > intro -->
<!-- Nature > intro -->
<div class="container">
    <div class="row">
        <div >
            <div >
                <blockquote>
                    <h2 class="learnings-introduction-citation">
                    
                    La nature a des effets positifs sur le stress, le sommeil, la concentration 
                    ou encore la santé mentale dès le plus jeune âge. De récentes recherches en neurosciences 
                    montrent que la nature aurait des effets protecteurs contre l’apparition et le développement
                    de troubles neurologiques ou psychiatriques.
                    
                    </h2>
                </blockquote>
                
                    <hr>
                
                <blockquote>
                    <h2 class="learnings-introduction-citation">
                    
                    Dès les années 1990, Rachel Kaplan, de l’université du Michigan, aux États-Unis,
                 avait montré que des scènes de nature (comme le vent dans un feuillage ou l’eau 
                 d’un torrent qui s’écoule) attirent notre attention d’une façon douce et discrète, 
                 permettant un repos et un rétablissement cognitif. Dans une meilleure disposition, 
                 le cerveau génère alors davantage d’idées nouvelles : dans une expérience menée en 
                 2012 par Ruth Atchley, de l’université du Kansas, et ses collègues, les performances 
                 des participants à un test de créativité ont augmenté de 50 % après quatre jours de 
                 randonnée dans les grands parcs américains. <cite style="font-size:10px">Cerveau & Psycho</cite>
                    
                    </h2>
                </blockquote>


                
            </div>
        </div>
    </div>
</div>
<!-- Nature > intro -->
<!-- Nature > intro -->







<%# **************************************
APPRTEMENT - MAISON
************************************** %>

<div class="container " style="margin-top: 10px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">La nature au sein de l'appartement - la Maison</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Chambre de l'enfant</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="container cont-chambre">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-chambre-1.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                            <ul>
                                <li>
                                Créer un environnement où la nature est sublimée. (sens de la vue)
                                </li>
                                        <ul>
                                            <li>Des photos de jeunes animaux avec leurs parents</li>
                                            <li>Des photos de paysages magnifiques </li>
                                            <li>...</li>
                                        </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut jouer avec la nature (sens = vue + toucher)
                                </li>
                                    <ul>
                                        <li>Des figurines d'animaux</li>
                                        <li>Des peluches d'animaux</li>
                                        <li>Des peluches de végétaux</li>
                                        <li>...</li>
                                    </ul>
                                <br>
                                <li>
                                Créer un environnement où l'on peut sentir la nature. (sens de l'odorat)
                                </li>
                                    <ul>
                                        <li>Le jeu des odeurs</li>
                                    </ul>
                            </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Salon</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-salon.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Présence de <strong>plantes</strong>
                                    </li>
                                    <li>
                                    <strong>Table des saisons (Pédagogie Steiner-Waldorf) ou table d'observation (Pédagogie Montessori)</strong>.
                                    Elle consiste à représenter, à l'intérieur de la maison, la nature 
                                    au fil des saisons (printemps, été, automne, hiver).
                                    Pour cela, l’enfant place, dans un espace dédié (table, étagère, meuble…), de petits trésors de la nature 
                                    (feuilles d’arbre, fruits, fleurs, bois, coquillages…) qu’il a collecté. Il peut y ajouter des réalisations 
                                    manuelles qui lui évoquent la saison en cours et même créer des scènes 
                                    en plaçant des figurines d’animaux. Des livres en lien avec la saison peuvent être en libre accès.
                                    L’objectif est de faire rentrer la nature à la maison, faire découvrir son
                                     infinie richesse et se connecter au rythme des saisons.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Vivarium</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-vivarium.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                    Un vivarium pour découvrir les sciences en s'amusant.
                                    </li>
                                    <li>
                                    Observer l'évolution des racines et des lombrics, idéal pour en apprendre plus sur la nature.
                                    </li>
                                </ul>
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Dessins animés</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10 img-chambre" >
                                        <%= image_tag("AAA-Nature-Yakari.jpg", class: "img-fluid img-motricite img-nature") %>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                Yakari est un exemple de dessin animé qui sublime la nature.
                                </li>
                            </ul>


                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Reportages animaliers</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container cont-chambre cont-img-salon">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10 img-chambre" >
                                            <%= image_tag("AAA-nature-maison-reportage-animalier.png", class: "img-fluid img-motricite img-nature") %>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• BALCON / JARDIN
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">La nature sur le balcon - dans le jardin</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-jardin-balcon.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Plant de tomate
                        </li>
                        <li>
                        Potager composteur
                        </li>
                        <li>
                        Carré potager
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%# **************************************************
• ACTIVITÉS EXTÉRIEURES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-3">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Nature - Activités en extérieur</h2>
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-activités-exterieures.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <ul style="padding-top:10px">
                        <li>
                        Une balade en forêt
                        </li>
                        <li>
                        Une randonnée
                        </li>
                        <li>
                        Un séjour à la ferme
                        </li>
                        <li>
                        La cueillette aux champignons
                        </li>
                        <li>
                        Observation d'une nuit étoilée
                        </li>
                        <li>
                        ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%# **************************************************
• 2 PÉDAGOGIES
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-AAA-menu ">
                <div class="button-ancre">
                        <p id="ancre-4">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  class="h2-pedagogie-size" >2 pédagogies alternatives populaires dont la nature est au coeur. 
                Il y en a d'autres (Steiner-Waldorf...) </h2>
                
                <div class="container cont-chambre cont-img-salon">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-pédagogie.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>


                    <div class="container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12">
                                <div class="container container-sous-rubrique"> 
                                    <div class="row">
                                        <div class="col-12 col-12-sous-rubrique">
                                            <div class="nature-sous-rubrique">
                                                <h3>Pédagogie Montessori</h3>
                                            </div>
                                            <ul style="padding-top:15px">
                                                <li>
                                                La pédagogie Montessori est basée sur les observations et les découvertes de Maria Montessori, 
                                                médecin et pédagogue italienne, à la fin du XIXe et au début du XXe siècle. 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container container-sous-rubrique"> 
                                <div class="row">
                                    <div class="col-12 col-12-sous-rubrique">
                                        <div class="nature-sous-rubrique">
                                            <h3>Pédagogie par la nature</h3>
                                        </div>
                                        <ul style="padding-top:15px">
                                            <li> La pédagogie par la nature, ou outdoor learning en anglais, est une méthode
                                                éducative basée sur l’apprentissage dans la nature. Concrètement, l’apprentissage
                                                se déroule hors de la classe, en plein air, dans une forêt ou un environnement naturel.
                                                La pédagogie par la nature est à la base du concept de <strong>Forest School</strong>, 
                                                que l’on retrouve dans les pays scandinaves, en Angleterre, en Allemagne, en Suisse, aux États-Unis, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    


<%# *************************************START******************************************* %>
<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
<%# *************************************START******************************************* %>



<%# *************************************BORDER******************************************* %>
            <div class="box-AAA-menu ">
<%# *************************************BORDER******************************************* %>



<%# ************************************ANCRE************************************* %>
                <div class="button-ancre">
                        <p id="ancre-5">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
<%# ************************************ANCRE************************************* %>



                <h2  style="margin-bottom: 15px">Aller plus loin... </h2>

                <div class="container cont-chambre cont-img-salon" style="margin-bottom:20px">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 img-chambre" >
                            <%= image_tag("AAA-nature-pedagogies-nature-montessori-passeur-de-nature-école-a-ciel-ouvert.png", class: "img-fluid img-motricite img-nature") %>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        

                        <div class="col-12" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - L'école à ciel ouvert (Couverture)</h3>
                            </div>
                        </div>

                        <strong></strong>

                        <ul>
                            <li>
                                Repousser les murs de la classe pour enseigner en pleine <strong>nature</strong> :
                                folie ? Utopie ? 
                            </li>
                            <li>
                                Pour combler le déficit de nature des enfants citadins,
                                contextualiser les apprentissages et développer les compétences
                                transversales, cet ouvrage est une véritable boussole et ces
                                activités de précieux outils pour tous les enseignants prêts à tenter l'aventure pédagogique hors des murs de l'école
                                Une partie théorique rappelle en introduction les bienfaits de la nature
                                pour les enfants tout en donnant toutes les recommandations pratiques
                                pour organiser les sorties de sa classe en toute sécurité.
                                Classées par matières (français, maths, arts, histoire et géographie,
                                éducation physique et sportive) et organisées en 40 séquences, ces
                                200 activités pédagogiques proposent de mettre en scène les apprentissages
                                du programme scolaire dans des situations concrètes
                                en extérieur.
                            </li>
                            <li>
                                Exigeant peu de matériel, toutes se servent de la nature
                                comme cadre et source d'inspiration.
                                Testées par plus de 170 enseignant(e)s, elles favorisent et encouragent
                                l'interdisciplinarité, la collaboration, la communication et la
                                créativité.
                                Un ouvrage conforme au programme scolaire français.
                            </li>
                                
                        </ul>


<%# ***********************************PASSEUR DE NATURE************************************ %>
                        <div class="col-12" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - Passeur de nature (Couverture)</h3>
                            </div>
                        </div>

                        <ul>
                        <li>
                        Aujourd'hui, les enfants ne passent pas assez de temps dans la <strong>nature</strong>, quatre enfants sur dix
                        ne jouent même jamais dehors... Il est donc urgent de les reconnecter à leur environnement ! Surtout
                        que la nature est sans doute l'un des meilleurs coach de développement personnel !
                        </li>
                        <li>
                        Ce guide pratique vous apprendra d'abord à mieux connaître la nature vous-même, pour pouvoir ensuite 
                        l'enseigner aux enfants. Une véritable boîte à outils pour avancer pas à pas, à l'échelle de la journée, 
                        puis de la semaine, du mois et enfin de l'année entière. Vous apprendrez comment pister des animaux, 
                        passer une nuit à la belle étoile, dénicher des terrains d'aventures... toujours dans l'échange avec l'enfant.
                        </li>
                        </ul>

<%# ***********************************PASSEUR DE NATURE************************************ %>



<%# ***********************************ACTIVITÉS MONTESSORI************************************ %>
                        <div class="col-12" style="margin-bottom:20px">
                            <div class="nature-sous-rubrique">
                                <h3>Nature - 100 activités Montessori (Couverture)</h3>
                            </div>
                        </div>

                        <ul>
                            <li>
                            La pédagogie Montessori fait la part belle aux disciplines qui connectent
                             l'enfant avec le monde dans lequel il vit, et qui répondent à sa curiosité naturelle.
                             (géographie, nature et botanique, monde animal, monde physique et temps)
                            </li>
                            <li>
                            Cet ouvrage propose 100 activités qui invitent l'enfant à observer, à manipuler, 
                            et à expérimenter, pour découvrir le monde par lui-même.
                            </li>
                            <li>
                            Ève Hermann a créé un espace de découverte de la pédagogie Montessori pour les parents
                             et leurs enfants à Angers. Elle participe aussi à la diffusion de cette pédagogie par 
                             ses ouvrages, ses photographies et son blog.
                            </li>
                        </ul>
<%# ***********************************ACTIVITÉS MONTESSORI************************************ %>



                    </div>
                </div>


            </div>


        </div>
    </div>
</div>    


<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>

        </div>

<%# ********************COLONNE DE GAUCHE****************************** %>
<%# ********************COLONNE DE GAUCHE******************************* %>
<%# ********************COLONNE DE GAUCHE******************************* %>








<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>



        <div class="col-12 col-lg-3 promo" >
            
<%# VIDEO 1 > EMOTIONS    %>
            <h2 class="reclame-video-title">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="reclame-video-title">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="reclame-video-title">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            
<%# VIDEO 1 > SINGAMPOUR    %>
            <h2 class="reclame-video-title">Comment faire aimer les mathématiques ?</h2>
            <div class="embed-responsive embed-responsive-16by9 reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNKzpppWCFM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

        </div>

    


<%# ********************COLONNE DE DROITE****************************** %>
<%# ********************COLONNE DE DROITE******************************* %>
<%# ********************COLONNE DE DROITE******************************* %>


<%# *************************************** %>

    </div>
</div>






