
<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BLOCKS %>
<div class="container learning-blocks">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'box_lego600x360.jpg' %>)" >
                    <p>Sports</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'développement.jpg' %>)" >
                    <p>Music</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Cooking</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Nature</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Robotics</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Math</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Discovering the world</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Right / Left</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Time</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Tidying up</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Coding</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Science</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Drawing</p>
                </div>
            </div>
            
        </div>
    </div>