<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %> 


<%# BANNER %>
<div class="banner-jeu" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'banner-jeu.jpg' %>)">
    <div class="container">
        <h1 >LE JEU, UN DES ALLIÉS LES PLUS PUISSANTS DE L'APPRENTISSAGE</h1> 
        <h3 style="text-align: center">Les conclusions sans appel des neurosciences</h3>
    </div>  
</div>

<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "boosters appentissage", apprentissages_boosters_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "jeu", apprentissages_boosters_jeu_path, class: " link ariane", data: { turbolinks: false } %> </p>     
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>LE DÉBAT EST CLOS DEPUIS LONGTEMPS !</h2>
                <p>Notre cerveau n'apprend dans la douleur que lorsqu'il ne peut faire autrement, 
                jouer est la façon naturelle d'apprendre. Pourquoi ? Parce que le jeu encourage 
                une pratique prolongée et assidue.</p>
                <p class="activite-source">Source : Libérez votre cerveau - Idriss Aberkane</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>LA MONNAIE DU SAVOIR</h2>
                <p>L'attention multipliée par le temps est la monnaie la plus élémentaire pour acheter du savoir.</p>
                <p>On maximise la volonté de la dépenser quand on aime un sujet que l'on apprend.</p> 
                <p class="activite-source">Source : Libérez votre cerveau - Idriss Aberkane</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>ÉCONOMIE DE LA CONNAISSANCE</h2>
                <p>Les deux plus hautes formes d'excellence dans 
                l'économie de la connaissance sont l'excellence amoureuse et l'exellence amusante.</p>
                <p class="activite-source">Source : Libérez votre cerveau - Idriss Aberkane</p>   
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>LA RÉPÉTITION GAGE D'EXCELLENCE</h2>
                <p>Jouer est sain, c'est la manière de promouvoir l'excellence en répétant une tâche
                 jusqu'à la perfection.</p>    
                 <p class="activite-source">Source : Libérez votre cerveau - Idriss Aberkane</p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>PRISES D'INITITIVES ET LIEN SOCIAL</h2>
                <p>Le jeu encourage la prise d'initiatives et le lien social. 
                Tout le monde joue... les plus timides aussi.</p>    
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>DÉPASSER L'ANGOISSE</h2>
                <p>Le jeu est un bon moyen pour se libérer de ses préjugés.</p>    
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-12">
            <div class="box-jeu">
                <h2>LA NATURE A SÉLECTIONNÉ LE JEU !</h2>
                <p>Jouer est la façon la plus répandue d'apprendre chez les mammifères.
                Tous les animaux les plus intelligents, de la pie à la pieuvre en passant par le dauphin,
                 jouent pour apprendre, et si la nature, qui ne fait pas de cadeau, a sélectionné cette 
                 méthode, c'est qu'elle est bien plus sérieuse que les plus sérieuses des nôtres. </p> 
                 <p class="activite-source">Source : Libérez votre cerveau - Idriss Aberkane</p>  
            </div>
        </div>
    </div>
</div>



<div class="col-12">
    <div class="box-source">
        <p >Source(s) :</p> 
            <ul>
                <li>Libérez votre cerveau - Idriss ABERKANE</li>
                <li>Mathador - Éric TROUILLOT</li>
    </div>
</div>






