<% @title="Apprentissage de la Programmation par le Jeu (robot) pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>


<%# *************************DESCRIPTION*************************************************** %>
<% content_for :head do %>
    <meta name="description" content="Apprentissage de la programmation par le jeu pour les enfants de 2 à 6 ans : 
Initier à la programmation dans un univers type Montessori ou l'écran n'a pas sa place. Le robot, le compagnon idéal pour l'éveil à la programmation.">
<% end %>
<%# *************************DESCRIPTION*************************************************** %>


<%# *************************CANONICAL*************************************************** %>
<% content_for :head do %>
    <link rel="canonical" href="https://www.hello-houston-learnings.com/apprentissage-musique-jeu-enfant-2-a-6-ans" />
<% end %>
<%# *************************CANONICAL*************************************************** %>











<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-puzzle" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'PPP-programmation-banner.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-bottom:0px">APPRENTISSAGE DE LA PROGRAMMATION PAR LE JEU (ROBOT) POUR LES ENFANTS DE 2 À 6 ANS</h1> 
            </div>
        </div>
    </div>  
</div>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "apprentissages", apprentissages_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "programmation", apprentissage_programmation_robot_jeu_enfant_2_a_6_ans_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>







<%# **************************************
MENU
************************************** %>


<%= render 'shared/the_selection'  %>


<div class="container">
    <div class="row">


<%# ************************************************************************************************************* %>



        <div class="col-lg-9" style="margin-bottom:40px">



<%# ************************************************************************************************************* %>


<%# ************************************************************************************************************* %>


<div class="container box-container-AAA-jeu">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu-general">


                <div class="container">
                    <div class="row" >   

                        <div class="col-12" style="margin-bottom:10px">
                            <h3 id="h3-menu-cubetto">Présentation du robot Cubetto, le coup de coeur Hello Houston Learnings !</h3>
                        </div>

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-1" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Points forts</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4 ">
                            <a href="#ancre-2" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p >Composition</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-6 col-lg-4">
                            <a href="#ancre-3" class="box-link">
                                <div class="box-AAA-menu-general-inside-math">
                                    <p>Apprentissage +</p>
                                </div>
                            </a>
                        </div>  

                        

                       

                        <%= render 'shared/button_towards_learning'  %> 




                    </div>
                </div>


            </div>


        </div>
    </div>
</div>





<h2 id="h2-cubetto">Cubetto</h2>




<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        
                        <div class="embed-responsive embed-responsive-16by9 reclame" style="padding: 5px">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kp1p2lh2D64" 
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            







<%# 
PPP-robot-programmation-cubetto.png %>


<!-- Nature > intro -->
<!-- Nature > intro -->

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        
            <div class="col-10 " >
                    <%= image_tag("PPP-randi.jpg", class: "img-fluid mx-auto d-block img-temoignage" ) %> 
            </div>

        <div class="col-1"></div>
    </div>
</div>

<%# PPP-randi.jpg %>


<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 musique-intro">
        
            <blockquote>
                <h2 class="learnings-introduction-citation" style="font-weight: normal !important">
                    "This will teach girls and boys all over the world the basics of programming away from the screen"
                </h2>
            </blockquote>
            <cite style="margin-bottom:20px;">Randi Zuckerberg - CEO Zuckerberg Media</cite>

        </div>
        <div class="col-1"></div>
    </div>
</div>
<!-- Nature > intro -->
<!-- Nature > intro -->

<div style="display:flex; justify-content:center; align-items:center; margin-top:20px">
    <%= link_to "Primo - Le concepteur", 
    "https://www.primotoys.com/",
    target: "_blank", class: " btn btn-hello", data: { turbolinks: false } %> 
</div>

<strong></strong>





<%# **************************************************
CUBETTO > POINTS FORTS
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-1">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Points forts de Cubetto</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


<ul>
    <li>
        Éveil à la programmation sans écran !
    </li>
    <li>
        Sa simplicité et son résultat immédiatement visible
    </li>
    <li>
        À partir de 3 ans
    </li>
</ul>                           
                            
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>







<%# **************************************************
CUBETTO > COMPOSITION
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Cubetto est composé de 3 éléments</h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


<ul>
    <li>
        Cubetto est composé de trois éléments : un petit cube mignon avec des roues, un plateau de jeu et surtout, 
        une sorte de planche sur laquelle se fixent des symboles.  
    </li>
    <li>
    Ces symboles correspondent à des actions simples :
         avancer, reculer, tourner à droite, tourner à gauche ou exécuter une fonctions. Il suffit alors de définir un
          objectif à l’enfant, par exemple faire aller le robot de la maison à la forêt, et c’est lui qui va créer le
           programme qui permettra le déplacement.
    </li>
    <li>
        Une fois le bouton de démarrage appuyé, le programme est lancé et 
           le robot va suivre les instructions pour se diriger sur le plateau de jeu.  Un livre d’histoire, en anglais,
            donne quelques scénarios à exploiter.
    </li>
</ul>                           
                            
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>



<%# **************************************************
CUBETTO > COMPOSITION
************************************************** %>


<div class="container " style="margin-top: 30px">
    <div class="row">
        <div class="col-12">

            <div class="box-AAA-menu ">


                <div class="button-ancre">
                        <p id="ancre-2">M</p>
                </div>
                <a href="#menu-start" class="box-link">  
                    <div class="button-menu">
                            <p>Menu</p>
                    </div>
                </a> 
                <h2  style="margin-bottom: 15px">Pour creuser l'apprentissage... </h2>
                <%# <p style="font-size:20px; padding-top: 20px; padding-bottom: 20px"><strong>Supers pouvoirs 
                associés à cette intelligence:</strong></p> %>
                    <div class="container cont-chambre cont-img-salon">
                        <div class="row">


<ul>
    <li>
        Pour creuser un peu l’apprentissage, le robot peut aussi déclencher des fonctions qui lui permettent de suivre une routine définie dans un cadre séparé. 
        L’idée, c’est d’apprendre aux enfants à partir de 3 ans des concepts aussi complexes que les algorithmes, la recherche et l’élimination de bugs et les fonctions 
        et autres boucles qui sont à la base de tous les programmes. En d’autres termes, Cubetto cherche à inculquer aux plus jeunes une manière de penser qui permet 
        e résoudre des problèmes grâce à l’informatique et qui leur servira au moment où ils apprendront leur premier véritable langage. Le tout, sans jamais avoir besoin d’un écran.
    </li>
</ul>                           
                            
                            
<%# ******************************************************************** %>
                        </div>  
                    </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
            </div>
<%# ******************************************************************** %>


<%# ******************************************************************** %>
        </div>
    </div>
</div>
<%# ******************************************************************** %>