<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<div class="banner-motricite-page" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'DDD-motricite.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">LE DÉVELOPPEMENT DE LA MOTRICITÉ GLOBALE DE 0 À 5 ANS</h1> 
    </div>  
</div>



<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="col-12 fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "motricité globale", developpement_enfant_motricite_etape_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>



<%# <div class="container">
    <div class="row">
        <div class="col-12 title-dev" style="margin-top:20px">
            <div class="title-dev-1" >
                <h1 style="text-align: center"><strong>LE DÉVELOPPEMENT DE LA MOTRICITÉ GLOBALE DE 0 À 5 ANS</strong></h1>
            </div>
        </div>
    </div>
</div> %>


<div class="container box-container-singapour" style="margin-top:10px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Qu'est-ce que la motricité globale ?</h2>
                
                <ul>
                    <li>
                    Ensemble des gestes moteurs de l'enfant, qui lui permettront de gagner en aisance avec son corps.
                    </li>
                    <li>
                    On oppose la motricité globale à la motricité fine (gestes plus raffinés et des prises d’objets plus petites).
                    </li>
                    <li>
                    La motricité globale comprend la coordination:
                    </li>
                        <ul>
                            <li>
                            des membres supérieurs et inférieurs.
                            </li>
                            <li>
                            les bras pour pouvoir attrapper un objet.
                            </li>
                            <li>
                            les jambes pour marcher.
                            </li>
                            <li>
                            etc.
                            </li>
                        </ul>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Les étapes de la motricité globale</h2>
                
                <ul>
                    <li>
                    Chaque enfant évolue à son propre rythme. (Voir infographie ci-dessous de "naître et grandir" 
                    pour avoir une idée des étapes et des tranches d'âge associées.)
                    </li>
                    <li>
                    Un enfant qui réussit à marcher tôt, développera son langage un peu plus tard, et vise versa.
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-12">
            <div class="col-12 dev-emotion-image">
                <%= image_tag("MMM_motricite-etapes-developpement.jfif", class: ".img-fluid img-motricite") %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box-plasticité-ressources">
                <p>Pour approfondir !</p>
                <br>
                <ul> 
                    <li><%= link_to "xxx", 
                        "https://www.celinealvarez.org/",
                        target: "_blank", data: { turbolinks: false } %></li>
                    
                    <li><%= link_to "xxx",
                        "https://www.celinealvarez.org/plasticite-cerebrale-4-regles-dor",
                        target: "_blank", data: { turbolinks: false } %></li>

                    
                    </ul>
            </div>
        </div>
    </div>
</div>

<%# https://paroledemamans.com/bebe-0-3-ans/eveil-et-developpement/tout-savoir-sur-la-motricite-globale-chez-lenfant %>




<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-12">
        
        </div>
    </div>
</div>