<%# TITLE %>
<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="col-12 fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "cerveau", developpement_enfant_cerveau_plasticite_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <%= link_to developpement_enfant_cerveau_plasticite_path, class: "box-link", data: { turbolinks: false }, :action => 'go' do   %>
            <div class="box-cerveau-ok"  >
                <p>Plasticité cérébrale</p>
            </div>
            <% end %>
        </div>
        <div class="col-6">
            <%= link_to developpement_enfant_cerveau_emotions_path, class: "box-link", data: { turbolinks: false }, :action => 'go' do   %>
            <div class="box-cerveau"  >
                <p>Les émotions</p>
            </div>
            <% end %>
        </div>
            
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top:20px">
            <h1 style="text-align: center"><strong>"PLASTICITÉ CÉRÉBRALE CHEZ L'ENFANT DE 0 à 6 ANS"</strong></h1>
            
        </div>
    </div>
</div>


<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Entre 0 et 6 ans, l'enfant est une véritable éponge !</h2>
                
                <ul>
                    <li>
                    Lors des six premières années de sa vie, l’être humain possède un mécanisme cérébral
             que l’on pourrait dire absorbant, le dotant du pouvoir d’incarner l’environnement sans
            effort, en réalisant pour chaque expérience vécue, un nombre impressionnant de connexions neuronales.
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>L'élagage synaptique !</h2>
                
                <ul>
                    <li>
                    les connexions les plus fréquemment utilisées. C'est ce que l'on appelle l'élagage synaptique, 
            c'est ainsi que l'être humain apprend et se spécialise.
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container box-container-singapour" style="margin-top: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-singapour">
                <h2>Conséquence de l'élagage synaptique</h2>
                
                <ul>
                    <li>
                    Les expériences quotidiennes de l'enfant s'encodent et structurent directement
                 l'architecture de son cerveau.
                    </li>
                    <li>
                    Un jour, on se rencontre qu'il bouge et réagit comme nous ! Consciemment ou inconsciemment, 
                nous avons participé à l'encoder pour le meilleur ou pour le pire.
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12">
        <p style="font-size:35px; text-align:center; margin-bottom:0px"><strong>Les 4 règles d'or</strong></p>
        <p style="font-size: 10px; font-style:italic; text-align:center">(Céline Alvarez)</p>   
            <div class="box-plasticité">
                <p>#1 Exemplaire tu seras.</p>
            </div>    
        </div>
        <div class="col-12">
            <div class="box-plasticité">
                <p>#2 La démonstration tu feras.</p>
            </div>    
        </div>
        <div class="col-12">
            <div class="box-plasticité">
                <p>#3 La démonstration, plusieurs fois, tu feras.</p>
            </div>    
        </div>
        <div class="col-12">
            <div class="box-plasticité">
                <p>#4 Le mélange des âges tu vénéreras.</p>
            </div>    
        </div>
        <p><span class="source"><%= link_to "Source(s) : Plasticité cérébrale : 4 règles d’or - Céline Alvarez", 
        "https://www.celinealvarez.org/plasticite-cerebrale-4-regles-dor", class: "source-link",target: "_blank", data: { turbolinks: false } %><span></p> 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box-plasticité-ressources">
                <p>Pour approfondir !</p>
                <br>
                <ul> 
                    <li><%= link_to "Les lois naturelles de l'enfant - Céline Alvarez", 
                        "https://www.celinealvarez.org/",
                        target: "_blank", data: { turbolinks: false } %></li>
                    
                    <li><%= link_to "Plasticité cérébrale : 4 règles d’or - Céline Alvarez",
                        "https://www.celinealvarez.org/plasticite-cerebrale-4-regles-dor",
                        target: "_blank", data: { turbolinks: false } %></li>

                    <li><%= link_to "Plasticité – pour le meilleur ou pour le pire - Céline Alvarez", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    
                    <li><%= link_to "All you need is love - Céline Alvarez", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    
                    <li><%= link_to "Center of the Developing Child - Harvard University", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    <li><%= link_to "Fondements cognitifs des apprentissages scolaires - Collège de France.", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    <li><%= link_to "Éducation, plasticité cérébrale et recyclage neuronal - Stanislas Dehaene.", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    <li><%= link_to "TED book Brain power : from neurons to networks - Tiffany Shlain", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    </ul>
            </div>
        </div>
    </div>
</div>