<%# TITLE %>
<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="col-12 fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement de l'enfant", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> </p>     
        </div>
    </div>
</div>


<div class="container" style="margin-bottom:10px">
    <div class="row">
        <div class="col-12" style="margin-top:20px">
            <h1 style="text-align: center"><strong>LE DÉVELOPPEMENT DE L'ENFANT</strong></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row dev-title">
            <div>
                <h1>La compréhension du développement de mon enfant est 
                la clé pour accompagner ses apprentissages ! </h1>
            </div>
    </div>        
</div>

<%# BLOCKS %>
<div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <%= link_to developpement_enfant_cerveau_plasticite_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-dev" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'DDD_brain.jpg' %>)" >
                        <p>Le cerveau</p>
                    </div>
                <% end %>
            </div>
            <div class="col-md-12 col-lg-4">
                <%= link_to developpement_enfant_motricite_etape_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-dev" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'DDD_motor.jpg' %>)" >
                        <p>la motricité</p>
                    </div>
                <% end %>
            </div>
            <div class="col-md-12 col-lg-4">
                <%= link_to developpement_enfant_troubles_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-dev" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'DDD_bilan.jpg' %>)" >
                        <p>Les troubles du développement</p>
                    </div>
                <% end %>
            </div>
            <%# <div class="col-md-12 col-lg-4">
                <div class="box-dev" style="background-image: 
                linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'DDD_inquiet.jpg' %>
                    <%# <p>Le développement de mon enfant me préoccupe !</p>
                </div>
            </div> %>
    
        </div>
    </div>

<div class="container" style="margin-top: 20px; margin-bottom: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-reference">
                <h1>Notre sélection des "fantastiques" de l'apprentissage !</h1>
                <p class="ref-author">Céline Alvarez</p>
                <p>"la neuropédagogue qui fait des miracles avec les enfants." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Idriss Aberkane</p>
                <p>"La porte d'entrée des neurosciences. L'évangéliste de la neuroergonomie." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Stanislas Dehaene</p>
                <p>"La référence en matière de neurosciences." <span class="journalist">(Hello Houston Learnings)</span></p>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="image-book">
                <%= image_tag("books.png", class: ".img-fluid img-motricite") %>
            </div>
        </div>
    </div>
</div>
            