<%# TITLE %>
<% @title="Les Apprentissages par le Jeu pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>
<% content_for :head do %>
    <meta name="description" content="Les apprentissages pour les enfants de 2 à 6 ans basés
     sur les neurosciences, la méthode de Singapour et la pédagogie Montessori : 
nature, musique, cooking, lecture, mathématiques, puzzle, robotique, rangement, science...">
<% end %>


<%# NAVBAR %>
  <%= render 'shared/navbar_official' %> 

<%# BANNER %>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>)">
    <div class="container">
        <h1>HELLO HOUSTON LEARNINGS</h1> 
        <h2 style="color:#ccecfa">Accompagner les parents avec une sélection d'apprentissages par le jeu pour
         les enfants de 2 à 6 ans</h2>
        <%# <h3>Trouver un apprentissage pour votre enfant !</h3> %>
        <h2 style="font-size:20px; font-family: 'Open Sans', sans-serif !important; color:white 
        !important;">L'avancée des neurosciences, la robustesse de la méthode de Singapour et 
        de l'approche Montessori au service des apprentissages de vos enfants.</h2>
        <%# <h2 style="margin-bottom:0px">DATE DE LANCEMENT : FÉVRIER 2021</h2>  %>
    </div>  
</div>


<%# ACTIVITIES %>
<div class="container activities">
    <img src="<%= asset_path 'activities.png' %>" class="img-fluid" alt="">
</div>

<%# BLOCKS %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <%= link_to apprentissages_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'box_lego600x360.jpg' %>)" >
                    <p>Apprentissages par le jeu</p>
                </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4">
            <%= link_to developpement_enfant_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'développement.jpg' %>)" >
                <p>Développement de l'enfant</p>
            </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4">
            <%= link_to apprentissages_boosters_path, class: "box-link www", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Boosters de l'apprentissage</p>
                </div>
            <% end %>    
        </div>
    </div>
</div>

<div class="container home-quote-container">
    <div class="row">

<%# **************************************
NEUROSCIENCES
************************************** %>

        <div class="col-12">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "Les deux plus hautes formes d'excellence dans l'économie de la connaissance
                    sont l'excellence amoureuse et l'excellence amusante."
                    </h2>
                    <cite class="home-cite">
                    Libérez votre cerveau ! de Idriss Aberkane
                    </cite>
                </blockquote>
            </div>
        </div>

<%# **************************************
MONTESSORI
************************************** %>

        <div class="col-12 col-12-margin-top">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "La période la plus importante de la vie se situe entre 
                    la naissance et six ans et non pas durant les études universitaires."
                    </h2>
                    <cite class="home-cite">
                    Maria Montessori
                    </cite>
                </blockquote>
            </div>
        </div>


<%# **************************************
MONTESSORI - CHARLOTTE POUSSIN
************************************** %>

        <div class="col-12 col-12-margin-top">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "Montessori. On entend souvent parler de méthode, de pédagogie, d'approche, d'éducation.
                    Les deux termes que j'utilise le plus souvent sont "approche" et "éducation" parce que 
                    c'est avant tout un état d'esprit. Montessori n'est pas figé dans le marbre. Ce n'est 
                    pas une recette que l'on déroule et qu'on applique. C'est un respect de l'enfant, 
                    une approche et un état d'esprit qui fait confiance à l'enfant, qui le place au centre,
                    non pas pour en faire un enfant roi, mais pour que jaillisse et se développe sa 
                    personnalité de façon harmonieuse en étant respectueuse de lui-même et des autres."
                    </h2>
                    <cite class="home-cite">
                    Charlotte Poussin, éducatrice Montessori
                    </cite>
                </blockquote>
            </div>
        </div>






<%# **************************************
SINGAPOUR
************************************** %>

        <div class="col-12 col-12-margin-top col-12-margin-bottom">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "La méthode de Singapour aide les enfants à réfléchir, à raisonner. Elle les incite à voir la présence
                        des mathématiques dans leur vie, leurs applications et même leur beauté. La manipulation et la 
                        résolution de problèmes mettant en scène des situations concrètes mènent progressivement à 
                        l'abstraction, ce qui permet d'assoir des connaissances approfondies qui peuvent aider à 
                        la compréhension de notions plus avancées, introduites au collège, au lycée, et même à l'université."
                    </h2>
                    <cite class="home-cite">
                    Monica Neagoy - didacticienne qui a traduit et adapté la méthode Singapour en France.
                    </cite>
                </blockquote>
            </div>
        </div>



    </div>
</div>



<%# **************************************
LES 3 FANTASTIQUES
LES 3 FANTASTIQUES
LES 3 FANTASTIQUES
************************************** %>

<%= render 'shared/les_fantastiques'  %>





<%# VIDEO ***********************************************************************************
VIDEO ***********************************************************************************
VIDEO *********************************************************************************** %>

<div class="container container-video-margin">
    <div class="row">


        <div class="col-2"></div>

        <div class="col-8">
            <h2 class="home-video-h2">Les émotions chez les 0 à 5 ans</h2>
            <div class="embed-responsive embed-responsive-16by9 home-reclame" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y5Ua4AC7J8" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# VIDEO 1 > APPRENDRE À LIRE    %>
            <h2 class="home-video-h2">Montessori et l'apprentissage de la lecture</h2>    
            <div class="embed-responsive embed-responsive-16by9 home-reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rarDey_MBRM" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# VIDEO 1 > L'APPROCHE MONTESSORI PAR CHARLOTTE POUSSIN  %>
            <h2 class="home-video-h2">L'approche Montessori par Charlotte Poussin</h2>    
            <div class="embed-responsive embed-responsive-16by9 home-reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bJ6wlIYLQxc" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>


<%# VIDEO 1 > L'AMOUR DES MATHS AVEC LA MÉTHODE SINGAPOUR (Monica Neagoy) %>
            <h2 class="home-video-h2">L'amour des maths avec la méthode Singapour (Monica Neagoy)</h2>    
            <div class="embed-responsive embed-responsive-16by9 home-reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i9FUyQu2BVc" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

<%# VIDEO 1 > NEUROSCIENCES & MUSIQUE    %>
            <h2 class="home-video-h2">Les bienfaits de la musique</h2>
            <div class="embed-responsive embed-responsive-16by9 home-reclame" style="padding: 5px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijT7nsA290I" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="col-2"></div>


    </div>
</div>

            

<%# <div class="nk-cookie-banner alert alert-dark text-center mb-0" role="alert">
  🍪 This website uses cookies to ensure you get the best experience on our website.
  <a href="/privacy/" target="blank" rel="noopener noreferrer">Learn more</a>
  <button type="button" class="btn btn-primary btn-sm ml-3" onclick="window.nk_hideCookieBanner()">
    I Got It
  </button>
</div> %>