<%# TITLE %>
<% @title="Hello Houston Learnings" %>

<%# NAVBAR %>
  <%# <%= render 'shared/navbar_official'  %> 

<%# BANNER %>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>)">
    <div class="container">
        <h1>HELLO HOUSTON LEARNINGS</h1> 
        <h2 style="color:#ccecfa">L'apprentissage par le jeu pour les 2 à 6 ans</h2>
        <%# <h3>Trouver un apprentissage pour votre enfant !</h3> %>
        <p>L'avancée des neurosciences, la robustesse de la méthode de Singapour et 
        de la pédagogie Montessori au service des apprentissages de vos enfants.</p>
        <%# <h2 style="margin-bottom:0px">DATE DE LANCEMENT : FÉVRIER 2021</h2>  %>
    </div>  
</div>


<%# ACTIVITIES %>
<div class="container activities">
    <img src="<%= asset_path 'activities.png' %>" class="img-fluid" alt="">
</div>

<%# BLOCKS %>
<div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'box_lego600x360.jpg' %>)" >
                    <p>Apprentissages par le jeu</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'développement.jpg' %>)" >
                    <p>Développement de l'enfant</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Boosters de l'apprentissage</p>
                </div>
            </div>
            
        </div>
    </div>


    