<%# TITLE %>
<% @title="Homebis" %>

<%# BANNER %>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>)">
    <div class="container">
        <h1>HELLO HOUSTON LEARNINGS</h1> 
        <h3>L'apprentissage par le jeu pour les 2 à 6 ans</h3>
        <p>Trouver un apprentissage pour votre enfant !</p>
        <p>Tous les jeux proposés respectent les principes des neurosciences, de la méthode de Singapour et de pédagogie Montessori.</p>
    </div>  
</div>


<%# ACTIVITIES %>
<div class="container activities">
    <img src="<%= asset_path 'activities.png' %>" class="img-fluid" alt="">
</div>

<%# BLOCKS %>
<div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'box_lego600x360.jpg' %>)" >
                    <p>Apprentissages</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'développement.jpg' %>)" >
                    <p>Développement de l'enfant</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Boosters de l'apprentissage</p>
                </div>
            </div>
            
        </div>
    </div>


    