<%# TITLE %>
<% @title="Les Apprentissages par le Jeu pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>
<% content_for :head do %>
    <meta name="description" content="Les apprentissages pour les enfants de 2 à 6 ans basés
     sur les neurosciences, la méthode de Singapour et la pédagogie Montessori : 
nature, musique, cooking, lecture, mathématiques, puzzle, robotique, rangement, science...">
<% end %>


<%# NAVBAR %>
  <%= render 'shared/navbar_official' %> 

<%# BANNER %>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>)">
    <div class="container">
        <h1>HELLO HOUSTON LEARNINGS</h1> 
        <h2 style="color:#ccecfa">L'apprentissage par le jeu pour les 2 à 6 ans</h2>
        <%# <h3>Trouver un apprentissage pour votre enfant !</h3> %>
        <p>L'avancée des neurosciences, la robustesse de la méthode de Singapour et 
        de la pédagogie Montessori au service des apprentissages de vos enfants.</p>
        <%# <h2 style="margin-bottom:0px">DATE DE LANCEMENT : FÉVRIER 2021</h2>  %>
    </div>  
</div>


<%# ACTIVITIES %>
<div class="container activities">
    <img src="<%= asset_path 'activities.png' %>" class="img-fluid" alt="">
</div>

<%# BLOCKS %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <%= link_to apprentissages_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'box_lego600x360.jpg' %>)" >
                    <p>Apprentissages par le jeu</p>
                </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4">
            <%= link_to developpement_enfant_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'développement.jpg' %>)" >
                <p>Développement de l'enfant</p>
            </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4">
            <%= link_to apprentissages_boosters_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Boosters de l'apprentissage</p>
                </div>
            <% end %>    
        </div>
    </div>
</div>

<div class="container home-quote-container">
    <div class="row">

<%# **************************************
NEUROSCIENCES
************************************** %>

        <div class="col-12">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "Les deux plus hautes formes d'excellence dans l'économie de la connaissance
                    sont l'excellence amoureuse et l'excellence amusante."
                    </h2>
                    <cite class="home-cite">
                    Libérez votre cerveau ! de Idriss Aberkane
                    </cite>
                </blockquote>
            </div>
        </div>

<%# **************************************
MONTESSORI
************************************** %>

        <div class="col-12 col-12-margin-top">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "La période la plus importante de la vie se situe entre 
                    la naissance et six ans et non pas durant les études universitaires."
                    </h2>
                    <cite class="home-cite">
                    Maria Montessori
                    </cite>
                </blockquote>
            </div>
        </div>

<%# **************************************
SINGAPOUR
************************************** %>

        <div class="col-12 col-12-margin-top col-12-margin-bottom">
            <div class="home-quote-div">
                <blockquote>
                    <h2 class="quote-width-992px">
                    "La méthode Singapour aide les enfants à réfléchir, à raisonner. Elle les incite à voir la présence
                        des mathématiques dans leur vie, leurs applications et même leur beauté. La manipulation et la 
                        résolution de problèmes mettant en scène des situations concrètes mènent progressivement à 
                        l'abstraction, ce qui permet d'assoir des connaissances approfondies qui peuvent aider à 
                        la compréhension de notions plus avancées, introduites au collège, au lycée, et même à l'université."
                    </h2>
                    <cite class="home-cite">
                    Monica Neagoy - didacticienne qui a traduit et adapté la méthode Singapour en France.
                    </cite>
                </blockquote>
            </div>
        </div>



    </div>
</div>

<%# **************************************
LES 3 FANTASTIQUES
************************************** %>

<div class="container" style="margin-top: 20px; margin-bottom: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-reference">
                <h1>Notre sélection des "fantastiques" de l'apprentissage !</h1>
                <p class="ref-author">Céline Alvarez</p>
                <p>"la neuropédagogue qui fait des miracles avec les enfants." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Idriss Aberkane</p>
                <p>"La porte d'entrée des neurosciences. L'évangéliste de la neuroergonomie." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Stanislas Dehaene</p>
                <p>"La référence en matière de neurosciences." <span class="journalist">(Hello Houston Learnings)</span></p>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="image-book">
                <%= image_tag("books.png", class: ".img-fluid img-motricite") %>
            </div>
        </div>
    </div>
</div>
