<% @title="Présentation | Hello Houston Learnings" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>

<%# BANNER %>
<%# <div class="banner-singapour" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'activities.png' %>
     <%# <div class="container">
        <h1 style="margin-bottom:0px">HELLO HOUSTON LEARNINGS</h1> 
    </div>   %>
<%# </div> %>

<div class="container activities">
    <img src="<%= asset_path 'activities.png' %>" class="img-fluid" alt="">
</div>

<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p>
             <%= link_to "home", root_path, class: " link ariane", id: "menu-start", data: { turbolinks: false } %> > 
             <%= link_to "présentation", presentation_path, class: " link ariane", data: { turbolinks: false } %> 
             </p>     
        </div>
    </div>
</div>


<%# ********************************************* %>
<%# INTRODUCTION%> 
<%# ********************************************* %>




        

<div class="container box-container-singapour" style="margin-top: 20px">
    <div class="row">
        <div class="col-12" style="margin-bottom: 20px">
            <div class="box-montessori-intro ">
                <p style="font-size: 20px;">Trouver des apprentissages pour les enfants de 2 à 6 ans relève parfois du casse-tête 
                pour les parents (choix, connaissances, pédagogie, qualité...). 
                </p>
                <p style="font-size: 20px;">
                De plus, les jeunes enfants sont en plein développement cérébral et moteur.
                Comment les accompagner au mieux dans leur développement ?
                </p>
            </div>
        </div>
    </div>
</div>

<%# ********************************************* %>
<%# MISSION%>
<%# ********************************************* %>

<div class="container">
    <div class="row">

        <div class="col-12 " style="margin-bottom: 20px">
            <div>
                <p style="font-size:35px; text-align:center; margin-bottom:0px; color: #03bddf">
                <strong>Notre mission</strong></p>
            </div>
        </div>

        <%# <div class="col-12" >
            <p style="padding: 0 10px; font-size: 20px;">Hello Houston Learnings a pour mission de proposer aux parents 
            d'enfants de 2 à 6 ans une sélection d'apprentissages basée sur l'avancée
             des neurosciences, la pédagogie Montessori et la méthode de Singapour.
            </p>
        </div> %>

        

        <div class="col-12 box-presentation-conviction-margin">    
            <div class="box-presentation-conviction">
                <p>Hello Houston Learnings a pour mission de proposer aux parents 
            d'enfants de 2 à 6 ans une sélection d'apprentissages basée sur l'avancée
             des neurosciences, la pédagogie Montessori et la méthode de Singapour afin  
             d'accompagner les jeunes enfants dans leurs développement cérébral et moteur. 
                </p>
                <p>Contribuer à l'épanouissement de l'enfant grâce aux apprentissages est le premier moteur de 
                l'équipe Hello Houston Learnings.</p>
            </div>    
        </div>

        


    </div>
</div>

<%# ********************************************* %>
<%# CONVICTIONS %>
<%# ********************************************* %>



<div class="container" style="margin-top: 20px">
    <div class="row">

        <div class="col-12 " style="margin-bottom: 20px">
            <div>
                <p style="font-size:35px; text-align:center; margin-bottom:0px; color: #03bddf">
                <strong>Nos convictions</strong></p>
            </div>
        </div>

        <div class="col-12 box-presentation-conviction-margin">    
            <div class="box-presentation-conviction">
                <p>"La période la plus importante de la vie se situe entre la naissance et six ans 
                et non pas durant les études universitaires." - Maria Montessori
                </p>
            </div>    
        </div>

        <div class="col-12 box-presentation-conviction-margin">
            <div class="box-presentation-conviction">
                <p>Le rôle des parents est essentiel dans les apprentissages des jeunes enfants.
                </p>
            </div>    
        </div>

        <div class="col-12 box-presentation-conviction-margin">
            <div class="box-presentation-conviction">
                <p>Les parents ont besoin d'idées, de suggestions pour les apprentissages de leurs
                 jeunes enfants. Nous travaillons en profondeur les différentes facettes des apprentissages 
                 telles que les bienfaits, la pédagogie et la motivation.
                </p>
            </div>    
        </div>

        <div class="col-12 box-presentation-conviction-margin">
            <div class="box-presentation-conviction">
                <p>Le jeu est la façon idéale pour apprendre.
                </p>
            </div>    
        </div>

        <div class="col-12 box-presentation-conviction-margin">
            <div class="box-presentation-conviction">
                <p>Les neurosciences, la pédagogie Montessori et la méthode de Singapour sont 
                3 alliés pour les apprentissages des jeunes enfants.

                </p>
            </div>    
        </div>
    </div>
</div>




















<div class="container">
    <div class="row">
        <div class="col-12">
        
        </div>
    </div>
</div>