
<%# *************************************************************************** %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# *************************************************************************** %>

<div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_last.jpg' %>)" >
                        <p>L'exemplarité</p>
                        <p>(Mimer / Copier)</p>
                    </div>
                <% end %>
            </div>




            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_jeu_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_space_x.jpg' %>)" >
                        <p>L'excellence amoureuse</p>
                    </div>
                <% end %>
            </div>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_last.jpg' %>)" >
                        <p>L'utilité</p>
                    </div>
                <% end %>
            </div>

            
            
           
            
    
            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_last.jpg' %>)" >
                        <p>Concentration</p>
                    </div>
                <% end %>
            </div>


            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_last.jpg' %>)" >
                        <p>Mettre des roulettes aux apprentissages</p>
                    </div>
                <% end %>
            </div>

            <div class="col-md-12 col-lg-4">
                <%= link_to apprentissages_boosters_pedagogie_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-boosters" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url(<%= asset_path 'BBB_last.jpg' %>)" >
                        <p>Ne pas rebuter !</p>
                    </div>
                <% end %>
            </div>

        </div>
    </div>



<%# *************************************************************************** %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# BOOSTERS > HOME %>
<%# *************************************************************************** %>





<%# *************************************************************************** %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# *************************************************************************** %>



    
<%# CALCUL MENTAL  ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Calcul mental</p>
                </div>
            </div>

<%# SPORTS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_sports.jpg' %>)" >
                    <p>Sports</p>
                </div>
            </div>


            



            



<%# ROBOTICS   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_robotics.jpg' %>)">
                    <p>Robotics</p>
                </div>
            </div>






            

<%# DISOVERING THE WORLD   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_world.jpg' %>)">
                    <p>Discovering the world</p>
                </div>

<%# RIGHT / LEFT   ********************************************* %>

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_right_left.jpg' %>)">
                    <p>Right / Left</p>
                </div>
            </div>



<%# TIDYING UP   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_tidy_up.jpg' %>)">
                    <p>Tidying up</p>
                </div>
            </div>

<%# CODING   ********************************************* %>

            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_coding.jpg' %>)">
                    <p>Coding</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'Boosters.jpg' %>)">
                    <p>Science</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_drawing.jpg' %>)">
                    <p>Drawing</p>
                </div>
            </div>



            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_strategy.jpg' %>)">
                    <p>Jeux de stratégie</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_casse_tete.jpg' %>)">
                    <p>Casse-têtes</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Émotions</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Painting</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Creativity</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Les 5 sens</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Les 5 sens</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Mémoire</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Autonomie</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Langue</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Jeu de construction</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Jeu vidéos</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>Méditation en pleine conscience</p>
                </div>
            </div>

            

<%# *************************************************************************** %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# APPRENTISSAGES > HOME %>
<%# *************************************************************************** %>