
<%# TITLE %>
<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> >
              <%= link_to "troubles du développement", developpement_enfant_troubles_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 row dev-title">
            <h1>
             Les troubles de l'audition, visuels, du language et moteurs
             sont des freins au bien-être et aux apprentissages de votre enfant. 
             C'est pourquoi, il est impératif de les traiter le plus en amont possible.
             Quel doit être le suivi? Quels en sont les symptômes ? Qui dois-je consulter ? 
              </h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            

                <%= link_to developpement_enfant_troubles_audition_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-troubles-1">
                        <p>Troubles de l'audition</p>
                    </div>
                <% end %>

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-troubles-1">
                    <p>Troubles visuels</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-troubles-1">
                    <p>Troubles du language</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="box-troubles-1">
                    <p>Troubles orthopédiques (moteurs)</p>
                </div>
            </div>
    </div>
</div>
