
<%# TITLE %>
<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# BANNER %>
<div class="banner-troubles-page" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
url(<%= asset_path 'DDD-banner-troubles.jpg' %>)">
    <div class="container">
        <h1 style="margin-bottom:0px">LES TROUBLES DU DÉVELOPPEMENT</h1> 
    </div>  
</div>

<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to "home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> >
              <%= link_to "troubles du développement", developpement_enfant_troubles_path, class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 dev-title">
            <h2 style="font-size:18px">
             Les troubles de l'audition, visuels, du language et moteurs
             sont des freins au bien-être et aux apprentissages de votre enfant. 
             C'est pourquoi, il est impératif de les traiter le plus en amont possible.
             Quel doit être le suivi? Quels en sont les symptômes ? Qui dois-je consulter ? 
              </h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        
        <div class="col-12 box-troubles-margin-bottom" >
                <%= link_to "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                target: "_blank", class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                    <div class="box-troubles-1">
                        <p class="trouble-p-noir">Troubles de l'audition</p>
                        <p>Spécialiste : ORL (Oto-Rhino-Laryngologie)</p>
                    </div>
                <% end %>
        </div>

            
        <div class="col-12 box-troubles-margin-bottom">
            <%= link_to "https://www.doctissimo.fr/html/sante/bien_voir/vision_enfant_niv2.htm",
                target: "_blank", class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-troubles-1">
                    <p class="trouble-p-noir">Troubles visuels</p>
                    <p>Spécialiste : Ophtalmologue</p>
                </div>
            <% end %>
        </div>

        <div class="col-12 box-troubles-margin-bottom">
            <%= link_to "https://www.doctissimo.fr/psychologie/troubles-langage/consultation-orthophoniste",
                target: "_blank", class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-troubles-1">
                    <p class="trouble-p-noir">Troubles du language</p>
                    <p>Spécialiste : Orthophoniste</p>
                </div>
            <% end %>
        </div>

        <div class="col-12 box-troubles-margin-bottom">
            <%= link_to "https://www.vidal.fr/sante/enfants/suivi-medical/troubles-orthopediques.html",
                target: "_blank", class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div class="box-troubles-1">
                    <p class="trouble-p-noir">Troubles orthopédiques (moteurs)</p>
                    <p>Spécialiste : Chirurgien orthopédiste pédiatrique</p>
                </div>
            <% end %>
        </div>

    </div>
</div>
