<%# TITLE %>
<% @title="Le développement de la motricité globale de 0 à 5 ans | Hello Houston Learnings |" %>

<%# NAVBAR %>
  <%= render 'shared/navbar_official'  %>


<%# ARIADNE'S THREAD %>
<div class="container ariane-container">
    <div class="row">
        <div class="fil-ariane">
             <p><%= link_to"home", homebis_path, class: " link ariane", data: { turbolinks: false } %> > 
             <%= link_to "developpement", developpement_enfant_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "troubles du développement", developpement_enfant_troubles_path, class: " link ariane", data: { turbolinks: false } %> >
             <%= link_to "troubles de l'audition", developpement_enfant_troubles_audition_path, 
             class: " link ariane", data: { turbolinks: false } %>
             </p>     
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center; margin: 20px 0px 40px 0px">
            <h1><strong>TROUBLES DE L'AUDITION</strong></h1>
        </div>
       
<div class="container">
    <div class="row">
        <div class="col-12">
            <p><strong>Médecin spécialiste à consulter</strong> : ORL</p>
            <p>Le dépistage précoce de la surdité est obligatoire depuis avril 2012 dans toutes les maternités. </p>
            
            <p><strong>Les symptômes des troubles auditifs (> à 3ans)</strong></p>
            <ul>
            <li>Retard de la parole</li>
            <li>Troubles du comportement</li>
            <li>Troubles de l'apprentissage</li>
            </ul>
            <br>
            <p style="margin-top:8px"><strong>D'autres signes peuvent également alerter au quotidien :  </strong>  </p>
            <ul>
            <li>L'enfant fait souvent répéter ses interlocuteurs et se 
            concentre sur les visages pour comprendre la parole ;</li>
            <li>Il a du mal à s'exprimer ; </li>
            <li>Il ne répond pas à l'appel de son nom ; </li>
            <li>Les bruits soudains et très forts n'entraînent pas de réaction de sa part ;</li>
            <li>Il comprend mieux les personnes à la voix grave qu'aiguë ;</li>
            <li>Son comportement change (il est plus agressif, a des frayeurs la nuit...). </li>
            </ul>
            <p><span class="source">Source(s) : Doctissimo<span></p>    
        </div>
    </div>
</div>

    

         <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="box-troubles" style="background-color: #0596de">
                    <p>Conseils d'experts !</p>
                    <ul> 
                        <li><%= link_to "Doctissimo", 
                        "https://www.doctissimo.fr/sante/audition/depistage-des-problemes-d-audition/depistage-troubles-audition-enfant",
                        target: "_blank", data: { turbolinks: false } %></li>
                    </ul>
                </div>
            </div>
            </div>
         </div>

    </div>
</div>

