 <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III_logic.jpg' %>)">
                    <p>L'intelligence logico-mathématique</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III_linguistic.jpg' %>)">
                    <p>L'intelligence verbale-linguistique</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III_music.jpg' %>)">
                    <p>L'intelligence musicale</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III_gym.jpg' %>)">
                    <p>L'intelligence corporelle-kinesthésique</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III_interpersonal.jpg' %>)">
                    <p>L'intelligence interpersonnelle</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III-nature.jpg' %>)">
                    <p>L'intelligence naturaliste</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'LLL_emotions.jpg' %>)">
                    <p>L'intelligence intrapersonnelle</p>
                </div>
            </div>
            <div class="col-12">
                <div class="box-learnings" style="background-image: 
                linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'III-geometry.jpg' %>)">
                    <p>L'intelligence visuelle sapciale</p>
                </div>
            </div>